<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Select Shipping Option</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item>
			<h2 ion-text color="danger">SUPPORTED LOGISTICS</h2>
			<small text-wrap>Supported Logistics allow you to track your order within Shoppy App</small>
		</ion-item>
		<ion-item tappable *ngFor="let item of shippingArr" (click)="selectItem(item)">
			<h2>{{item.name}} <b ion-text color="danger">{{currency.symbol}} {{item.fee | number:'.2'}}</b></h2>
			<!-- <small>Receive in 5-8 days</small> -->
			<ion-icon name="ios-checkmark" color="primary" item-end *ngIf="item.selected"></ion-icon>
		</ion-item>
	</ion-list>
</ion-content>
