<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>My Addressess</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewChat()">
        <ion-badge id="message-badge" *ngIf="unreadCount > 0" color="danger">{{unreadCount}}</ion-badge>
        <ion-icon ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let item of useraddress" class="my-card" tappable (click)="viewAddress(item)">
    <ion-card-header>
      {{item.name}}
      <div class="pull-right">
        <small ion-text color="primary" *ngIf="item.isDefaultAddress">[Default]</small>
        <small ion-text color="primary" *ngIf="item.isPickUpAddress">[Pickup]</small>
        <!-- <small ion-text color="primary">[Return]</small> -->
      </div>
    </ion-card-header>
    <ion-card-content>
      <p>{{item.mobile}}</p>
      <p>{{item.detailAddress}}</p>
      <p>{{item.suburb}} {{item.city}}</p>
      <p>{{item.state}}, {{item.country}} {{item.zipcode}}</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <button ion-item detail-none (click)="addNewAddress()">
      <h2 class="typo-r14">Add New Address</h2>
      <ion-icon name="add" item-end></ion-icon>
    </button>
  </ion-list>
</ion-content>
