<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>My Customers</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)" debounce="400" placeholder="Search for Customers"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="showContent">
    <ion-list *ngIf="customersArr && customersArr.length > 0">
      <ion-item tappable *ngFor="let item of customersArr">
        <ion-avatar item-start>
          <img [src]="item.user_img_path" onError="this.src='./assets/imgs/user.png'" </ion-avatar>
          <h4>{{item.firstname}} {{item.lastname}}</h4>
      </ion-item>
    </ion-list>
    <div class="myCard" *ngIf="customersArr && customersArr.length < 1">
      <div padding text-center>
        <img src="./assets/imgs/team.svg" />
        <p text-center>
          No customers yet
        </p>
      </div>
    </div>
  </div>
    <div *ngIf="!showContent">
    <div class="timeline-listitem" *ngFor="let item of fakeArr">
      <div class="animated-background-item">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
      </div>
    </div>
  </div>
</ion-content>
