<div class="voucher-ticket voucher-ticket--fancy voucher-ticket--seller shop-page-vouchers__voucher">
  <div class="voucher-ticket__body">
    <div class="voucher-ticket voucher-ticket--seller-mini">
      <div class="voucher-ticket__promo" *ngIf="voucher.voucherType == 'fixed'">{{currency.symbol_native}}{{voucher.voucherAmt}}</div>
      <div class="voucher-ticket__promo" *ngIf="voucher.voucherType == 'percentage'">{{voucher.maxDiscountPrice}}%</div>
    </div>
    <div class="voucher-ticket__description">
      <div class="typo-r10 voucher-ticket__requirement">Min. Spend {{voucher.minimumOrderAmt}}</div>
      <div class="typo-l14 voucher-ticket__expiry">Valid Till {{voucher.voucherTo | date: 'shortDate'}}</div>
    </div>
  </div>
  <div class="hairline-border-up voucher-ticket__footer typo-r10 voucher-ticket__code">
    <span class="voucher-ticket__code-label">Code:&nbsp;</span><span class="voucher-ticket__code-content">{{voucher.voucherCode}}</span>
  </div>
  <div class="btnActive button" *ngIf="voucher.enableClaim">Claim</div>
</div>
