<ion-content>
  <ion-slides pager (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <div class="diag" style="background: #EEC65D;">
        <!-- <ion-icon ios="ios-analytics" md="md-analytics" color="primary" [@bounce]='state' (@bounce.done)="animationDone()"></ion-icon> -->
        <img src="./assets/imgs/intro1.png">
      </div>
      <div>
        <h2>Explore Products</h2>
        <p>Explore thousands of products and start shopping</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="diag" style="background: #4fdca3;">
        <!-- <ion-icon ios="ios-trophy" md="md-trophy" color="primary" [@bounce]='state'></ion-icon> -->
        <img src="./assets/imgs/intro3.png">
      </div>
      <div>
        <h2>Make Payment</h2>
        <p>Up to ten plus options of payments</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="diag" style="background: #F74C5A;">
        <!-- <ion-icon ios="ios-chatboxes" md="md-chatboxes" color="primary" [@bounce]='state'></ion-icon> -->
        <img src="./assets/imgs/intro2.png">
      </div>
      <div>
        <h2>Enjoy Shopping</h2>
        <p>Get high quality products with reasonable prices</p>
      </div>
    </ion-slide>
  </ion-slides>
  <button (click)="skip()" id="skip">{{ skipMsg }}</button>
</ion-content>