<ion-list>
  <ion-item-divider>
    <h2 class="typo-r14">Shipping To:</h2>
    <div item-end>
      <p class="typo-r14"></p>
    </div>
  </ion-item-divider>
  <ion-item *ngFor="let item of shippingFeeArr">
    <h2 class="typo-r14">{{item.name}} (<span class="typo-m12">{{item.slug}}</span>)</h2>
    <p class="typo-l14">Received in 3-9 days</p>
    <div item-end>
      <b ion-text color="dangers">{{currency.symbol_native}} {{item.fee | number}}</b>
    </div>
  </ion-item>
</ion-list>
