<ion-list>
  <ion-list-header color="light"><span style="color: #FF6500;">Please select products for Return/Refund</span></ion-list-header>
  <ion-item-divider>
    <ion-avatar item-start>
      <img src="./assets/imgs/user.png">
      </ion-avatar>
      <h2>{{order.sellerName}}</h2>
  </ion-item-divider>
  <div *ngFor="let item of order.details">
    <ion-item class="cart-item" text-wrap>
      <ion-checkbox color="primary" [(ngModel)]="item.selected"></ion-checkbox>
      <ion-thumbnail item-start>
        <img [src]="item.image.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
        </ion-thumbnail>
        <div item-content>
          <h4>{{item.detailName}}</h4>
          <p *ngIf="item.variantId">
            <ion-note>Variation: {{item.variantName}}</ion-note>
          </p>
          <p>
            <small>x {{item.detailQty}}</small>
            <br>
            <small>{{item.detailPrice}}</small>
          </p>
        </div>
    </ion-item>
  </div>
  <ion-list-header color="light"><span style="color: #FF6500;">Select Reason</span></ion-list-header>
  <ion-item text-wrap tappable (click)="selectReturnReason(item)" *ngFor="let item of returnArr | orderBy:'id'">
    <h3>{{item.return}}</h3>
    <ion-icon name="checkmark" color="danger" item-end *ngIf="item.selected"></ion-icon>
  </ion-item>
  <ion-list-header color="light"><span style="color: #FF6500;">Add Photo</span></ion-list-header>
  <div>
    <div class="images-wrapper">
      <div class="image-wrapper" *ngFor="let image of imagesValue">
        <ion-icon class="remove-image" name="close" *ngIf="!isUploading" (click)="removeImage(image)"></ion-icon>
        <div class="image" [style.background-image]="image.sanitized">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" [class.uploading]="isUploading" alt="" />
          <ion-spinner *ngIf="isUploading && uploadingProgress[image.url]<100"></ion-spinner>
          <ion-icon name="checkmark" *ngIf="isUploading && uploadingProgress[image.url]==100"></ion-icon>
          <div *ngIf="isUploading" class="progress-bar">
            <div class="progress" [style.width]="(uploadingProgress[image.url]||0)+'%'"></div>
          </div>
        </div>
      </div>
      <div class="image-wrapper add-image-btn" *ngIf="!isUploading" (click)="showAddImage()">
        <div class="image">
          <ion-icon name="add"></ion-icon>
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" />
          </div>
        </div>
      </div>
    </div>
    <ion-item>
      <ion-textarea placeholder="Return/Refund Reason... (optional)" [(ngModel)]="return.returnedReason2"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email Address</ion-label>
      <ion-input type="email" placeholder="Email address" [(ngModel)]="return.returnEmailAddress"></ion-input>
      <br>
      <small>Set your email address so that we cant contact you.</small>
    </ion-item>
</ion-list>
