<ion-list class="form">
  <ion-item>
    <ion-label stacked>Name</ion-label>
    <ion-input type="text" name="name" [(ngModel)]="address.name"></ion-input>
  </ion-item>
  <ion-item no-line *ngIf="errArr.length >0">
    <div *ngFor="let item of errArr">
      <div class="has-error" *ngIf="item.param == 'name'">
        {{item.msg}}
      </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label stacked>Phone Number</ion-label>
    <ion-input type="text" name="mobile" [(ngModel)]="address.mobile"></ion-input>
  </ion-item>
  <ion-item no-line *ngIf="errArr.length >0">
    <div *ngFor="let item of errArr">
      <div class="has-error" *ngIf="item.param == 'mobile'">
        {{item.msg}}
      </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label stacked>State</ion-label>
    <ion-input type="text" name="state" [(ngModel)]="address.state"></ion-input>
  </ion-item>
  <ion-item no-line *ngIf="errArr.length >0">
    <div *ngFor="let item of errArr">
      <div class="has-error" *ngIf="item.param == 'state'">
        {{item.msg}}
      </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label stacked>Suburb</ion-label>
    <ion-input type="text" name="suburb" [(ngModel)]="address.suburb"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>City</ion-label>
    <ion-input type="text" name="city" [(ngModel)]="address.city"></ion-input>
  </ion-item>
  <ion-item no-line *ngIf="errArr.length >0">
    <div *ngFor="let item of errArr">
      <div class="has-error" *ngIf="item.param == 'city'">
        {{item.msg}}
      </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label stacked>Postal Code</ion-label>
    <ion-input type="text" name="postal" [(ngModel)]="address.zipcode"></ion-input>
  </ion-item>
  <ion-item no-line *ngIf="errArr.length >0">
    <div *ngFor="let item of errArr">
      <div class="has-error" *ngIf="item.param == 'zipcode'">
        {{item.msg}}
      </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label stacked>Country</ion-label>
    <ion-select name="country" [(ngModel)]="address.country">
      <ion-option [value]="item.alpha3Code" *ngFor="let item of countries">
        {{item.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-item no-line *ngIf="errArr.length >0">
    <div *ngFor="let item of errArr">
      <div class="has-error" *ngIf="item.param == 'country'">
        {{item.msg}}
      </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label stacked>Detailed Address</ion-label>
    <ion-textarea [(ngModel)]="address.detailAddress" name="detailAddress"></ion-textarea>
  </ion-item>
  <ion-item no-line *ngIf="errArr.length >0">
    <div *ngFor="let item of errArr">
      <div class="has-error" *ngIf="item.param == 'detailAddress'">
        {{item.msg}}
      </div>
    </div>
  </ion-item>
</ion-list>
<ion-list padding-top>
  <ion-item>
    <ion-label> Set As Default Address</ion-label>
    <ion-toggle [(ngModel)]="address.isDefault" mode="md"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> Set As Pickup Address</ion-label>
    <ion-toggle [(ngModel)]="address.isPickup" mode="md"></ion-toggle>
  </ion-item>
  <!-- <ion-item>
      <ion-label> Set As Return Address</ion-label>
      <ion-toggle [(ngModel)]="address" mode="md"></ion-toggle>
    </ion-item> -->
</ion-list>
<ion-list padding-top *ngIf="showDelete">
  <button ion-item detail-none (click)="deleteAddress()">
    <h2 ion-text color="danger">Delete Address</h2>
  </button>
</ion-list>
