<ion-header no-border no-line>
  <ion-navbar color="shoppyprimary">
    <ion-title>
      Shopping Cart
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewChat()">
        <ion-badge id="message-badge" *ngIf="unreadCount > 0" color="danger">{{unreadCount}}</ion-badge>
        <ion-icon ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="myCard" *ngIf="!showCart">
    <div padding text-center>
      <img src="./assets/imgs/shopping-cart.svg" />
    </div>
    <ion-card-content>
      <p text-center>
        <button ion-button color="secondary" (click)="back()">Go Shopping Now</button>
      </p>
    </ion-card-content>
  </div>
  <ion-list *ngIf="showCart">
    <ion-item-group *ngFor="let item of cartArr">
      <ion-item-divider color="light">
        <ion-avatar item-start>
          <img src="./assets/imgs/user.png">
        </ion-avatar>
        <h2>{{item.store?.sellerName}}</h2>
        <small item-end style="color: #FF6500;">
          To Ship
        </small>
      </ion-item-divider>
      <ion-item class="cart-item" item-content *ngFor="let row of item.details">
        <ion-thumbnail item-start>
          <img [src]="row.details.images[0].img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'"  *ngIf="row.details?.images && row.details?.images?.length > 0"/>
          <img src="./assets/imgs/product/no-preview-150.png" *ngIf="row.details?.images && row.details?.images?.length < 1"/>
        </ion-thumbnail>
        <h2>{{row.details?.productName}}</h2>
        <small class="price">{{currency.symbol}} {{row.details?.productPrice | number:'.2'}}</small>
        <div *ngIf="row.details?.variant">
          <ion-note><small>Variation: {{row.details?.variant.name}}</small></ion-note>
        </div>
        <p class="qtybox">
          <ion-icon class="navicon1 qty" name="remove" (click)="removeToCart(row.details)"></ion-icon>
          <b>{{row.quantity}}</b>
          <ion-icon class="navicon2 qty" name="add" (click)="addToCart(row.details)"></ion-icon>
        </p>
        <ion-icon item-end name="trash" class="cart-trash" color="danger" (click)="deleteProduct(row.details)"></ion-icon>
      </ion-item>
      <ion-item style="line-height: 10px;">
        <ion-row>
          <ion-col class="keyColumn">
            Subtotal:
          </ion-col>
          <ion-col class="valueColumn">
            &nbsp; <strong>{{currency.symbol}} {{item.subTotal | number:'.2'}}</strong>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
<ion-footer no-border *ngIf="showCart">
  <ion-row>
    <ion-col>
      <ion-list style="margin: 0px;">
        <ion-item>
          <ion-icon item-start name="ios-card-outline"></ion-icon>
          <p>Voucher</p>
          <ion-input type="text" placeholder="Please enter promo code" disabled="true"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12> 
      <ion-list style="margin: 0px;">
        <ion-item>
          <h3>Total:&nbsp; <span class="shippingprice">{{currency.symbol}} {{total | number:'.2'}}</span></h3>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <button class="checkout" ion-button full color="danger" (click)="checkout()">Buy ({{cartCount}})</button>
    </ion-col>
  </ion-row>
</ion-footer>
