page-shoppingcart {
  .toolbar-background-ios {
    background: #fff;
  }

  .myCard {
    margin: 12px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #fff;
    display: block;
    overflow: hidden;
    padding-top: 5em;

    img {
      width: 5em;
    }
  }

  .cart-item {
    h2 {
      color: #ff6500;
      font-weight: bold;
    }

    p {
      color: #222;
    }

    ion-thumbnail img {
      width: 56px;
      height: 100%;
    }

    .price {
      color: #488aff !important;
      text-align: left;
      font-weight: 600;
      padding-top: 5px;
    }

    .qtybox {
      margin-top: 15px;
      width: 115px;
      border: 1.5px solid #8e9093;
    }

    .navicon1 {
      margin-right: 15px;
    }

    .navicon2 {
      margin-left: 15px;
    }
  }

  .checkout {
    text-transform: uppercase;
    font-weight: 500;
  }

  .shippingprice {
    color: #f53d3d !important;
    font-weight: 500;
  }

  .keyColumn {
    color: #8ca2b2;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .valueColumn {
    color: #488aff;
    text-align: right;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .qty {
    padding: 5px 10px;
    margin: 0px 4px;
    font-size: 20px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 0 1px -2px rgba(0, 0, 0, 0.2);
  }
}
