<ion-list>
  <ion-item text-wrap color="segondaria">
    <ion-thumbnail item-start>
      <img
          [src]="officialShop.shop_official_logo"
          onError="this.src='./assets/imgs/user.png'"
        />
      </ion-thumbnail>
      <h2>{{officialShop.shop_name}}</h2>
      <strong><small>SELLER:</small></strong><small> {{officialShop.sellerName}}</small>
      <p>
        <strong><small>APPLIED:</small></strong><small> {{officialShop.shop_application_date}}</small>
      </p>
      <p>
        <strong><small>APPROVED:</small></strong><small> {{officialShop.shop_appoved_date}}</small>
      </p>
      <p>
        <strong><small>PROGRESS:</small></strong><small ion-text color="danger"> {{progressCount}} %</small>
      </p>
  </ion-item>
  <ion-list-header color="light">ACTIVITY</ion-list-header>
  <ion-item *ngFor="let item of officialShop.activity" text-wrap>
    <ion-avatar item-start>
      <img src="./assets/imgs/clipboard.svg" />
      </ion-avatar>
      <h2 ion-text [color]="item.statusClass">
        <strong>{{item.eval_categoryID}}</strong>
      </h2>
      <p [innerHTML]="item.content"></p>
      <p><small>{{item.date}}</small></p>
  </ion-item>
</ion-list>
