<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>About </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="myCard">
    <div padding text-center>
      <img src="./assets/imgs/shopping-bag.svg" />
    </div>
      <ion-card-content>
        <h2 ion-text text-center color="primary">
        {{appInfo.AppName}}
      </h2>
        <p text-center>
          Current Version: <b ion-text color="primary">{{appInfo.VersionNumber}}</b>
        </p>
      </ion-card-content>
    </div>
</ion-content>
