<ion-list>
  <ion-item *ngFor="let item of vouchersArr" tappable detail-push (click)="viewDetails(item)">
    <ion-thumbnail item-start>
      <img src="../../../assets/imgs/dollar.svg" *ngIf="item.voucherType == 'fixed'">
      <img src="../../../assets/imgs/tag.svg" *ngIf="item.voucherType == 'percentage'">
    </ion-thumbnail>
    <h2 ion-text color="dangers">{{item.voucherName}}</h2>
    <p *ngIf="item.voucherType == 'fixed'" class="typo-m18">{{currency.symbol_native}} {{item.voucherAmt}}</p>
    <p *ngIf="item.voucherType == 'percentage'" class="typo-m18">{{item.maxDiscountPrice}}% OFF</p>
    <p>Quantity: {{item.voucherQuantity}}</p>
    <p>Type:
        <b ion-text color="dark" *ngIf="item.isApplytoWholeShop == 1">Shop Voucher</b>
        <b ion-text color="dark" *ngIf="item.isApplytoWholeShop == 0">Product Voucher</b>
    </p>
    <p><ion-badge class="typo-m16">{{item.status | uppercase}}</ion-badge>
    </p>
    <div item-end>
      <small class="typo-r14">Claimed: {{item.claimed}}</small><br>
      <small class="typo-r14">Usage: 0</small>
    </div>
  </ion-item>
</ion-list>
