
<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Select Payment Method</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<ion-list>
	<ion-item>
		<ion-icon name="ios-cash-outline" item-start></ion-icon>
		<h2>BPI Express Online</h2>
		<small text-wrap>Payment should be done within 1 hr upon checkout. Accessible between 6AM to 9PM</small>
	</ion-item>
	<ion-item>
		<ion-icon name="ios-cash-outline" item-start></ion-icon>
		<h2>Metrobankdirect</h2>
		<small text-wrap>Payment should be done within 1 hr upon checkout. Accessible between 6AM to 9PM</small>
	</ion-item>
	<ion-item>
		<ion-icon name="ios-cash-outline" item-start></ion-icon>
		<h2>BDO Internet Banking (Fund Transfer)</h2>
		<small text-wrap>Payment should be done within 1 hr upon checkout. Accessible between 6AM to 9PM</small>
	</ion-item>
	<ion-item>
		<ion-icon name="ios-cash-outline" item-start></ion-icon>
		<h2>PNB Online (Bills Payment)</h2>
		<small text-wrap>Payment should be done within 1 hr upon checkout. Accessible between 6AM to 9PM</small>
	</ion-item>
	<ion-item>
		<ion-icon name="ios-cash-outline" item-start></ion-icon>
		<h2>Landbank ATM Online</h2>
		<small text-wrap>Payment should be done within 1 hr upon checkout. Accessible between 6AM to 9PM</small>
	</ion-item>
</ion-list>
</ion-content>
