<ion-header>
  <ion-navbar>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()" color="dangers">
        <ion-icon ios="ios-close-outline" md="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="login-background">
  <div class="myCard">
    <div text-center>
      <img src="./assets/imgs/shopping-bag.svg" />
    </div>
    </div>
    <div padding>
      <ion-list inset class="login-form" padding-left padding-right>
        <ion-item>
          <ion-icon name="ios-contact-outline" color="grey2" item-left></ion-icon>
          <ion-input type="text" placeholder="Username" [(ngModel)]="user.username"></ion-input>
        </ion-item>
        <ion-item padding-top>
          <ion-icon name="ios-lock-outline" color="grey2" item-left></ion-icon>
          <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
      </ion-list>
      <div padding-left padding-right>
        <button ion-button block round color="dangers" (click)="login()">Login</button>
        <!-- <button ion-button block clear color="dark" (click)="forgot()">Forgot Password?</button> -->
        <ion-row>
          <ion-col col-6 (click)="openSignUp()">
            <p class="typo-r14" ion-text color="grey2">Create Account</p>
          </ion-col>
          <ion-col col-6 (click)="forgot()">
            <p class="typo-r14" text-right ion-text color="grey2">Forgot Password?</p>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div text-center center>
      <p class="fancy"><span>Or</span></p>
    </div>
    <div padding-left padding-right>
      <ion-row padding-left padding-right>
        <ion-col col-12>
          <button ion-button block round icon-left color="shoppyfb" block (click)="signInWithFB()">
            <fa-icon name="facebook" item-start></fa-icon>&nbsp;Sign in with Facebook
          </button>
        </ion-col>
        <ion-col col-12>
          <button ion-button block round icon-left color="google" block (click)="signInWithGoogle()">
            <ion-icon name="logo-google"></ion-icon>&nbsp;Sign in with Google
          </button>
        </ion-col>
      </ion-row>
    </div>
</ion-content>
