<a class="item-card hairline-border">
  <div>
    <div class="item-card__cover-image-wrapper">
      <div class="item-card__cover-image">
        <img class="item-card__cover-image" [src]="item.image?.img_path" onError="this.src='./assets/imgs/product/noimage.jpg'"
          style="object-fit: contain;">
      </div>
      <product-lowest-guarantee *ngIf="showBadge && item.isLowest"></product-lowest-guarantee>
      <!-- <product-lowest-guarantee *ngIf="showBadge"></product-lowest-guarantee> -->
    </div>
    <div class="item-card__info">
      <div class="item-card__name typo-l14 item-card__name--two-lines">
        <product-official-shop-badge *ngIf="showBadge && item.isOfficialShop"></product-official-shop-badge>
        <!-- <product-official-shop-badge *ngIf="showBadge"></product-official-shop-badge> -->
        {{item.productName}}
      </div>
      <div class="item-card__price-shipping">
        <div class="item-card__actual-price typo-m12 item-card__actual-price--has-free-shipping">{{currency.symbol_native}}
          {{item.productPrice | number}}</div>
        <div class="item-card__spacer"></div>
        <!-- <img src="./assets/imgs/shipping.svg" style="width: 20px;" *ngIf="item.hasFreeShipping"> -->
        <img src="./assets/imgs/delivery-truck.svg" style="width: 20px;">
      </div>
      <div class="item-card__popularity">
        <div class="item-card__likes typo-r12">
          <ion-icon name="heart-outline" style="color:#b6b8c2;" *ngIf="!item.isLiked"></ion-icon>
          <ion-icon name="ios-heart" color="dangers" *ngIf="item.isLiked"></ion-icon>
          <div class="item-card__likes-text" *ngIf="item.liked > 0">{{item.liked}}</div>
        </div>
        <div class="bnFPPI typo-r10 item-card__ratings">
          <div class="rating-stars" *ngIf="item.rated > 0">
            <rating [(ngModel)]="item.rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
              starIconName="star" nullable="false"></rating>
            <div class="_3s9Tb9">({{item.rated}})</div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-card__badge-right-wrapper">
      <product-sold-out *ngIf="showBadge && item.isOutOfStock"></product-sold-out>
      <!-- <product-discount-promotion *ngIf="item.hasDiscount"></product-discount-promotion> -->
      <product-discount-promotion *ngIf="showBadge && item.hasDiscount"></product-discount-promotion>
    </div>
    <div class="item-card__badge-left-wrapper">
      <product-preferred *ngIf="showBadge && item.preferred"></product-preferred>
    </div>
  </div>
</a>
