<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Payment Option</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <div text-center class="heads">
      <ion-row>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon color="primary" name="ios-pin-outline"></ion-icon>
              <br>
              <small ion-text color="primary">Address</small></div>
          </ion-label>
        </ion-col>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon color="primary" name="ios-copy-outline"></ion-icon>
              <br>
              <small ion-text color="primary">Shipping</small></div>
          </ion-label>
        </ion-col>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon color="primary" name="ios-cash-outline"></ion-icon>
              <br>
              <small ion-text color="primary">Payment</small></div>
          </ion-label>
        </ion-col>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
              <br>
              <small>Confirm</small></div>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>
    <ion-list-header color="light">
      SHOPPYAPP GUARANTEE
    </ion-list-header>
    <button ion-item (click)="selectPayment('wallet')">
      <ion-icon name="ios-card" item-start></ion-icon>
      <h2>My Wallet (Balance <span ion-text color="danger">{{currency.symbol}} {{walletBalance | number:'.2'}}</span>)</h2>
      <small>Insufficient Balance</small>
      <ion-icon name="ios-checkmark-outline" color="primary" item-end *ngIf="paymentOption == 'wallet' && walletBalance > 0"></ion-icon>
    </button>
    <button ion-item (click)="selectPayment('cod')">
      <ion-icon name="ios-cash-outline" item-start></ion-icon>
      <h2>Cash on Delivery</h2>
      <ion-icon name="ios-checkmark-outline" color="primary" item-end *ngIf="paymentOption == 'cod'"></ion-icon>
    </button>
    <button ion-item disabled="true">
      <ion-icon name="ios-paper-outline" item-start></ion-icon>
      <h2>Remittance/Payment Center</h2>
      <ion-icon name="ios-checkmark-outline" color="primary" item-end *ngIf="paymentOption == 'remittance'"></ion-icon>
    </button>
    <button ion-item disabled="true">
      <ion-icon name="ios-people-outline" item-start></ion-icon>
      <h2>Over-the-counter</h2>
      <ion-icon name="ios-checkmark-outline" color="primary" item-end *ngIf="paymentOption == 'over-d-counter'"></ion-icon>
    </button>
    <button ion-item disabled="true">
      <ion-icon name="ios-laptop-outline" item-start></ion-icon>
      <h2>Online Payment</h2>
      <ion-icon name="ios-checkmark-outline" color="primary" item-end *ngIf="paymentOption == 'online'"></ion-icon>
    </button>
    <button ion-item disabled="true">
      <ion-icon name="ios-options-outline" item-start></ion-icon>
      <h2>Bank Transfer</h2>
      <ion-icon name="ios-checkmark-outline" color="primary" item-end *ngIf="paymentOption == 'bank-transfer'"></ion-icon>
    </button>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-item no-lines>
      <ion-label>Total Payment:</ion-label>
      <ion-label text-right color="primary" item-end>{{currency.symbol}} {{total | number:'.2'}}</ion-label>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-col style="padding:0px !important;">
      <button class="checkout" ion-button full color="danger" (click)="proceedPaymentOption()">NEXT: CONFIRM INFORMATION</button>
    </ion-col>
  </ion-row>
</ion-footer>
