page-paymentoption {
  .toolbar-background-ios {
    background: #fff;
  }

  .my-card {
    margin: 0px;
    width: 100%;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  ion-footer {
    border-top: 0.55px solid #c8c7cc;

    [ion-button] {
      margin: 0 !important;
    }
  }

  .heads {
    ion-icon {
      display: inline-block;
      font-size: 2.2em;
    }

    padding: 5px;
  }

  .shippingprice {
    color: #488aff !important;
    font-weight: 500;
  }
}
