<ion-tabs no-border>
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="ios-home-outline"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Feed" tabIcon="ios-paper-outline"></ion-tab>
    <ion-tab [root]="tabHeart" tabTitle="Likes" tabIcon="ios-heart-outline"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Notifications" [tabBadge]="notifCount > 0 ? notifCount : null" tabBadgeStyle="dangers" tabIcon="ios-notifications-outline" (ionSelect)="myMethod($event)"></ion-tab>
    <ion-tab [root]="tab5Root" tabTitle="My Account" tabIcon="ios-contact-outline" (ionSelect)="myMethod($event)"></ion-tab>
    <!-- <ion-tab [root]="tab1Root" tabIcon="ios-home-outline"></ion-tab>
    <ion-tab [root]="tab2Root"  tabIcon="ios-paper-outline"></ion-tab>
    <ion-tab [root]="tab4Root" [tabBadge]="notifCount > 0 ? notifCount : null" tabBadgeStyle="danger" tabIcon="ios-notifications-outline" (ionSelect)="myMethod($event)"></ion-tab>
    <ion-tab [root]="tab5Root" tabIcon="ios-contact-outline" (ionSelect)="myMethod($event)"></ion-tab> -->
</ion-tabs>
