<div class="message" [class.left]="message.userId == toUser.id" [class.right]="message.userId == currentUser.id">
  <img class="user-img" [src]="currentUser.avatar" onError="this.src='./assets/imgs/user.png'" *ngIf="message.userId == currentUser.id">
  <img class="user-img" [src]="toUser.avatar" *ngIf="message.userId == toUser.id">
  <ion-spinner name="dots" *ngIf="message.status === 'pending'"></ion-spinner>
  <div class="msg-detail">
    <div class="msg-content">
      <span class="triangle"></span>
      <p class="line-breaker ">{{message.message}}</p>
      <small>{{message.createdAt | relativeTime}}</small>
    </div>
  </div>
</div>
