page-product-packaging-entry {
  .toolbar-background-ios {
    background: #fff;
  }

  .myCard {
    margin: 12px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #fff;
    display: block;
    overflow: hidden;

    img {
      width: 5em;
    }
  }
}
