<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Packaging Size</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="saveProduct()">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="myCard">
    <div padding text-center>
      <img src="./assets/imgs/box.svg" />
    </div>
    <ion-card-content>
      <p>
        Please use packaging size, not product size.
      </p>
      <p>Inaccurate size may result in failed pickup or additional shipping fee.</p>
    </ion-card-content>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>Width (in cm)</ion-label>
      <ion-input type="number" value="" text-right placeholder="0" [(ngModel)]="package.width"></ion-input>
      <ion-note item-end>cm</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Length (in cm)</ion-label>
      <ion-input type="number" value="" text-right placeholder="0" [(ngModel)]="package.length"></ion-input>
      <ion-note item-end>cm</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Height (in cmd)</ion-label>
      <ion-input type="number" value="" text-right placeholder="0" [(ngModel)]="package.height"></ion-input>
      <ion-note item-end>cm</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
