page-myproducts {
  
  .segment-md-dark .segment-button.activated,
  .segment-md-dark .segment-button.segment-activated {
    border-color: color($colors, dangers) !important;
    color: color($colors, dangers) !important;
    opacity: 1;
  }

  .segment-ios-dark .segment-button.segment-activated {
    color: #fff;
    background-color: color($colors, dangers) !important;
  }

  .toolbar-background-ios {
    background: #fff;
  }

  .priceindicator ion-icon {
    font-size: 1.6rem !important;
    line-height: 2.4rem !important;
  }

  .myCard {
    margin: 12px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #fff;
    display: block;
    overflow: hidden;
    padding-top: 5em;

    img {
      width: 5em;
    }
  }
}
