<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>My Products</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="createProduct()">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="viewChat()">
        <ion-badge id="message-badge" *ngIf="unreadCount > 0" color="danger">{{unreadCount}}</ion-badge>
        <ion-icon name="ios-chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="mode" mode="md" (ionChange)="segmentChanged($event)" color="dark">
      <ion-segment-button value="popular">
        Best Match
      </ion-segment-button>
      <ion-segment-button value="latest">
        Latest
      </ion-segment-button>
      <ion-segment-button value="top">
        Top Orders
      </ion-segment-button>
      <ion-segment-button value="price" (ionSelect)="sortPrice()" class="priceindicator">
        Price
        <ion-icon name="md-arrow-dropup" *ngIf="!isLow"></ion-icon>
        <ion-icon name="md-arrow-dropdown" *ngIf="isLow"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="showContent">
    <ion-list *ngIf="productsArr && productsArr.length > 0">
      <div *ngFor="let item of productsArr">
        <ion-item-sliding>
          <ion-item tappable (click)="viewDetails(item)">
            <ion-thumbnail item-start>
              <img [src]="item.image.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
            </ion-thumbnail>
            <h4>{{item.productName}}</h4>
            <small>{{item.productStock}}</small>
            <p ion-text color="primary"><b>{{item.productPrice | number:'.2'}}</b></p>
            <button ion-button clear item-end (click)="editProduct(item,$event)">EDIT</button>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="deleteProduct(item)">
              <ion-icon name="ios-trash-outline"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small color="dark">
              <ion-icon name="ios-heart-outline"></ion-icon>
              <div>{{item.liked}} Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small color="dark">
              <ion-icon name="ios-eye-outline"></ion-icon>
              <div>0 Views</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small color="dark">
              <ion-icon name="ios-basket-outline"></ion-icon>
              <div>0 Sold</div>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
    <div class="myCard" *ngIf="productsArr && productsArr.length < 1">
      <div padding text-center>
        <img src="./assets/imgs/shopping-bag.svg" />
        <p text-center>
          No products yet
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="!showContent">
    <div class="timeline-listitem" *ngFor="let item of fakeArr">
      <div class="animated-background-item">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
      </div>
    </div>
  </div>
</ion-content>
