<ion-list *ngIf="!showLoading">
  <div *ngFor="let item of categoriesArr">
    <ion-item (click)="viewCategory(item,'category',$event)">
      <ion-thumbnail item-start>
        <img [src]="item.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
        </ion-thumbnail>
        <h2>{{item.name}}</h2>
        <button ion-button clear item-end (click)="viewSubcategory(item,$event)" *ngIf="item.subcategory && item.subcategory?.length > 0">
          <ion-icon name="ios-arrow-down-outline" *ngIf="!item.opened"></ion-icon>
          <ion-icon name="ios-arrow-up-outline" *ngIf="item.opened"></ion-icon>
        </button>
    </ion-item>
    <div *ngIf="item.opened && item.subcategory?.length > 0">
      <button style="padding-left: 85px;" ion-item *ngFor="let row of item.subcategory" (click)="viewCategory(row,'subcategory',$event)">
        <ion-avatar item-start>
          <img [src]="row.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
          </ion-avatar>
          <h3>{{row.name}}</h3>
      </button>
    </div>
  </div>
</ion-list>
<ion-list *ngIf="showLoading">
  <ion-item no-lines *ngFor="let i of fakeArr">
    <ion-avatar item-start>
      <skeleton-item height="50px" width="50px"></skeleton-item>
    </ion-avatar>
    <skeleton-item></skeleton-item>
    <skeleton-item height="8px" width="67%"></skeleton-item>
  </ion-item>
</ion-list>
