<div *ngIf="showContent">
  <ion-item tappable *ngFor="let item of params" (click)="viewDetails(item)" [ngClass]="{'unread': (item.isRead == 0)}">
    <ion-thumbnail item-start>
      <img src="./assets/imgs/box.png">
  </ion-thumbnail>
      <h3>{{item.title}}</h3>
      <small [innerHtml]="item.content"></small>
  </ion-item>
</div>
<div *ngIf="!showContent">
  <ion-item tappable *ngFor="let item of fakeArr">
    <ion-thumbnail item-start>
      <skeleton-item height="50px" width="50px"></skeleton-item>
    </ion-thumbnail>
    <skeleton-item></skeleton-item>
    <skeleton-item height="8px" width="67%"></skeleton-item>
  </ion-item>
</div>
