<ion-list *ngIf="!isLoading">
  <ion-item *ngFor="let item of brandsArr" (click)="viewBrands(item)">
    <p ion-text color="dark" style="font-weight: 500;">{{item.name}}</p>
    <ion-icon name="md-checkmark" color="primary" item-end *ngIf="isProduct && item.opened"></ion-icon>
    <ion-icon name="arrow-forward" color="light" item-end *ngIf="!isProduct"></ion-icon>
  </ion-item>
  <ion-item-divider color="light" *ngIf="isProduct && brandsArr.length > 0">&nbsp;</ion-item-divider>
  <ion-item *ngIf="isProduct">
    <ion-input type="text" [(ngModel)]="brandName" placeholder="Not in the list? Set your own" [disabled]="isSaving"></ion-input>
    <button ion-button outline item-end (click)="addBrand()" *ngIf="!isSaving">Save</button>
    <div item-end *ngIf="isSaving">
      <ion-spinner color="primary"></ion-spinner>
    </div>
  </ion-item>
</ion-list>
<ion-list *ngIf="isLoading">
  <ion-item no-lines *ngFor="let i of fakeArr" detail-push>
    <skeleton-item></skeleton-item>
    <skeleton-item height="8px" width="67%"></skeleton-item>
  </ion-item>
</ion-list>
