<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-buttons left *ngIf="status=='topay' && isBatch && type =='buyer'">
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
    <!-- <ion-title>Order Details</ion-title> -->
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <!--
    ==============================================================================
                                      TO PAY
    ==============================================================================
     -->
    <ion-item text-wrap color="segondaria" *ngIf="status=='topay'">
      <ion-icon name="ios-copy-outline" item-start></ion-icon>
      <b>To pay</b>
      <p><small>Please make payment right after the item is delivered with <b>Cash On Delivery</b> otherwise this order
          will be cancelled automatically</small></p>
      <p><small>Order Time: {{order.orderDateTime}}</small></p>
    </ion-item>
    <!--
    ==============================================================================
                                      UNPAID
    ==============================================================================
     -->
    <ion-item text-wrap color="segondaria" *ngIf="status=='unpaid'">
      <ion-icon name="ios-copy-outline" item-start></ion-icon>
      <p>Unpaid</p>
      <p><small text-wrap>The buyer has chosen to make payment on delivery. We recommend that you ship after 2-3 hours
          as buyer cancellations
          may happen during this period.</small></p>
      <p><small>Order Time: {{order.orderDateTime}}</small></p>
    </ion-item>
    <!--
    ==============================================================================
                                      TO SHIP
    ==============================================================================
     -->
    <div *ngIf="status=='ship' && (!isOrderCancelRequested || (isOrderCancelRequested && isOrderCancelRejected && !isOrderCancelWithdraw) || (isOrderCancelRequested && !isOrderCancelRejected && isOrderCancelWithdraw))">
      <ion-item text-wrap color="segondaria" *ngIf="type =='buyer'">
        <ion-icon name="ios-copy-outline" item-start></ion-icon>
        <p>To ship</p>
        <small>Waiting for the seller to ship out the product(s). The seller should ship out by
          {{order.shippingDeadline | date: 'MM/dd/yyyy'}}. Please make payment on delivery.</small>
      </ion-item>
      <ion-item text-wrap color="segondaria" *ngIf="type =='seller'">
        <ion-icon name="ios-copy-outline" item-start></ion-icon>
        <p>To ship</p>
        <small>The buyer is waiting for you to ship</small>
      </ion-item>
      <ion-item text-wrap color="primaria" *ngIf="isOrderCancelWithdraw">
        <ion-icon name="ios-alert-outline" item-start></ion-icon>
        <p *ngIf="(isOrderCancelRequested && isOrderCancelRejected && !isOrderCancelWithdraw)">Cancellation Rejected</p>
        <p *ngIf="(isOrderCancelRequested && !isOrderCancelRejected && order.isWithdrawCancelled ==1)">Cancellation
          Withdraw</p>
        <small>Order transaction will proceed and no cancellation request will be submitted again.</small>
      </ion-item>
      <!-- <ion-item text-wrap class="mt-10">
        <ion-icon name="ios-copy-outline" item-start></ion-icon>
        <small>If the seller needs more time to prepare shipping, you  can extend Shipping Guarantee for 3 extra days.</small>
      </ion-item> -->
    </div>
    <!--
    ==============================================================================
                            CANCELLATION REQUEST
    ==============================================================================
     -->
    <div *ngIf="status=='ship' && isOrderCancelRequested && !isOrderCancelWithdraw && !isOrderCancelRejected">
      <ion-item text-wrap color="segondaria" *ngIf="type =='buyer'">
        <ion-icon name="md-time" item-start></ion-icon>
        <p>Cancellation Requested</p>
        <small>The seller will need to respond by {{order.cancelledRequestDeadline}} or the order will be automatically
          cancelled. Contact the seller or withdraw your cancellation request if you changed your mind.</small>
      </ion-item>
      <ion-item text-wrap color="segondaria" *ngIf="type =='seller'">
        <ion-icon name="md-time" item-start></ion-icon>
        <p>Cancellation Requested</p>
        <small>You can contact buyer, accept the cancellation request or reject the cancellation request. Please
          respond by {{order.cancelledRequestDeadline}} or the order will be automatically cancelled.</small>
        <small>Cancelled Time: {{order.cancelledDateTime}}</small>
      </ion-item>
    </div>
    <!--
    ==============================================================================
                            RETURN/REFUND REQUEST
    ==============================================================================
    -->
    <div *ngIf="status=='ship' && isOrderReturnRequest && !isOrderReturned">
      <ion-item text-wrap color="segondaria" *ngIf="type =='buyer'">
        <ion-icon name="ios-copy-outline" item-start></ion-icon>
        <p>Return Pending</p>
        <small>Pending your action. Please return the product(s) to seller and input shipping information by
          {{order_return.returnRequestedDeadline}}. Shipping info is required for ShoppyApp to process your refund.</small>
      </ion-item>
      <ion-item text-wrap color="segondaria" *ngIf="type =='seller'">
        <ion-icon name="ios-copy-outline" item-start></ion-icon>
        <p>Return/Refund Request Pending</p>
        <small>Pending your approval. You can contact the buyer, accept the return request or submit a dispute. Please
          respond by {{order_return.returnRequestedDeadline}} or refund will be automatically released to the buyer.</small>
      </ion-item>
    </div>
    <!--
    ==============================================================================
                                      RECEIVED
    ==============================================================================
     -->
    <ion-item text-wrap color="segondaria" *ngIf="status=='receive' && !isOrderReturnRequest && !isOrderReturned">
      <ion-icon name="ios-copy-outline" item-start></ion-icon>
      <p>To receive</p>
      <small>The seller has shipped out the order. The products are expected to be delivered by
        {{order.deliveryDeadline | date: 'MM/dd/yyyy, h:mm a'}}</small>
      <small>Ship Time: {{order.receivedDateTime | date: 'MM/dd/yyyy'}}</small>
    </ion-item>
    <ion-item text-wrap color="segondaria" *ngIf="status=='shipping' && !isOrderReturnRequest && !isOrderReturned">
      <ion-icon name="ios-copy-outline" item-start></ion-icon>
      <p>Shipping</p>
      <small>The buyer would expect the products to be delivered on or before {{order.deliveryDeadline | date:
        'MM/dd/yyyy, h:mm a'}}</small>
      <small>Ship Time: {{order.shippingDeadline | date: 'MM/dd/yyyy'}}</small>
    </ion-item>
    <!--
    ==============================================================================
                            RETURN/REFUND REQUEST
    ==============================================================================
    -->
    <div *ngIf="isOrderReturnRequest && !isOrderReturned">
      <ion-item text-wrap color="segondaria" *ngIf="type =='buyer' && status=='receive'  && !isOrderReturnRequestCancelled">
        <ion-icon name="ios-copy-outline" item-start></ion-icon>
        <p>Return Pending</p>
        <small>Pending your action. Please return the product(s) to seller and input shipping information by
          {{order_return.returnRequestedDeadline}}. Shipping info is required for ShoppyApp to process your refund.</small>
      </ion-item>
      <ion-item text-wrap color="segondaria" *ngIf="type =='buyer' && status=='receive' && isOrderReturnRequestCancelled">
        <ion-icon name="ios-copy-outline" item-start></ion-icon>
        <p>To receive</p>
        <small>The seller has shipped out the order. The products are expected to be delivered by
          {{order.deliveryDeadline | date: 'MM/dd/yyyy, h:mm a'}}</small>
        <small>Ship Time: {{order.receivedDateTime | date: 'MM/dd/yyyy'}}</small>
      </ion-item>
      <ion-item text-wrap color="segondaria" *ngIf="type =='seller' && status == 'shipping' && !isOrderReturnRequestCancelled">
        <ion-icon name="ios-copy-outline" item-start></ion-icon>
        <p>Return/Refund Request Pending</p>
        <small>Pending your approval. You can contact the buyer, accept the return request or submit a dispute. Please
          respond by {{order_return.returnRequestedDeadline}} or refund will be automatically released to the buyer.</small>
      </ion-item>
      <ion-item text-wrap color="segondaria" *ngIf="type =='seller' && status == 'shipping' && isOrderReturnRequestCancelled">
        <ion-icon name="ios-copy-outline" item-start></ion-icon>
        <p>Shipping</p>
        <small>The buyer would expect the products to be delivered on or before {{order.deliveryDeadline | date:
          'MM/dd/yyyy, h:mm a'}}</small>
        <small>Ship Time: {{order.shippingDeadline | date: 'MM/dd/yyyy'}}</small>
      </ion-item>
    </div>
    <!--
    ==============================================================================
                                      COMPLETED
    ==============================================================================
     -->
    <ion-item text-wrap color="segondaria" *ngIf="status=='completed'">
      <ion-icon name="ios-copy-outline" item-start></ion-icon>
      <p>Completed</p>
      <small>The order is completed. Please rate the products to help the seller.</small>
      <small>Completed Time: {{order.receivedDateTime | date: 'MM/dd/yyyy'}}</small>
    </ion-item>
    <!--
    ==============================================================================
                                      CANCELLED
    ==============================================================================
     -->
    <ion-item text-wrap color="segondaria" *ngIf="status=='cancelled' && isOrderCancelled">
      <ion-icon name="ios-copy-outline" item-start></ion-icon>
      <p>Cancelled</p>
      <small *ngIf="order.cancelledBy == 'buyer' && type =='buyer'">You have cancelled this order.</small>
      <small *ngIf="order.cancelledBy == 'seller' && type =='buyer'">The seller has cancelled this order.</small>
      <small *ngIf="order.cancelledBy == 'buyer' && type =='seller'">The buyer has cancelled this order.</small>
      <small *ngIf="order.cancelledBy == 'seller' && type =='seller'">You have cancelled this order.</small>
      <small *ngIf="order.isAutoCancelled == 1">Cancelled automatically by ShoppyApp System</small>
      <p><small>Cancelled Time: {{order.cancelledDateTime}}</small></p>
    </ion-item>
    <!--
    ==============================================================================
                                      RETURN
    ==============================================================================
     -->
    <div *ngIf="status=='return' && isOrderReturnRequest && isOrderReturned">
      <ion-item text-wrap color="segondaria" *ngIf="type =='buyer'">
        <ion-icon name="ios-copy-outline" item-start></ion-icon>
        <p>Payment Transfered</p>
        <small>Your request has been approved. ShoppyApp will process your refund.</small>
      </ion-item>
      <ion-item text-wrap color="segondaria" *ngIf="type =='seller'">
        <ion-icon name="ios-copy-outline" item-start></ion-icon>
        <p>Payment Transfered</p>
        <small>The buyer's request has been approved. ShoppyApp will process the buyer's refund.</small>
      </ion-item>
    </div>
    <!--
    ==============================================================================
                                RETURN WITH DISPUTE
    ==============================================================================
     -->
    <ion-item text-wrap color="dark" *ngIf="status=='return' && type =='buyer' && isOrderReturnDispute">
      <ion-icon name="ios-alert-outline" item-start></ion-icon>
      <p>Dispute Pending</p>
      <small>The seller has raised a dispute against your request. ShoppyApp is now investigating the dispute and will
        contact you via email. You can choose to cancel this Return/Refund request after reviewing the proof from the
        seller</small>
    </ion-item>
  </ion-list>
  <!--
  ==============================================================================
  ==============================================================================
  ==============================================================================
  ==============================================================================
  ==============================================================================
   -->
  <ion-list *ngIf="!isOrderReturnRequest && (!isOrderCancelRequested || (isOrderCancelRequested && isOrderCancelRejected && !isOrderCancelWithdraw) || (isOrderCancelRequested && !isOrderCancelRejected && isOrderCancelWithdraw))">
    <ion-item>
      <p>Order ID</p>
      <p>Order Time</p>
      <p>Batch ID</p>
      <div item-end>
        <p><small ion-text color="primary">{{order.orderNum}}</small></p>
        <p><small ion-text color="primary">{{order.orderDateTime}}</small></p>
        <p><small ion-text color="primary">{{order.batchID}}</small></p>
      </div>
    </ion-item>
    <div class="border-delivery"></div>
    <ion-item class="my-card">
      <ion-icon name="ios-map-outline" item-start></ion-icon>
      <h2 clas="typo-m18">Delivery Address</h2>
      <div text-wrap class="typo-r13">
        <p>{{order.orderShipName}} {{order.orderPhone}}</p>
        <p>{{order.orderShipAddress}}</p>
        <p>{{order.orderShipSuburb}}</p>
        <p>{{order.orderShipCity}} {{order.orderShipState}} {{order.orderShipCountry}} {{order.orderShipZipCode}}</p>
      </div>
    </ion-item>
    <div class="border-delivery"></div>
    <ion-item class="my-card" *ngIf="status=='topay' && order.isPrepared == 1" tappable (click)="viewShippingInformation(order)">
      <ion-icon name="md-bus" item-start></ion-icon>
      <h2 clas="typo-m18">Shipping Information<p ion-text color="danger" class="pull-right">VIEW</p>
      </h2>
      <p ion-text color="segondaria" class="typo-m12">Order details sent to seller</p>
      <p class="typo-m12">{{order.courier_name}}</p>
      <p class="typo-l14">{{order.orderDateTime}}</p>
    </ion-item>
    <ion-item class="my-card" *ngIf="status=='topay' && order.isPrepared == 0" tappable (click)="viewShippingInformation(order)">
      <ion-icon name="md-bus" item-start></ion-icon>
      <h2 clas="typo-m18">Shipping Information<p ion-text color="danger" class="pull-right">VIEW</p>
      </h2>
      <p ion-text color="segondaria" class="typo-m12">Order Created</p>
      <p class="typo-l14">{{order.orderDateTime}}</p>
    </ion-item>
    <ion-item class="my-card" *ngIf="status !== 'topay'" tappable (click)="viewShippingInformation(order)" text-wrap>
      <ion-icon name="md-bus" item-start></ion-icon>
      <h2 clas="typo-m18">Shipping Information<p ion-text color="danger" class="pull-right">VIEW</p>
      </h2>
      <div *ngIf="order.checkpoint">
        <p ion-text color="segondaria" class="typo-m12">{{order.checkpoint?.message}}</p>
        <p class="typo-l14">{{order.checkpoint?.checkpoint_time}}</p>
      </div>
      <div *ngIf="order.checkpoint == null">
        <p ion-text color="segondaria" class="typo-m12">Order details sent to seller</p>
        <p class="typo-l14">{{order.orderDateTime}}</p>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-cash-outline" item-start></ion-icon>
      <h2 class="typo-m18">Payment Information</h2>
      <p class="typo-m12">Order Total</p>
      <div item-end>
        <b ion-text color="primary">{{currency.symbol}} {{order.orderAmt}}</b>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-laptop-outline" item-start></ion-icon>
      <h2 clas="typo-m18">Payment Method</h2>
      <p class="typo-m12">Cash On Delivery</p>
    </ion-item>
    <ion-list-header color="light" style="min-height: 0rem !important;">
    </ion-list-header>
    <ion-item-group>
      <ion-item-divider>
        <ion-avatar item-start>
          <img src="./assets/imgs/user.png">
        </ion-avatar>
        <h2>{{order.sellerName}}</h2>
      </ion-item-divider>
      <div *ngFor="let item of order.details">
        <ion-item class="cart-item" item-content>
          <ion-thumbnail item-start>
            <img [src]="item.image.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'" />
          </ion-thumbnail>
          <h2>{{item.detailName}}</h2>
          <p *ngIf="item.variantId">
            <small>Variation: {{item.variantName}}</small>
          </p>
          <p class="price">{{currency.symbol}} {{item.detailPrice}}</p>
          <div item-end>
            <p>x <small>{{item.detailQty}}</small></p>
            <p><small class="valueColumn">{{currency.symbol}} {{item.subTotal}}</small></p>
          </div>
        </ion-item>
      </div>
      <ion-item>
        <p><b>Shipping Fee</b></p>
        <p>{{order.courier_name}} <span ion-text color="primary">{{currency.symbol}} {{order.shippingFee}}</span></p>
      </ion-item>
      <ion-item text-wrap>
        <p><b>Remark</b></p>
        <p>{{order.orderNote}}</p>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-12 *ngIf="type=='seller'">
            <button ion-button block icon-left outline small color="dark" (click)="contactBuyer($event)">
              <ion-icon name="ios-chatbubbles-outline"></ion-icon>
              Contact Buyer
            </button>
          </ion-col>
          <ion-col col-6 *ngIf="type=='buyer'">
            <button ion-button block icon-left outline small color="dark" (click)="contactSeller($event)">
              <ion-icon name="ios-chatbubbles-outline"></ion-icon>
              Contact Seller
            </button>
          </ion-col>
          <ion-col col-6 *ngIf="type=='buyer'">
            <button ion-button block icon-left outline small color="dark" (click)="viewShopProfile({ uuid: order.userId })">
              <ion-icon name="ios-home-outline"></ion-icon>
              Visit Shop
            </button>
          </ion-col>
          <!--
          ==============================================================================
          ==============================================================================
          ==============================================================================
          ==============================================================================
          ==============================================================================
           -->
          <ion-col col-12 *ngIf="status=='ship' && type =='buyer' && !isOrderCancelRequested">
            <button ion-button block outline small color="danger" (click)="cancelOrder()">
              Cancel Order
            </button>
          </ion-col>
          <ion-col col-12 *ngIf="status=='unpaid' && type =='seller' && !isOrderCancelRequested">
            <button ion-button block outline small color="danger" (click)="cancelOrder()">
              Cancel Order
            </button>
          </ion-col>
          <ion-col col-12 *ngIf="status=='ship' && type =='seller' && !isOrderCancelRequested">
            <button ion-button block outline small color="danger" (click)="cancelOrder()">
              Cancel Order
            </button>
          </ion-col>
          <!-- <ion-col col-12 *ngIf="(status=='ship' || status=='receive') && type =='buyer'">
            <button ion-button block outline small>
              Extend Guarantee
            </button>
          </ion-col> -->
          <ion-col col-12 *ngIf="(status=='cancelled' || status=='return') && type =='buyer'">
            <button ion-button block outline small>
              Buy Again
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <!--
  ==============================================================================
  ==============================================================================
  ==============================================================================
  ==============================================================================
  ==============================================================================
   -->
  <ion-list *ngIf="isOrderCancelRequested && !isOrderCancelWithdraw && !isOrderCancelRejected && !isOrderReturnRequest">
    <ion-item *ngIf="type=='buyer'">
      <p>Order ID</p>
      <p>Order Time</p>
      <p>Batch ID</p>
      <div item-end>
        <p><small ion-text color="primary">{{order.orderNum}}</small></p>
        <p><small ion-text color="primary">{{order.orderDateTime}}</small></p>
        <p><small ion-text color="primary">{{order.batchID}}</small></p>
      </div>
    </ion-item>
    <div class="border-delivery"></div>
    <ion-item class="my-card">
      <ion-icon name="ios-map-outline" item-start></ion-icon>
      <h2><b>Delivery Address</b></h2>
      <div text-wrap>
        <p>{{order.orderShipName}} {{order.orderPhone}}</p>
        <p>{{order.orderShipAddress}}</p>
        <p>{{order.orderShipSuburb}}</p>
        <p>{{order.orderShipCity}} {{order.orderShipState}} {{order.orderShipCountry}} {{order.orderShipZipCode}}</p>
      </div>
    </ion-item>
    <div class="border-delivery"></div>
    <ion-item class="my-card" tappable (click)="viewShippingInformation(order)" text-wrap>
      <ion-icon name="md-bus" item-start></ion-icon>
      <h2 class="typo-m18">Shipping Information
        <p ion-text color="danger" class="pull-right">VIEW</p>
      </h2>
      <p ion-text color="segondaria">{{order.checkpoint?.message}}</p>
      <p><small>{{order.checkpoint?.checkpoint_time}}</small></p>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-cash-outline" item-start></ion-icon>
      <h2 class="typo-m18">Payment Information</h2>
      <p class="typo-m12">Order Total</p>
      <div item-end>
        <p ion-text color="primary">{{currency.symbol}} {{order.orderAmt}}</p>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-laptop-outline" item-start></ion-icon>
      <h2 class="typo-m18">Payment Method</h2>
      <p class="typo-m12">Cash On Delivery</p>
    </ion-item>
    <ion-list-header color="light" style="min-height: 0rem !important;"></ion-list-header>
    <ion-item-group>
      <ion-item-divider>
        <ion-avatar item-start>
          <img src="./assets/imgs/user.png">
        </ion-avatar>
        <h2>{{order.sellerName}}</h2>
      </ion-item-divider>
      <div *ngFor="let item of order.details">
        <ion-item class="cart-item" item-content>
          <ion-thumbnail item-start>
            <img [src]="item.image.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'" />
          </ion-thumbnail>
          <h2>{{item.detailName}}</h2>
          <p *ngIf="item.variantId">
            <small>Variation: {{item.variantName}}</small>
          </p>
          <p class="price">{{currency.symbol}} {{item.detailPrice}}</p>
          <div item-end>
            <p>x <small>{{item.detailQty}}</small></p>
            <p><small class="valueColumn">{{currency.symbol}} {{item.subTotal}}</small></p>
          </div>
        </ion-item>
      </div>
      <ion-item>
        <p><b>Shipping Fee</b></p>
        <p>{{order.courier_name}} <span ion-text color="primary">{{currency.symbol}} {{order.shippingFee}}</span></p>
      </ion-item>
      <ion-item text-wrap>
        <p><b>Remark</b></p>
        <p>{{order.orderNote}}</p>
      </ion-item>
    </ion-item-group>
    <ion-list-header color="light">&nbsp;</ion-list-header>
    <ion-list-header color="light">Cancellation Details</ion-list-header>
    <ion-item>
      <p>Refund Amount</p>
      <div item-end>
        <b ion-text color="primary" *ngIf="order.isPaid == 1">{{currency.symbol}} {{order.orderAmt}}</b>
        <b ion-text color="primary" *ngIf="order.isPaid == 0 && order.isCOD == 1">{{currency.symbol}} 0</b>
      </div>
    </ion-item>
    <ion-item>
      <p>Refund To</p>
      <div item-end>
        <p>App Wallet</p>
      </div>
    </ion-item>
    <ion-item>
      <p>Cancelled By</p>
      <div item-end>
        <span *ngIf="order.cancelledBy == 'buyer' && type =='buyer' && order.isAutoCancelled == 0">You</span>
        <span *ngIf="order.cancelledBy == 'seller' && type =='buyer' && order.isAutoCancelled == 0">Seller</span>
        <span *ngIf="order.cancelledBy == 'buyer' && type =='seller' && order.isAutoCancelled == 0">Buyer</span>
        <span *ngIf="order.cancelledBy == 'seller' && type =='seller' && order.isAutoCancelled == 0">You</span>
        <span *ngIf="order.isAutoCancelled == 1">Cancelled automatically by ShoppyApp System</span>
      </div>
    </ion-item>
    <ion-item>
      <p>Cancelled at</p>
      <div item-end>
        {{order.cancelledRequested}}
      </div>
    </ion-item>
    <ion-item text-wrap>
      <p>Cancelled Reason</p>
      <p>{{order.cancelledReason}}</p>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-6 *ngIf="type=='buyer'">
          <button ion-button block icon-left outline small color="dark" (click)="contactSeller($event)">
            <ion-icon name="ios-chatbubbles-outline"></ion-icon>
            Contact Seller
          </button>
        </ion-col>
        <ion-col col-6 *ngIf="type=='buyer'">
          <button ion-button block icon-left outline small color="dark" (click)="viewShopProfile({ uuid: order.userId })">
            <ion-icon name="ios-home-outline"></ion-icon>
            Visit Shop
          </button>
        </ion-col>
        <ion-col col-12 *ngIf="type=='buyer' && isOrderCancelRequested && isOrderCancelled">
          <button ion-button block icon-left outline small color="dark">
            Buy Again
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <!--
  ==============================================================================
  ==============================================================================
  ==============================================================================
  ==============================================================================
  ==============================================================================
   -->
  <ion-list *ngIf="isOrderReturnRequest && isOrderReturnRequestCancelled && !isOrderReturnDispute">
    <ion-item *ngIf="type=='buyer'">
      <p>Order ID</p>
      <p>Order Time</p>
      <p>Batch ID</p>
      <div item-end>
        <p><small ion-text color="primary">{{order.orderNum}}</small></p>
        <p><small ion-text color="primary">{{order.orderDateTime}}</small></p>
        <p><small ion-text color="primary">{{order.batchID}}</small></p>
      </div>
    </ion-item>
    <div class="border-delivery"></div>
    <ion-item class="my-card">
      <ion-icon name="ios-map-outline" item-start></ion-icon>
      <h2><b>Delivery Address</b></h2>
      <div text-wrap>
        <p>{{order.orderShipName}} {{order.orderPhone}}</p>
        <p>{{order.orderShipAddress}}</p>
        <p>{{order.orderShipSuburb}}</p>
        <p>{{order.orderShipCity}} {{order.orderShipState}} {{order.orderShipCountry}} {{order.orderShipZipCode}}</p>
      </div>
    </ion-item>
    <div class="border-delivery"></div>
    <ion-item class="my-card" tappable (click)="viewShippingInformation(order)" text-wrap>
      <ion-icon name="md-bus" item-start></ion-icon>
      <h2 class="typo-m18">Shipping Informationn
        <p ion-text color="danger" class="pull-right">VIEW</p>
      </h2>
      <p ion-text color="segondaria">{{order.checkpoint?.message}}</p>
      <p><small>{{order.checkpoint?.checkpoint_time}}</small></p>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-cash-outline" item-start></ion-icon>
      <h2 class="typo-m18">Payment Information</h2>
      <p class="typo-m12">Order Total</p>
      <div item-end>
        <p ion-text color="primary">{{currency.symbol}} {{order.orderAmt}}</p>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-laptop-outline" item-start></ion-icon>
      <h2 class="typo-m18">Payment Method</h2>
      <p class="typo-m12">Cash On Delivery</p>
    </ion-item>
    <ion-list-header color="light" style="min-height: 0rem !important;"></ion-list-header>
    <ion-item-group>
      <ion-item-divider>
        <ion-avatar item-start>
          <img src="./assets/imgs/user.png">
        </ion-avatar>
        <h2>{{order.sellerName}}</h2>
      </ion-item-divider>
      <div *ngFor="let item of order.details">
        <ion-item class="cart-item" item-content>
          <ion-thumbnail item-start>
            <img [src]="item.image.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'" />
          </ion-thumbnail>
          <h2>{{item.detailName}}</h2>
          <p *ngIf="item.variantId">
            <small>Variation: {{item.variantName}}</small>
          </p>
          <p class="price">{{currency.symbol}} {{item.detailPrice}}</p>
          <div item-end>
            <p>x <small>{{item.detailQty}}</small></p>
            <p><small class="valueColumn">{{currency.symbol}} {{item.subTotal}}</small></p>
          </div>
        </ion-item>
      </div>
      <ion-item>
        <p><b>Shipping Fee</b></p>
        <p>{{order.courier_name}} <span ion-text color="primary">{{currency.symbol}} {{order.shippingFee}}</span></p>
      </ion-item>
      <ion-item text-wrap>
        <p><b>Remark</b></p>
        <p>{{order.orderNote}}</p>
      </ion-item>
    </ion-item-group>
    <ion-list-header color="light">&nbsp;</ion-list-header>
    <ion-list-header color="light">Return/Refund Cancellation Details</ion-list-header>
    <ion-item>
      <p>Refund Amount</p>
      <div item-end>
        <b ion-text color="primary">{{currency.symbol}} {{order_return.returnTotal}}</b>
      </div>
    </ion-item>
    <ion-item>
      <p>Refund To</p>
      <div item-end>
        <p>App Wallet</p>
      </div>
    </ion-item>
    <ion-item>
      <p>Cancelled at</p>
      <div item-end>
        {{order_return.cancelReturnRequest}}
      </div>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-6 *ngIf="type=='buyer'">
          <button ion-button block icon-left outline small color="dark" (click)="contactSeller($event)">
            <ion-icon name="ios-chatbubbles-outline"></ion-icon>
            Contact Seller
          </button>
        </ion-col>
        <ion-col col-6 *ngIf="type=='buyer'">
          <button ion-button block icon-left outline small color="dark" (click)="viewShopProfile({ uuid: order.userId })">
            <ion-icon name="ios-home-outline"></ion-icon>
            Visit Shop
          </button>
        </ion-col>
        <ion-col col-12 *ngIf="type=='buyer' && isOrderCancelRequested && isOrderCancelled">
          <button ion-button block icon-left outline small color="dark">
            Buy Again
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <!--
  ==============================================================================
  ==============================================================================
  ==============================================================================
  ==============================================================================
  ==============================================================================
  -->
  <ion-list *ngIf="isOrderReturnRequest && !isOrderReturnRequestCancelled && !isOrderReturnDispute">
    <div class="border-delivery"></div>
    <ion-item class="my-card">
      <ion-icon name="ios-map-outline" item-start></ion-icon>
      <h2><b>Return Address</b></h2>
      <div text-wrap>
        <p>{{order_return.seller_address?.name}} {{order_return.seller_address?.mobile}}</p>
        <p>{{order_return.seller_address?.detailAddress}}</p>
        <p>{{order_return.seller_address?.suburb}}</p>
        <p>{{order_return.seller_address?.city}} {{order_return.seller_address?.state}}
          {{order_return.seller_address?.country}} {{order_return.seller_address?.zipcode}}</p>
      </div>
    </ion-item>
    <div class="border-delivery"></div>
    <ion-item-divider color="light" text-wrap>
      <p>Refund Reason</p>
    </ion-item-divider>
    <div class="images-wrapper">
      <div class="image-wrapper" *ngFor="let item of order_return.return_files">
        <div class="image">
          <img [src]="item.file_path" onError='this.src="./assets/imgs/product/no-preview-150.png"' alt="" />
        </div>
      </div>
    </div>
    <ion-item text-wrap>
      <p>{{order_return.returnedReason}}</p>
    </ion-item>
    <ion-item>
      <p>Refund Amount</p>
      <div item-end>
        <b ion-text color="primary">{{currency.symbol}} {{order_return.returnTotal}}</b>
      </div>
    </ion-item>
    <ion-item *ngIf="type =='buyer'">
      <p>Refund To</p>
      <div item-end>
        <p>App Wallet</p>
      </div>
    </ion-item>
    <ion-item>
      <p>Returned At</p>
      <div item-end>
        <b ion-text color="primary">{{order_return.returnedDateTime}}</b>
      </div>
    </ion-item>
    <ion-item>
      <p>Paid/Refunded At</p>
      <div item-end>
        <b ion-text color="primary"></b>
      </div>
    </ion-item>
    <ion-item-group>
      <ion-item-divider>
        <ion-avatar item-start>
          <img src="./assets/imgs/user.png">
        </ion-avatar>
        <h2>{{order_return.sellerName}}</h2>
      </ion-item-divider>
      <div *ngFor="let item of order_return.return_details">
        <ion-item class="cart-item" item-content>
          <ion-thumbnail item-start>
            <img [src]="item.image.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'" />
          </ion-thumbnail>
          <h2>{{item.detailName}}</h2>
          <p *ngIf="item.variantId">
            <small>Variation: {{item.variantName}}</small>
          </p>
          <h2 class="price">{{currency.symbol}} {{item.detailPrice}}</h2>
          <div item-end>
            <p>x <small>{{item.detailQty}}</small></p>
            <p><strong class="valueColumn">{{currency.symbol}} {{item.subTotal}}</strong></p>
          </div>
        </ion-item>
      </div>
    </ion-item-group>
    <ion-item>
      <p>Request ID</p>
      <p>Requested At</p>
      <div item-end>
        <p><small ion-text color="primary">{{order_return.returnTransCode}}</small></p>
        <p><small ion-text color="primary">{{order_return.returnedRequested}}</small></p>
      </div>
    </ion-item>
    <ion-grid *ngIf="status=='receive' && type =='buyer' && isOrderReturnRequest && !isOrderReturnDispute && !isOrderReturned">
      <ion-row>
        <ion-col col-6>
          <button ion-button block icon-left outline small color="dark" (click)="cancelOrderReturnRequest()" [disabled]="isOrderReturnRequestCancelled || (order_return.isReturnRequestedAcceptedShipping != null && order_return.returnTrackingNumber != null)">
            Cancel Request
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block icon-left outline small color="dark" (click)="viewOrderReturnRequestInstruction()"
            [disabled]="isOrderReturnRequestCancelled">
            View Instruction
          </button>
        </ion-col>
        <ion-col col-12>
          <button ion-button block outline color="dark" small (click)="contactSeller($event)">Contact Seller</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="status=='shipping' && type =='seller' && isOrderReturnRequest && !isOrderReturnDispute && !isOrderReturned">
      <ion-row>
        <ion-col col-12>
          <button ion-button block outline color="danger" small (click)="contactSeller($event)">Contact Buyer</button>
          <button ion-button block outline color="danger" small *ngIf="order_return.returnTrackingNumber != null"
            (click)="viewReturnShippingInformation()">View Return Shipping Info</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="status=='return' && isOrderReturnRequest && !isOrderReturnDispute && isOrderReturned">
      <ion-row *ngIf="type=='buyer'">
        <ion-col col-6>
          <button ion-button block icon-left outline small color="dark" (click)="contactSeller($event)">
            <ion-icon name="ios-chatbubbles-outline"></ion-icon>
            Contact Seller
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block icon-left outline small color="dark" (click)="viewShopProfile({ uuid: order.userId })">
            <ion-icon name="ios-home-outline"></ion-icon>
            Visit Shop
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="type=='seller'">
        <ion-col col-12>
          <button ion-button block icon-left outline small color="dark" (click)="contactSeller($event)">
            <ion-icon name="ios-chatbubbles-outline"></ion-icon>
            Contact Buyer
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <!--
  ==============================================================================
  ==============================================================================
  ==============================================================================
  ==============================================================================
  ==============================================================================
  -->
  <ion-list *ngIf="isOrderReturnRequest && !isOrderReturnRequestCancelled && isOrderReturnDispute">
    <ion-item-divider color="light" text-wrap>
      <p>Seller's Dispute Reason</p>
    </ion-item-divider>
    <div class="images-wrapper">
      <div class="image-wrapper" *ngFor="let item of order_return.return_files">
        <div class="image">
          <img [src]="item.file_path" onError='this.src="./assets/imgs/product/no-preview-150.png"' alt="" />
        </div>
      </div>
    </div>
    <ion-item text-wrap>
      <p>{{order_return.returnedReason}}</p>
    </ion-item>
    <ion-item-divider color="light" text-wrap>
      <p>Refund Reason</p>
    </ion-item-divider>
    <div class="images-wrapper">
      <div class="image-wrapper" *ngFor="let item of order_return.return_files">
        <div class="image">
          <img [src]="item.file_path" onError='this.src="./assets/imgs/product/no-preview-150.png"' alt="" />
        </div>
      </div>
    </div>
    <ion-item text-wrap>
      <p>{{order_return.returnedReason}}</p>
    </ion-item>
    <ion-item>
      <p>Refund Amount</p>
      <div item-end>
        <b ion-text color="primary">{{currency.symbol}} {{order_return.returnTotal}}</b>
      </div>
    </ion-item>
    <ion-item *ngIf="action =='buyer'">
      <p>Refund To</p>
      <div item-end>
        <p>App Wallet</p>
      </div>
    </ion-item>
    <ion-item *ngIf="action =='buyer'">
      <p>Request ID</p>
      <div item-end>
        {{order_return.returnTransCode}}
      </div>
    </ion-item>
    <ion-item *ngIf="action =='buyer'">
      <p>Applealed At</p>
      <div item-end>
        {{order_return.returnedRequested}}
      </div>
    </ion-item>
    <ion-item *ngIf="action =='buyer'" text-wrap>
      <p>Seller Dispute Reason</p>
      <p><small>{{order_return.returnedReason}}</small></p>
    </ion-item>
    <ion-item-group>
      <ion-item-divider>
        <ion-avatar item-start>
          <img src="./assets/imgs/user.png">
        </ion-avatar>
        <h2>{{order_return.sellerName}}</h2>
      </ion-item-divider>
      <div *ngFor="let item of order_return.return_details">
        <ion-item class="cart-item" item-content>
          <ion-thumbnail item-start>
            <img [src]="item.image.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'" />
          </ion-thumbnail>
          <h2>{{item.detailName}}</h2>
          <p *ngIf="item.variantId">
            <small>Variation: {{item.variantName}}</small>
          </p>
          <h2 class="price">{{currency.symbol}} {{item.detailPrice}}</h2>
          <div item-end>
            <p>x <small>{{item.detailQty}}</small></p>
            <p><strong class="valueColumn">{{currency.symbol}} {{item.subTotal}}</strong></p>
          </div>
        </ion-item>
      </div>
    </ion-item-group>
    <ion-grid>
      <ion-row *ngIf="status=='receive' && type =='buyer'">
        <ion-col col-12>
          <button ion-button block outline color="danger" small (click)="contactSeller($event)">Contact Seller</button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="status=='return' && type =='buyer'">
        <ion-col col-6>
          <button ion-button block icon-left outline small color="dark" (click)="contactSeller($event)">
            <ion-icon name="ios-chatbubbles-outline"></ion-icon>
            Contact Seller
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block icon-left outline small color="dark" (click)="viewShopProfile({ uuid: order.userId })">
            <ion-icon name="ios-home-outline"></ion-icon>
            Visit Shop
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="status=='shipping' && type =='seller'">
        <ion-col col-12>
          <button ion-button block outline color="danger" small (click)="contactSeller($event)">Contact Seller</button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="status=='return' && type =='seller'">
        <ion-col col-12>
          <button ion-button block icon-left outline small color="dark" (click)="contactSeller($event)">
            <ion-icon name="ios-chatbubbles-outline"></ion-icon>
            Contact Buyer
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
<!--
==============================================================================
==============================================================================
==============================================================================
==============================================================================
==============================================================================
 -->
<ion-footer>
  <!-- <button ion-button full color="danger" *ngIf="status=='topay'">Transfer Now</button> -->
  <ion-toolbar color="danger">
    <button ion-button full color="danger" *ngIf="status=='topay' && isBatch && type =='buyer'" (click)="gotoPurchases()">My
      Purchases</button>
    <button ion-button full color="danger" *ngIf="status=='topay' && !isBatch && type =='buyer' && !isOrderCancelRequested"
      (click)="cancelOrder()">Cancel Order</button>
    <button ion-button full color="danger" *ngIf="status=='ship' && type =='buyer' && !isOrderCancelRequested" (click)="contactSeller($event)">Contact
      Seller</button>
    <button ion-button full color="danger" *ngIf="status=='ship' && type =='buyer' && isOrderCancelRequested && (isOrderCancelRejected || isOrderCancelWithdraw)"
      (click)="contactSeller($event)">Contact Seller</button>
    <button ion-button full color="danger" *ngIf="status=='ship' && type =='buyer' && isOrderCancelRequested && !isOrderCancelWithdraw && !isOrderCancelRejected"
      (click)="withdrawCancellation()">Withdraw Cancellation Request</button>
    <div *ngIf="status=='receive' && type =='buyer'">
      <button ion-button full color="danger" [disabled]="!isOrderDelivered" *ngIf="isArrangeShipment && !isOrderDelivered && !isOrderCancelled && !isOrderReturnRequest"
        (click)="orderReceived()">Order Received</button>
      <button ion-button full color="danger" *ngIf="isArrangeShipment && isOrderDelivered  && !isOrderCancelled && isOrderReturnRequest && isOrderReturnRequestCancelled"
        (click)="orderReceived()">Order Received</button>
      <ion-row *ngIf="isArrangeShipment && isOrderDelivered && !isOrderCancelled && !isOrderReturnRequest">
        <ion-col col-6>
          <button ion-button block outline color="danger" [disabled]="!isOrderDelivered" (click)="orderReturnRefund()">Return/Refund</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block color="danger" [disabled]="!isOrderDelivered" (click)="orderReceived()">Order
            Received</button>
        </ion-col>
      </ion-row>
      <button ion-button full color="danger" *ngIf="isOrderDelivered && isOrderReturnRequest && !isOrderReturnRequestAccepted && !isOrderReturnRequestCancelled && !isOrderReturned && !isOrderReturnDispute"
        (click)="cancelOrderReturnRequest()">Cancel Return/Refund Request</button>
      <button ion-button full color="danger" *ngIf="isOrderDelivered && isOrderReturnRequest && isOrderReturnRequestAccepted && !isOrderReturnRequestCancelled && !isOrderReturned && !isOrderReturnDispute && order_return.returnTrackingNumber == null"
        (click)="inputReturnShippingInformation()">Input Shipping Information</button>
      <button ion-button full color="danger" *ngIf="isOrderDelivered && isOrderReturnRequest && isOrderReturnRequestAccepted && !isOrderReturnRequestCancelled && !isOrderReturned && !isOrderReturnDispute && order_return.returnTrackingNumber != null"
        (click)="viewReturnShippingInformation()">View Return Shipping Info</button>
    </div>
    <button ion-button full color="danger" *ngIf="status=='completed' && type =='buyer'">Rate Seller</button>
    <button ion-button full color="danger" *ngIf="status=='cancelled' && type =='buyer'" (click)="viewCancelReason()">Cancellation
      Details</button>
    <button ion-button full color="danger" *ngIf="status=='return' && type =='buyer' && isOrderReturnRequest && isOrderReturned"
      (click)="viewReturnShippingInformation()">View Return/Refund Info</button>
    <!--
    ==============================================================================
                                    SELLER
    ==============================================================================
     -->
    <button ion-button full color="danger" *ngIf="status=='unpaid' && type =='seller'" (click)="approvedOrder()">Approved</button>
    <button ion-button full color="danger" *ngIf="status=='ship' && type =='seller' && isArrangeShipment && !isOrderCancelRequested"
      (click)="shippedOrder()">Arrange Shipment</button>
    <button ion-button full color="danger" *ngIf="status=='ship' && type =='seller' && !isArrangeShipment && !isOrderCancelRequested"
      disabled="true">Arrange Shipment</button>
    <button ion-button full color="danger" *ngIf="status=='ship' && type =='seller' && isArrangeShipment && isOrderCancelRequested && (isOrderCancelRejected || isOrderCancelWithdraw)"
      (click)="shippedOrder()">Arrange Shipment</button>
    <ion-row *ngIf="status=='ship' && type =='seller' && (isOrderCancelRequested && !isOrderCancelRejected && !isOrderCancelWithdraw)">
      <ion-col col-6>
        <button ion-button block outline color="danger" (click)="rejectCancellation()">Reject Cancellation</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block color="danger" (click)="acceptCancellation()">Accept Cancellation</button>
      </ion-col>
    </ion-row>
    <button ion-button full color="danger" *ngIf="status=='cancelled' && type =='seller'" (click)="viewCancelReason()">Cancellation
      Details</button>
    <div *ngIf="status=='shipping' && type =='seller'">
      <button ion-button full color="danger" *ngIf="!isOrderReturnRequest && !isOrderCancelRequested" (click)="contactBuyer($event)">Contact
        Buyer</button>
      <button ion-button full color="danger" *ngIf="!isOrderReturnRequest && isOrderCancelRequested && (isOrderCancelWithdraw || isOrderCancelRejected)"
        (click)="contactBuyer($event)">Contact Buyer</button>
      <button ion-button full color="danger" *ngIf="isOrderReturnRequest && !isOrderReturned && isOrderReturnRequestCancelled"
        (click)="contactBuyer($event)">Contact Buyer</button>
      <ion-row *ngIf="isOrderReturnRequest && !isOrderReturned && !isOrderReturnRequestCancelled">
        <ion-col col-6>
          <button ion-button block outline color="danger" (click)="submitDisputeOrderReturn()">Submit Dispute</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block color="danger" *ngIf="order_return.returnTrackingNumber == null" [disabled]="isOrderReturnRequestAccepted"
            (click)="acceptBuyerRefundRequest()">Accept Return</button>
          <button ion-button block color="danger" *ngIf="order_return.returnTrackingNumber != null" (click)="acceptBuyerRefund()">Refund</button>
        </ion-col>
      </ion-row>
    </div>
    <button ion-button full color="danger" *ngIf="status=='completed' && type =='seller'" [disabled]="true">Rate Buyer</button>
    <button ion-button full color="danger" *ngIf="status=='return' && type =='seller' && isOrderReturnRequest && isOrderReturned"
      (click)="viewReturnShippingInformation()">View Return/Refund Info</button>
  </ion-toolbar>
</ion-footer>
