page-orderdetails {

  .my-card {
    margin: 0px;
    width: 100%;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  ion-footer {
    [ion-button] {
      margin: 0 !important;
    }
  }

  .heads {
    ion-icon {
      display: inline-block;
      font-size: 2.2em;
    }

    padding: 5px;
  }

  .checkout {
    text-transform: uppercase;
    font-weight: 500;
  }

  .price {
    color: #488aff !important;
    text-align: left;
    font-weight: 600;
    padding-top: 5px;
  }

  .shippingprice {
    color: #488aff !important;
    font-weight: 500;
  }

  .rating {
    color: #488aff !important;
    text-align: right;
    font-weight: 500;
    font-size: 1rem
  }

  .cart-item h2 {
    color: #FF6500;
    font-weight: bold;
  }

  .cart-item p {
    color: #222;
  }

  .keyColumn {
    color: #8CA2B2;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .valueColumn {
    color: #488aff;
    text-align: right;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .images-wrapper {
    font-size: 0;

    .image-wrapper {
      display: inline-block;
      margin: 0;
      width: 33.3333%;
      box-sizing: border-box;
      padding: 1px;
      position: relative;

      .remove-image {
        z-index: 100;
        position: absolute;
        right: 1px;
        top: 1px;
        padding: 5px 6px;
        font-size: 20px;
        text-shadow: white 0 0 1px;
      }

      .image {
        position: relative;
        background-size: cover;
        background-position: center center;

        img {
          width: 100%;
        }
      }

    }
  }
}
