<ion-list>
  <ion-item *ngFor="let item of sellerVouchersArr">
    <h2 class="typo-m16" ion-text color="dangers" *ngIf="item.voucherType=='fixed'">{{currency.symbol_native}}{{item.voucherAmt}} OFF</h2>
    <h2 class="typo-m16" ion-text color="dangers" *ngIf="item.voucherType=='percentrage'">{{item.maxDiscountPrice}}% OFF</h2>
    <p class="voucher-ticket__code-label"><b>Code:</b>&nbsp; {{item.voucherCode}}</p>
    <p class="typo-l14 voucher-ticket__requirement"><b>Min. Spend:</b>&nbsp;{{currency.symbol_native}}{{item.minimumOrderAmt}}</p>
    <p class="typo-l12 voucher-ticket__expiry"><b>Valid Till</b> {{item.voucherTo | date: 'shortDate'}}</p>
    <button ion-button outline color="dangers" item-end *ngIf="enableClaim">
      Claim
    </button>
  </ion-item>
</ion-list>
