<ion-list>
  <div class="border-delivery"></div>
  <ion-item class="my-card">
    <ion-icon name="ios-map-outline" item-start></ion-icon>
    <h2><b>Return Address</b></h2>
    <div text-wrap>
      <p>{{return.seller_address?.name}} {{return.seller_address?.mobile}}</p>
      <p>{{return.seller_address?.detailAddress}}</p>
      <p>{{return.seller_address?.suburb}}</p>
      <p>{{return.seller_address?.city}} {{return.seller_address?.state}} {{return.seller_address?.country}} {{return.seller_address?.zipcode}}</p>
    </div>
  </ion-item>
  <div class="border-delivery"></div>
  <ion-item-divider color="light" text-wrap>
    <p>Refund Reason</p>
  </ion-item-divider>
  <div class="images-wrapper">
    <div class="image-wrapper" *ngFor="let item of return.return_files">
      <div class="image"><img [src]="item.file_path" onError='this.src="./assets/imgs/product/no-preview-150.png"' alt="" /></div>
      </div>
    </div>
    <ion-item text-wrap>
      <p>{{return.returnedReason}}</p>
    </ion-item>
    <ion-item>
      <p>Request ID</p>
      <p>Requested At</p>
      <div item-end>
        <p><small ion-text color="primary">{{return.returnTransCode}}</small></p>
        <p><small ion-text color="primary">{{return.returnedRequested}}</small></p>
      </div>
    </ion-item>
    <ion-item>
      <p>Refund Amount</p>
      <div item-end>
        <b ion-text color="primary">{{currency.symbol}} {{return.returnTotal}}</b>
      </div>
    </ion-item>
    <ion-item>
      <p>Refund To</p>
      <div item-end>
        <p>App Wallet</p>
      </div>
    </ion-item>
    <ion-item>
      <p>Returned At</p>
      <div item-end>
        <b ion-text color="primary">{{return.returnedDateTime}}</b>
      </div>
    </ion-item>
    <ion-item>
      <p>Paid/Refunded At</p>
      <div item-end>
        <b ion-text color="primary"></b>
      </div>
    </ion-item>
    <ion-item-divider color="light" text-wrap>
      <p>Return Shipment Information</p>
    </ion-item-divider>
    <ion-item>
      <p>Carrier</p>
      <div item-end>
        <p>{{return.shipping_courier.name}}</p>
      </div>
    </ion-item>
    <ion-item>
      <p>Tracking Number</p>
      <div item-end>
        <p>{{return.returnTrackingNumber}}</p>
      </div>
    </ion-item>
    <ion-item-divider color="light" text-wrap>
      <p>Shipment Proof</p>
    </ion-item-divider>
    <div class="images-wrapper">
      <div class="image-wrapper" *ngFor="let item of return.return_shipping_files">
        <div class="image"><img [src]="item.file_path" onError='this.src="./assets/imgs/product/no-preview-150.png"' alt="" /></div>
        </div>
      </div>
      <ion-item-divider color="light" text-wrap>
        <p>Shipment Remarks</p>
      </ion-item-divider>
      <ion-item text-wrap>
        <p>{{return.returnedReason}}</p>
      </ion-item>
</ion-list>
