page-chatdetail {
  $userBackgroundColor: #387ef5;
  $toUserBackgroundColor: #fff;

  .toolbar-background-ios {
    background: #fff;
  }

  ion-content .scroll-content {
    background-color: #f5f5f5;
  }

  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    height: 255px;
  }

  .line-breaker {
    white-space: pre-line;
  }

  .has-link {
    .offer-item {
      .label {
        margin: 0 !important;
      }
    }
  }

  .input-wrap {
    padding: 0 5px;

    ion-textarea {
      position: static;
    }

    ion-col.col {
      padding: 0;
    }

    button {
      width: 100%;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }

    textarea {
      border-bottom: 1px $userBackgroundColor;
      border-style: solid;
    }
  }

  .message-wrap {
    padding-top: 12px;

    .message {
      position: relative;
      padding: 7px 0;

      .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
      }

      .msg-detail {
        width: 100%;
        display: inline-block;

        p {
          margin: 0;
        }

        .msg-info {
          p {
            font-size: .8em;
            color: #888;
          }
        }

        .msg-content {
          position: relative;
          margin-top: 5px;
          border-radius: 5px;
          padding: 8px;
          // border: 1px solid #ddd;
          background: #ddd;
          color: #fff;
          /* border: 1px solid #ddd;
          color: #fff; */
          width: auto;
          max-width: 80%;

          span.triangle {
            background-color: #fff;
            border-radius: 2px;
            height: 8px;
            width: 8px;
            top: 12px;
            display: block;
            border-style: solid;
            border-color: #ddd;
            border-width: 1px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
          }
        }
      }
    }

    .message.left {
      .msg-content {
        background-color: $toUserBackgroundColor;
        color: #000;
        float: left;
      }

      .msg-detail {
        padding-left: 60px;
      }

      .user-img {
        left: 0;
      }

      .msg-content {
        color: #343434;

        span.triangle {
          border-top-width: 0;
          border-right-width: 0;
          left: -5px;
        }
      }
    }

    .message.right {
      .msg-detail {
        padding-right: 60px;

        .msg-info {
          text-align: right;
        }
      }

      .user-img {
        right: 0;
      }

      ion-spinner {
        position: absolute;
        right: 10px;
        top: 50px;
      }

      .msg-content {
        background-color: $userBackgroundColor;
        color: #fff;
        float: right;

        span.triangle {
          background-color: $userBackgroundColor;
          border-bottom-width: 0;
          border-left-width: 0;
          right: -5px;
        }
      }
    }
  }

  .typing-indicator-box {
    flex: 1;
    margin: 0;
    max-height: 45px;
    background-color: transparent;
  }

  .typing-indicator-box ul {
    flex: 1;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
  }

  .typing-indicator-box img {
    padding: 4px;
    width: 45px;
  }

  .typing-indicator-box li {
    display: inline-block;
  }

  .typing-indicator {
    background-color: #E6E7ED;
    width: auto;
    border-radius: 33px;
    padding: 10px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 5px;
    position: relative;
    top: -10px;
    -webkit-animation: 2s bulge infinite ease-out;
    animation: 2s bulge infinite ease-out;
  }

  .typing-indicator:before,
  .typing-indicator:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 10px;
    width: 10px;
    border-radius: 40%;
    background-color: #E6E7ED;
  }

  .typing-indicator:after {
    height: 5px;
    width: 5px;
    left: -5px;
    bottom: -5px;
  }

  .typing-indicator span {
    height: 6px;
    width: 6px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
  }

  .typing-indicator span:nth-of-type(1) {
    -webkit-animation: 1s blink infinite 0.3333s;
    animation: 1s blink infinite 0.3333s;
  }

  .typing-indicator span:nth-of-type(2) {
    -webkit-animation: 1s blink infinite 0.6666s;
    animation: 1s blink infinite 0.6666s;
  }

  .typing-indicator span:nth-of-type(3) {
    -webkit-animation: 1s blink infinite 0.9999s;
    animation: 1s blink infinite 0.9999s;
  }

  @-webkit-keyframes blink {
    50% {
      opacity: 1;
    }
  }

  @keyframes blink {
    50% {
      opacity: 1;
    }
  }

  @-webkit-keyframes bulge {
    50% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }

  @keyframes bulge {
    50% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}
