<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>
      <span>{{toUser.name}}</span> <br>
      <small>{{toUser.connectionStatus}}</small>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="more($event)">
        <ion-icon ios="ios-more-outline" md="ios-more-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="message-wrap">
    <div *ngFor="let msg of msgList">
      <chat-product-message [product]="msg.data" [message]="msg" *ngIf="msg.customType == 'PRODUCT_INFO'"></chat-product-message>
      <chat-order-message [order]="msg.data" [message]="msg" (_viewDetails)="viewDetails($event)" *ngIf="msg.customType == 'ORDER_INFO'"></chat-order-message>
      <chat-detail-message [message]="msg" [currentUser]="currentUser" [toUser]="toUser"></chat-detail-message>
    </div>
    <!--
      ===============================================================
      ===============================================================
      ===============================================================
     -->
    <chat-product-message [product]="product" *ngIf="isLink"></chat-product-message>
    <chat-order-message [order]="order" *ngIf="isOrder" (_viewDetails)="viewDetails($event)"></chat-order-message>
  </div>
  <div class="typing-indicator-box">
    <ul>
      <li *ngFor="let userTyping of usersTyping">
        <div class="typing-indicator">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </li>
    </ul>
  </div>
</ion-content>
<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <ion-grid class="input-wrap">
    <ion-row>
      <ion-col col-2>
        <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
          <ion-icon name="md-happy"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8>
        <ion-textarea #chat_input placeholder="Text Input" [(ngModel)]="editorMsg" (keypress)="onTyping($event)"
          (keyup.enter)="sendMsg()" (ionFocus)="onFocus()">
        </ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only item-right (click)="sendMsg()">
          <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <emoji-picker *ngIf="showEmojiPicker" name="fieldEmoji" ngDefaultControl [(ngModel)]="editorMsg"></emoji-picker>
</ion-footer>
