<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>My Vouchers</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="voucherType" mode="md" color="danger">
      <ion-segment-button value="valid">
        Valid
      </ion-segment-button>
      <ion-segment-button value="used">
        Used
      </ion-segment-button>
      <ion-segment-button value="invalid">
        Invalid
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <my-vouchers-ticket *ngIf="voucherType == 'valid'"></my-vouchers-ticket>
    <my-vouchers-ticket [isUsed]="true" *ngIf="voucherType == 'used'"></my-vouchers-ticket>
    <my-vouchers-ticket [isInValid]="true" *ngIf="voucherType == 'invalid'"></my-vouchers-ticket>
  </ion-list>
  <div text-center text-wrap>
    <p ion-text color="dangers">No more vouchers found</p>
  </div>
</ion-content>
