<ion-list class="has-link">
  <ion-item text-wrap (click)="viewDetails(order)">
    <ion-thumbnail item-start>
      <img [src]="order.details[0]?.image?.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
    </ion-thumbnail>
    <h2 class="typo-r14">Order ID: {{order.orderNum}}</h2>
    <h2 class="typo-r14">Order Total: {{currency.symbol_native}}{{order.orderAmt}}</h2>
    <p ion-text color="danger">{{action | uppercase}}</p>
  </ion-item>
</ion-list>
