<ion-list>
  <ion-list-header>
    Select Variation
  </ion-list-header>
  <ion-row>
    <ion-col col-6 *ngFor="let item of variantsArr">
      <button ion-button outline color="dangers" small block (click)="selectItem(item)" [ngClass]="{'selected': item.selected}"
        [disabled]="item.isDisable">{{item.name}}</button>
    </ion-col>
  </ion-row>
</ion-list>
