<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>My Income</ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="orders" mode="md" color="dangers">
    <ion-segment-button value="ongoing">
      Ongoing Orders
    </ion-segment-button>
    <ion-segment-button value="completed">
      Completed Orders
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="orders =='ongoing'">
    <ion-item>
      <div text-center>
        <h1 ion-text color="dangers">Php {{income.onGoingOrders?.totalAmt | number: '.2'}}</h1>
        <!-- <small>Under ShoppyApp Guarantee</small> -->
      </div>
      <ion-note item-end>
        <ion-icon name="ios-help-circle-outline"></ion-icon>
      </ion-note>
    </ion-item>
    <div class="myCard" *ngIf="!mapTabEnabled">
      <div padding text-center>
        <img src="./assets/imgs/paper.svg" />
      </div>
        <ion-card-content>
          <p text-center>
            No Transaction History
          </p>
        </ion-card-content>
      </div>
      <div *ngIf="mapTabEnabled">
        <ion-item-group class="mt-10" (click)="viewOrderDetails(order)" *ngFor="let order of income.onGoingOrders?.orders | orderBy: 'orderDateTime'">
          <ion-list-header>
            <ion-avatar item-start>
              <img [src]="order.user_info?.img_path" onError="this.src='./assets/imgs/user.png'">
          </ion-avatar>
              <h2>{{order.user_info?.username}}</h2>
          </ion-list-header>
          <ion-item class="cart-item" item-content *ngFor="let item of order.details">
            <ion-thumbnail item-start>
              <img [src]="item.image.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
          </ion-thumbnail>
              <h4>{{item.detailName}}</h4>
              <small *ngIf="item.variantId">
            <ion-note>Variation: {{item.variantName}}</ion-note>
          </small>
              <p item-end>
                <small>x {{item.detailQty}}</small>
                <br>
                <small>{{item.detailPrice}}</small>
              </p>
          </ion-item>
          <ion-list-header *ngIf="order.details.length > 1">
            <ion-note text-center>
              <small>View {{(order.details.length - 1)}} more products</small>
            </ion-note>
          </ion-list-header>
          <ion-list-header>
            <ion-note item-start>{{order.details.length}} item</ion-note>
            <div item-end>
              Total Payment: <span class="price">Php {{order.orderAmt | number: '.2'}}</span>
            </div>
          </ion-list-header>
          <ion-list-header>
            <div item-start text-wrap>
              <small>Pay with Cash On Delivery</small>
            </div>
            <button ion-button color="danger" item-end (click)="contactSeller(order,$event)">Contact Buyer</button>
          </ion-list-header>
        </ion-item-group>
      </div>
    </div>
    <div *ngIf="orders =='completed'">
      <ion-item>
        <div text-center text-wrap>
          <h1 class="balance">Php {{income.completedOrders?.totalAmt | number:'.2'}}</h1>
          <small>Released Amount ({{myDate1 | date: 'MM/dd/yyyy'}} to {{myDate2 | date: 'MM/dd/yyyy'}})</small>
        </div>
        <ion-note item-end>
          <ion-icon name="ios-help-circle-outline"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-list padding>
        <ion-label stacked> Filter by payment completed date</ion-label>
        <ion-row>
          <ion-item col-6>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate1"></ion-datetime>
          </ion-item>
          <ion-item col-6>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate2"></ion-datetime>
          </ion-item>
        </ion-row>
      </ion-list>
      <div class="myCard" *ngIf="!mapTabEnabled2">
        <div padding text-center>
          <img src="./assets/imgs/paper.svg" />
          <p text-center>
            No Transaction History
          </p>
        </div>
      </div>
      <div *ngIf="mapTabEnabled2">
        <ion-item-group (click)="viewOrderDetails(order,'completed')" class="mt-10" *ngFor="let order of income.completedOrders?.orders | orderBy: 'orderDateTime'">
          <ion-list-header>
            <ion-avatar item-start>
              <img src="./assets/imgs/user.png">
          </ion-avatar>
              <h2>{{order.sellerName}}</h2>
              <div item-end style="color: #FF6500;">
                Completed
              </div>
          </ion-list-header>
          <div *ngFor="let item of order.details">
            <ion-item class="cart-item" item-content>
              <ion-thumbnail item-start>
                <img [src]="item.image.img_public_path" onError="this.src='./assets/imgs/product/1.jpg'">
            </ion-thumbnail>
                <h4>{{item.detailName}}</h4>
                <!-- <small>Variation: Breds</small> -->
                <p item-end>
                  <small>x {{item.detailQty}}</small>
                  <br>
                  <small>P {{item.detailPrice | number: '.2'}}</small>
                </p>
            </ion-item>
            <ion-list-header *ngIf="order.details.length > 1">
              <ion-note text-center>
                <small>View {{(order.details.length - 1)}} more products</small>
              </ion-note>
            </ion-list-header>
            <ion-list-header>
              <ion-note item-start text-wrap color="segondaria">
                <ion-icon name="cube"></ion-icon>
                <small>Shipped and Delivered by {{item.courier_name}} </small>
              </ion-note>
              <ion-note item-end>
                <small>{{order.receivedDateTime}}</small>
              </ion-note>
            </ion-list-header>
          </div>
          <ion-list-header>
            <ion-note item-start>{{order.details.length}} item</ion-note>
            <div item-end>
              Total Payment: <span class="price">Php {{order.orderAmt | number: '.2'}}</span>
            </div>
          </ion-list-header>
        </ion-item-group>
      </div>
    </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="dangers" *ngIf="orders=='completed'">
    <button ion-button full color="dangers" (click)="withdraw()">Withdraw</button>
  </ion-toolbar>
</ion-footer>
