page-myincome {
  .toolbar-background-ios {
    background: #fff;
  }

  .myCard {
    margin: 12px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #fff;
    display: block;
    overflow: hidden;
    padding-top: 5em;

    img {
      width: 5em;
    }
  }

  .balance {
    font-size: 3rem !important;
    color: #488aff;
    font-weight: 500;
  }

  .withdrawal {
    color: #f53d3d;

    ion-icon {
      font-size: 2.2em;
    }

    label {
      font-size: 0.7em;
    }
  }

  .transaction {
    color: #488aff;

    ion-icon {
      font-size: 2.2em;
    }

    label {
      font-size: 0.7em;
    }
  }
}
