<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Shipping</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <div text-center class="heads">
      <ion-row>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon color="primary" name="ios-pin-outline"></ion-icon>
              <br>
              <small ion-text color="primary">Address</small>
            </div>
          </ion-label>
        </ion-col>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon color="primary" name="ios-copy-outline"></ion-icon>
              <br>
              <small ion-text color="primary">Shipping</small>
            </div>
          </ion-label>
        </ion-col>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon name="ios-cash-outline"></ion-icon>
              <br>
              <small>Payment</small>
            </div>
          </ion-label>
        </ion-col>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
              <br>
              <small>Confirm</small>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>
    <ion-list-header color="light">
    </ion-list-header>
    <ion-item-group *ngFor="let item of cartArr">
      <ion-item-divider color="light">
        <ion-avatar item-start>
          <img src="./assets/imgs/user.png">
        </ion-avatar>
        <h2>{{item.store?.sellerName}}</h2>
      </ion-item-divider>
      <div *ngFor="let row of item.details">
        <ion-item class="cart-item" item-content>
          <ion-thumbnail item-start>
            <img [src]="row.details.images[0].img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'" *ngIf="row.details?.images && row.details?.images?.length > 0"
            />
            <img src="./assets/imgs/product/no-preview-150.png" *ngIf="row.details?.images && row.details?.images?.length < 1" />
          </ion-thumbnail>
          <h2>{{row.details?.productName}}</h2>
          <small class="price">{{currency.symbol}} {{row.details?.productPrice | number:'.2'}}</small>
          <div *ngIf="row.details?.variant">
            <ion-note>
              <small>Variation: {{row.details?.variant.name}}</small>
            </ion-note>
          </div>
          <div item-end>
            x
            <small>{{row.quantity}}</small>
          </div>
        </ion-item>
      </div>
      <ion-list-header color="light">Shipping Options</ion-list-header>
      <ion-item (click)="changeShipping(item)">
          <h4>Shipping:
            <span ion-text color="primary" *ngIf="item.selected_shipping !=null ">{{item.selected_shipping?.name}}</span>
            <span ion-text color="danger" *ngIf="item.selected_shipping == null">No Shipping Courier</span>
          </h4>
          <small *ngIf="item.selected_shipping !=null ">
            <!-- <span>Received in 10-13 days </span> -->
            <b ion-text color="primary" *ngIf="item.shippingFee">
              {{currency.symbol}} {{item.shippingFee | number:'.2'}}
            </b>
          </small>
          <div item-end>
            <small ion-text color="secondary">CHANGE</small>
          </div>
      </ion-item>
      <!-- <ion-item text-wrap (click)="changeShipping()">
          <ion-icon name="md-car" item-start></ion-icon>
          <small>100% off shipping (capped at P100) with min. order of P500.00 with {{item.store?.sellerName}} via LBC Express</small>
        </ion-item> -->
      <!-- <div class="shippinginfo">
        <ion-item (click)="changeShipping()">
          <ion-icon name="md-car" item-start></ion-icon>
          <h3 ion-text color="primary">Shipping</h3>
          <p ion-text color="primary">LBC Express</p>
          <p>Received in 10-13 days</p>
          <div item-end>
            <p ion-text color="secondary">CHANGE</p>
            <p ion-text color="primary">P 150.00</p>
          </div>
        </ion-item>
        <ion-item text-wrap (click)="changeShipping()">
          <ion-icon name="md-car" item-start></ion-icon>
          <small>100% off shipping (capped at P100) with min. order of P500.00 with {{item.store?.sellerName}} via LBC Express</small>
        </ion-item>
      </div> -->
      <ion-item style="line-height: 10px;">
        <ion-note item-start>
          <small>{{item.details.length}} Item</small>
        </ion-note>
        <div item-end>
          <ion-row>
            <ion-col text-left>
              Shipping:
              <strong class="valueColumn">{{currency.symbol}} {{item.shippingFee | number:'.2'}}</strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-left>
              Subtotal:
              <strong class="valueColumn">{{currency.symbol}} {{item.subTotal | number:'.2'}}</strong>
            </ion-col>
          </ion-row>
        </div>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Leave a message" [(ngModel)]="item.orderNote"></ion-textarea>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-row>
    <!-- <ion-col></ion-col>
    <ion-col col-8>
      <h4><small>Total Payment:</small>&nbsp; <span class="shippingprice">{{total | number:'.2'}}</span></h4>
    </ion-col> -->
    <ion-item no-lines>
      <ion-label>Total Shipping:</ion-label>
      <ion-label text-right color="primary" item-end>{{currency.symbol}} {{shippingTotal | number:'.2'}}</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-label>Total Payment:</ion-label>
      <ion-label text-right color="primary" item-end>{{currency.symbol}} {{total | number:'.2'}}</ion-label>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-col style="padding:0px !important;">
      <button class="checkout" ion-button full color="danger" [disabled]="disableNext" (click)="proceedPaymentOption()">NEXT: PAYMENT OPTION</button>
    </ion-col>
  </ion-row>
</ion-footer>