page-shippingoption {
  .toolbar-background-ios {
    background: #fff;
  }

  .my-card {
    margin: 0px;
    width: 100%;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  ion-footer {
    border-top: 0.55px solid #c8c7cc;

    [ion-button] {
      margin: 0 !important;
    }
  }

  .heads {
    ion-icon {
      display: inline-block;
      font-size: 2.2em;
    }

    padding: 5px;
  }

  ion-list-header {
    min-height: 0rem !important;
  }

  .shippinginfo {
    border-top: 3px solid #488aff;
    border-bottom: 3px solid #488aff;

    .item-block .item-inner {
      border-bottom: none !important;
    }
  }

  .checkout {
    text-transform: uppercase;
    font-weight: 500;
  }

  .shippingprice {
    color: #488aff !important;
    font-weight: 500;
  }

  .rating {
    color: #488aff !important;
    text-align: right;
    font-weight: 500;
    font-size: 1rem;
  }

  .cart-item {
    p {
      color: #222;
    }

    h2 {
      color: #ff6500;
      font-weight: bold;
    }

    ion-thumbnail img {
      width: 56px;
      height: 100%;
    }

    .price {
      color: #488aff !important;
      text-align: left;
      font-weight: 600;
      padding-top: 5px;
    }
  }

  .keyColumn {
    color: #8ca2b2;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .valueColumn {
    color: #488aff;
    text-align: right;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .qty {
    padding: 5px 8px;
    margin: 0px 4px;
    font-size: 20px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 0 1px -2px rgba(0, 0, 0, 0.2);
  }
}
