<ion-header no-border no-line>
  <ion-navbar color="shoppyprimary">
    <ion-title>
      Chats
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon ios="ios-close-circle-outline" md="ios-close-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="showContent">
    <ion-item-sliding *ngFor="let user of contactsArr">
      <ion-item (click)="gotoDetail(user)">
        <ion-avatar item-start>
          <img [src]="user.invited.avatar" onError="this.src='./assets/imgs/user.png'">
        </ion-avatar>
        <h2>{{user.invited.name}}</h2>
        <p>{{user.lastMessage?.message}}</p>
        <ion-note item-end>
          <ion-badge *ngIf="user.unreadMessageCount > 0">{{user.unreadMessageCount}}</ion-badge>
          <small>{{user.lastMessage?.createdAt | date:'h:mm a'}}</small>
        </ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="dark" (click)="unread()">
          <ion-icon name="create"></ion-icon>
          Mark as unread
        </button>
        <button ion-button color="danger" (click)="delete()">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="!showContent">
    <ion-item *ngFor="let item of fakeArr">
      <ion-avatar item-start>
        <skeleton-item height="50px" width="50px" rounded></skeleton-item>
      </ion-avatar>
      <skeleton-item></skeleton-item>
      <skeleton-item height="8px" width="67%"></skeleton-item>
    </ion-item>
  </ion-list>
</ion-content>
