<ion-list>
  <ion-list-header color="light"></ion-list-header>
  <ion-item>
    <ion-label>
      <h4>Vacation Mode</h4>
    </ion-label>
    <ion-toggle [(ngModel)]="user.sellerIsVacationMode" (ionChange)="updateItem()"></ion-toggle>
  </ion-item>
  <ion-list-header color="light">
    <small text-wrap>Turn on Vacation Mode to prevent buyers from placing new orders. Existing order must still be fullfiled.</small>
  </ion-list-header>
</ion-list>
