<ion-list *ngIf="discountMode == 'upcoming'">
  <div *ngIf="showContent">
    <div *ngIf="upcomingArr && upcomingArr.length > 0">
      <ion-item *ngFor="let item of upcomingArr" detail-push (click)="viewDiscount(item)">
        <h2 ion-text color="segondaria">{{item.promo_name}}</h2>
        <p>From: {{item.event_from}}</p>
        <p>To: {{item.event_to}}</p>
      </ion-item>
    </div>
    <div class="myCard" *ngIf="upcomingArr && upcomingArr.length < 1">
      <div padding text-center>
        <img src="./assets/imgs/tag.svg" />
      </div>
      <ion-card-content>
        <p text-center>No discount promotions found</p>
      </ion-card-content>
    </div>
  </div>
  <div *ngIf="!showContent">
    <ion-item *ngFor="let item of fakeArr">
      <skeleton-item></skeleton-item>
      <skeleton-item height="8px" width="67%"></skeleton-item>
      <skeleton-item height="8px" width="67%"></skeleton-item>
    </ion-item>
  </div>
</ion-list>
<ion-list *ngIf="discountMode == 'ongoing'">
  <div *ngIf="showContent">
    <div *ngIf="ongoingArr && ongoingArr.length > 0">
      <ion-item *ngFor="let item of ongoingArr" detail-push (click)="viewDiscount(item)">
        <h2 ion-text color="primary">{{item.promo_name}}</h2>
        <p>From: {{item.event_from}}</p>
        <p>To: {{item.event_to}}</p>
      </ion-item>
    </div>
    <div class="myCard" *ngIf="ongoingArr && ongoingArr.length < 1">
      <div padding text-center>
        <img src="./assets/imgs/tag.svg" />
      </div>
      <ion-card-content>
        <p text-center>No discount promotions found</p>
      </ion-card-content>
    </div>
  </div>
  <div *ngIf="!showContent">
    <ion-item *ngFor="let item of fakeArr">
      <skeleton-item></skeleton-item>
      <skeleton-item height="8px" width="67%"></skeleton-item>
      <skeleton-item height="8px" width="67%"></skeleton-item>
    </ion-item>
  </div>
</ion-list>
<ion-list *ngIf="discountMode == 'expired'">
  <div *ngIf="showContent">
    <div *ngIf="expiredArr && expiredArr.length > 0">
      <ion-item *ngFor="let item of expiredArr" detail-push (click)="viewDiscount(item)">
        <h2 ion-text color="aquahaze">{{item.promo_name}}</h2>
        <p ion-text color="aquahaze">From: {{item.event_from}}</p>
        <p ion-text color="aquahaze">To: {{item.event_to}}</p>
        <button ion-button outline item-end disabled color="aquahaze">Expired</button>
      </ion-item>
    </div>
    <div class="myCard" *ngIf="expiredArr && expiredArr.length < 1">
      <div padding text-center>
        <img src="./assets/imgs/tag.svg" />
      </div>
      <ion-card-content>
        <p text-center>No discount promotions found</p>
      </ion-card-content>
    </div>
  </div>
  <div *ngIf="!showContent">
    <ion-item *ngFor="let item of fakeArr">
      <skeleton-item></skeleton-item>
      <skeleton-item height="8px" width="67%"></skeleton-item>
      <skeleton-item height="8px" width="67%"></skeleton-item>
    </ion-item>
  </div>
</ion-list>
