content-discount-promotions {
  .myCard {
    margin: 12px;
    width: calc(100% - 24px) !important;
    font-size: 1.4rem !important;
    display: block;
    overflow: hidden;
    padding-top: 5em !important;

    img {
      width: 5em !important;
      display: inline-block !important;
    }
  }
}
