<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>{{title}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="createAction()" *ngIf="action !== 'order_tracking' && action !== 'seller_vouchers_details'">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="deleteAction()" *ngIf="action == 'seller_vouchers_details'">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="action == 'sellers'">
    <ion-segment [(ngModel)]="sellerMode" mode="md" color="danger">
      <ion-segment-button value="seller"> Seller </ion-segment-button>
      <ion-segment-button value="all">All Activity </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar *ngIf="action == 'brands'">
    <ion-searchbar (input)="getItems($event)" (ionClear)="onClear()" *ngIf="!isLoading"></ion-searchbar>
    <skeleton-item height="30px" radius="5px" style="padding: 0 8px;" *ngIf="isLoading"></skeleton-item>
  </ion-toolbar>
  <ion-toolbar *ngIf="action == 'discount_promotions'">
    <ion-segment [(ngModel)]="discountMode" mode="md" color="danger">
      <ion-segment-button value="upcoming"> Upcoming </ion-segment-button>
      <ion-segment-button value="ongoing">Ongoing </ion-segment-button>
      <ion-segment-button value="expired">Expired </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar *ngIf="action == 'seller_vouchers_details'">
    <ion-segment [(ngModel)]="voucherMode" mode="md" color="danger">
      <ion-segment-button value="info"> Voucher </ion-segment-button>
      <ion-segment-button value="orders">Orders </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="{'productClass': (action == 'products')}">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!--
    ==============================================================================================
    ==============================================================================================
  -->
  <div padding *ngIf="action == 'terms' || action == 'privacy' || action == 'items_policy' || action == 'return_policy' || action == 'newsletter'">
    <div [innerHtml]="content"></div>
  </div>
  <!--
    ==============================================================================================
                                          NOTIFICATIONS
    ==============================================================================================
  -->
  <ion-list *ngIf="action == 'notification'">
    <content-notification [params]="params" [action]="action" [fakeArr]="fakeArr" [refresh]="refreshNotification"></content-notification>
  </ion-list>
  <!--
    ==============================================================================================
                                            PRODUCTS
    ==============================================================================================
  -->
  <div class="products" *ngIf="action == 'products'">
    <ion-grid *ngIf="showProducts && action == 'products'">
      <ion-row>
        <ion-col col-6 *ngFor="let item of productsArr">
          <content-products [item]="item" [currency]="currency"></content-products>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="!showProducts && action == 'products'">
      <ion-row>
        <ion-col col-6 *ngFor="let item of fakeArr">
          <div class="item-card hairline-border">
            <div>
              <skeleton-item height="150px"></skeleton-item>
              <div padding>
                <skeleton-item height="14px"></skeleton-item>
                <skeleton-item height="12px"></skeleton-item>
                <skeleton-item width="67%"></skeleton-item>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <!--
    ==============================================================================================
                                            SELLERS
    ==============================================================================================
  -->
  <div *ngIf="action == 'sellers'">
    <div *ngIf="sellerMode == 'all'">
      <content-seller-mode [params]="params" [fakeArr]="fakeArr" [refresh]="refreshNotification"></content-seller-mode>
    </div>
    <div class="myCard2" *ngIf="sellerMode == 'seller' && blockUsers.length < 1">
      <div padding text-center>
        <img src="./assets/imgs/ring.svg " />
        <p>No seller info yet</p>
      </div>
    </div>
  </div>
  <!--
    ==============================================================================================
                                          BLOCKED USERS
    ==============================================================================================
  -->
  <div *ngIf="action=='block'">
    <div class="myCard2">
      <div padding text-center>
        <img src="./assets/imgs/blockuser.svg " />
        <p>No blocked users</p>
      </div>
    </div>
  </div>
  <!--
    ==============================================================================================
                                          ORDER TAKING
    ==============================================================================================
  -->
  <content-order-tracking *ngIf="action == 'order_tracking'" [params]="params" [refresh]="refreshNotification"></content-order-tracking>
  <!--
    ==============================================================================================
                                          OFFICIAL SHOP
    ==============================================================================================
  -->
  <official-shop *ngIf="action == 'official_shop'" [params]="params" [officialShop]="officialShop" [progressCount]="progressCount"
    [refresh]="refreshNotification"></official-shop>
  <!--
    ==============================================================================================
                                            CATEGORIES
    ==============================================================================================
  -->
  <page-categories *ngIf="action == 'category'" [refresh]="refreshNotification"></page-categories>
  <!--
    ==============================================================================================
                                              BRANDS
    ==============================================================================================
  -->
  <page-brands *ngIf="action == 'brands'" [clearItems]="brandClearItems" [_getItems]="brandGetItems" [refresh]="refreshNotification"></page-brands>
  <!--
    ==============================================================================================
                                        DISCOUNT PROMOTIONS
    ==============================================================================================
  -->
  <content-discount-promotions *ngIf="action == 'discount_promotions'" [discountMode]="discountMode" [refresh]="refreshNotification"
    [create]="createNotification"></content-discount-promotions>
  <!--
    ==============================================================================================
                                        SELLER VOUCHERS
    ==============================================================================================
  -->
  <content-seller-vouchers *ngIf="action == 'seller_vouchers'" [refresh]="refreshNotification" [create]="createNotification"></content-seller-vouchers>
  <!--
    ==============================================================================================
                                        SELLER VOUCHER DETAIL
    ==============================================================================================
  -->
  <content-seller-vouchers-detail *ngIf="action == 'seller_vouchers_details'" [mode]="voucherMode" [refresh]="refreshNotification" [create]="createNotification"
    [delete]="deleteNotification"></content-seller-vouchers-detail>
  <!--
    ==============================================================================================
                                        SELLER TOP PICKS
    ==============================================================================================
  -->
  <content-seller-toppicks *ngIf="action == 'seller_toppicks'" [refresh]="refreshNotification" [create]="createNotification"></content-seller-toppicks>
  <!--
    ==============================================================================================
    ==============================================================================================
  -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event) " *ngIf="action=='products' ">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
