page-content-form {

  .toolbar-background-ios {
    background: #fff;
  }

  .unread {
    background-color: #fff8e5 !important;
  }

  .productClass {
    background-color: #e6e1e1 !important;
  }

  .myCard {
    font-size: 1.4rem;
    background: #fff;
    min-height: 40px; // height: 205px;
    // width: 125px !important;
    height: 100%;
    width: 100%;
    padding: 5px;

    img {
      display: block;
      width: 100%;
    }
    .card-title {
      text-align: left;
      padding-top: 5px;
    }
    .price {
      color: #488aff !important;
      text-align: left;
      font-weight: 600;
      padding-top: 5px;
    }
    .likes {
      text-align: left;
      font-size: 1rem;
      font-weight: 500;
      display: inline-block;
    }
    .ratings {
      text-align: right;
      font-size: 1rem;
      font-weight: 500;
      ul.rating {
        padding: 0px;

        &.rating li {
          padding: 5px 0px !important;
          background: none;
          color: #488aff;

          ion-icon {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .myCard2 {
    margin: 12px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #fff;
    display: block;
    overflow: hidden;
    padding-top: 5em;
    img {
      width: 5em;
    }
  }
}
