<ion-list class="has-link">
  <ion-item text-wrap>
    <ion-thumbnail item-start>
      <img [src]="product.image?.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
    </ion-thumbnail>
    <h2 class="typo-r14">{{product.name}}</h2>
    <!--
      // Enable this when there is product discounts
      <p><small style="text-decoration: line-through;color: #aeacb4;font-size: 12px;">$1200-$1500</small></p>
    -->
    <p ion-text color="danger" *ngIf="!hasVariants">{{currency.symbol_native}}{{product.price}}</p>
    <p ion-text color="danger" *ngIf="hasVariants">{{currency.symbol_native}}{{minPrice.price}}-{{currency.symbol_native}}{{maxPrice.price}}</p>
  </ion-item>
  <ion-item class="offer-item">
    <ion-row>
      <ion-col col-6>
        <button ion-button full small color="danger" (click)="makeOffer()" *ngIf="isMakeOffer">Make Offer</button>
        <button ion-button full small color="danger" (click)="approved()" *ngIf="!isMakeOffer">Approved</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full small color="danger" (click)="buyNow()" *ngIf="isMakeOffer">Buy Now</button>
        <button ion-button full small color="danger" (click)="decline()" *ngIf="!isMakeOffer">Decline</button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-6>
        <button ion-button full small color="danger">Decline Offer</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full small color="segondaria">Accept Offer</button>
      </ion-col>
    </ion-row> -->
  </ion-item>
</ion-list>
