<div class="badge-text badge-text--promotion">
  <div class="badge-text__text typo-r12">
    <div class="badge__promotion">51%
      <div class="badge__promotion-off">OFF</div>
    </div>
  </div>
</div>
