make-offer-modal {
  ion-footer button {
    margin: 0 !important;
  }

  .img-bordered {
    height: 50px;
    width: 50px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -o-border-radius: 20%;
    border: 2px solid #ddd;
  }

  .button-outline-ios-danger.selected {
    color: #fff !important;
    background-color: color($colors, dangers) !important;
  }

  .button-ios-dangers.activated {
    background-color: color($colors, dangers);
  }

  .button-outline-ios-dangers.selected {
    color: #fff;
    background-color: color($colors, dangers);
  }
}
