<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Confirmation</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <div text-center class="heads">
      <ion-row>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon color="primary" name="ios-pin-outline"></ion-icon>
              <br>
              <small ion-text color="primary">Address</small></div>
          </ion-label>
        </ion-col>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon color="primary" name="ios-copy-outline"></ion-icon>
              <br>
              <small ion-text color="primary">Shipping</small></div>
          </ion-label>
        </ion-col>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon color="primary" name="ios-cash-outline"></ion-icon>
              <br>
              <small ion-text color="primary">Payment</small></div>
          </ion-label>
        </ion-col>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon color="primary" name="ios-checkmark-circle-outline"></ion-icon>
              <br>
              <small ion-text color="primary">Confirm</small></div>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>
    <ion-list-header color="light" text-center>
      Are these correct?
    </ion-list-header>
    <ion-item class="my-card" tappable>
      <h2>Delivery Address</h2>
      <div text-wrap>
        <p>{{orderAddress.orderShipName}} {{orderAddress.orderPhone}}</p>
        <p>{{orderAddress.orderShipAddress}}</p>
        <p>{{orderAddress.orderShipSuburb}}</p>
        <p>{{orderAddress.orderShipCity}} {{orderAddress.orderShipState}} {{orderAddress.orderShipCountry}} {{orderAddress.orderShipZipCode}}</p>
      </div>
    </ion-item>
    <ion-item>
      <h2>Payment Method</h2>
      <small text-wrap>{{payMethod.name}}</small>
    </ion-item>
    <ion-list-header color="light" style="min-height: 0rem !important;">
    </ion-list-header>
    <ion-item>
      <h2>Order Total</h2>
      <div item-end>
        <b ion-text color="primary">{{currency.symbol}}  {{total | number:'.2'}}</b>
      </div>
    </ion-item>
    <ion-list-header color="light" text-center>
      Products Ordered
    </ion-list-header>
    <ion-item-group *ngFor="let item of cartArr">
      <ion-item-divider>
        <ion-avatar item-start>
          <img src="./assets/imgs/user.png">
        </ion-avatar>
        <h2>{{item.store?.sellerName}}</h2>
      </ion-item-divider>
      <div *ngFor="let row of item.details">
        <ion-item class="cart-item" item-content>
          <ion-thumbnail item-start>
            <img [src]="row.details.images[0].img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'" *ngIf="row.details?.images && row.details?.images?.length > 0"
            />
            <img src="./assets/imgs/product/no-preview-150.png" *ngIf="row.details?.images && row.details?.images?.length < 1" />
          </ion-thumbnail>
          <h2>{{row.details?.productName}}</h2>
          <h2 class="price">{{currency.symbol}} {{row.details?.productPrice | number:'.2'}}</h2>
          <div *ngIf="row.details?.variant">
            <ion-note>
              <small>Variation: {{row.details?.variant.name}}</small>
            </ion-note>
          </div>
          <div item-end>
            x <small>{{row.quantity}}</small>
          </div>
        </ion-item>
      </div>
      <ion-list-header color="light">Shipping Options</ion-list-header>
      <ion-item>
          <h4>Shipping:
            <span ion-text color="primary" *ngIf="item.selected_shipping !=null ">{{item.selected_shipping?.name}}</span>
            <span ion-text color="danger" *ngIf="item.selected_shipping == null">No Shipping Courier</span>
          </h4>
          <small *ngIf="item.selected_shipping !=null ">
            <!-- <span>Received in 10-13 days </span> -->
            <b ion-text color="primary" *ngIf="item.shippingFee">
              {{currency.symbol}} {{item.shippingFee | number:'.2'}}
            </b>
          </small>
      </ion-item>
      <ion-item style="line-height: 10px;">
        <ion-note item-start><small>{{item.details.length}} Item</small></ion-note>
        <div item-end>
          <ion-row>
            <ion-col text-left>
              Shipping: <strong class="valueColumn">{{currency.symbol}}  {{item.shippingFee | number:'.2'}}</strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-left>
              Subtotal: <strong class="valueColumn">{{currency.symbol}}  {{item.subTotal | number:'.2'}}</strong>
            </ion-col>
          </ion-row>
        </div>
      </ion-item>
      <ion-item>
        <p>{{item.orderNote}}</p>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <button ion-button full color="danger" (click)="placeOrder()">PLACE ORDER</button>
</ion-footer>
