 <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">
        Push Notifications
        <button ion-button clear item-end (click)="togglePushNotif()">
          <ion-icon name="ios-arrow-down-outline" *ngIf="!isPushNotif"></ion-icon>
          <ion-icon name="ios-arrow-up-outline" *ngIf="isPushNotif"></ion-icon>
        </button>
      </ion-item-divider>
      <div *ngIf="isPushNotif">
        <ion-item>
          <ion-label><p>Push Notifications</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
        <ion-item-divider color="light">&nbsp;</ion-item-divider>
        <ion-item>
          <ion-label><p>Order Updates</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label><p>Chats</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label><p>InApp Promotions</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label><p>Follows</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label><p>Comments</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label><p>Seller Info</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label><p>Rating Updates</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label><p>Wallet Updates</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
      </div>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Email Notifications
        <button ion-button clear item-end (click)="toggleEmailNotif()">
          <ion-icon name="ios-arrow-down-outline" *ngIf="!isEmailNotif"></ion-icon>
          <ion-icon name="ios-arrow-up-outline" *ngIf="isEmailNotif"></ion-icon>
        </button>
      </ion-item-divider>
      <div *ngIf="isEmailNotif">
        <ion-item>
          <ion-label><p>Email Notifications</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
        <ion-item-divider color="light">&nbsp;</ion-item-divider>
        <ion-item>
          <ion-label><p>Order Updates</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label><p>Product Updates</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label><p>Seller Info</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label><p>Newsletter and Promotions</p></ion-label>
          <ion-toggle checked="true" color="segondaria"></ion-toggle>
        </ion-item>
      </div>
    </ion-item-group>
  </ion-list>