page-home {
  ion-content {
    background-color: #efefef !important
  }

  ion-item {
    h2 {
      font-size: 1.8rem !important;
      font-weight: bold !important;
    }
  }

  ion-list-header {
    color: color($colors, segondaria) !important;
    background-color: #fff !important;
  }

  ion-slides {
    background-color: #fff !important;
  }

  .app-options-card {
    padding-top: 1.5em;
    background-color: color($colors, shoppyprimary);
    color: #fff;

    .row {
      padding: .25rem;

      .app-options-card_img {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }

  .list-ios {
    margin: -1px 0 15px !important;
  }

  .shop-img {
    height: 109px;
    width: 109px;
  }

  .shops {
    border: 1px solid #c8c7cc;
    padding: 16px;
    height: 4em;
    margin: 3px;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-height: 100%;
    }
  }

  .banners {
    ion-slides {
      height: 120px;
    }
  }

  .fix-nav {
    skeleton-item {
      margin-left: 20px;
    }
  }

  .categories {
    .grid-cell__title {
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      color: rgba(0, 0, 0, .87);
      height: 40px;
      line-height: 20px;
      padding: 0 8px;
      width: 100%;
      text-align: center;
      position: relative;
      top: -5px;
    }
    .col img {
      max-height: 5em;
    }
  }

  .customCard {
    background-color: #fff !important;

    .row {
      .col {
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .products {
    ion-grid {
      padding: 0px !important;
    }
  }
}
