<ion-header no-border no-line>
  <ion-navbar color="shoppyprimary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <form (ngSubmit)="submitSearch($event)">
      <ion-searchbar #mySearchbar [ngModelOptions]="{standalone: true}" [(ngModel)]="search" (ionBlur)="checkBlur()" (ionFocus)="checkFocus()" (ionCancel)="onCancel()" showCancelButton="true" [disabled]="showLoading"></ion-searchbar>
    </form>
    <ion-buttons end *ngIf="!showList">
      <button ion-button icon-only (click)="viewCart()" [disabled]="showLoading">
        <ion-badge id="cart-badge" *ngIf="cartCount > 0" color="dangers">{{cartCount}}</ion-badge>
        <ion-icon ios="ios-cart-outline" md="ios-cart-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="viewChat()" [disabled]="showLoading">
        <ion-badge id="message-badge" *ngIf="unreadCount > 0" color="dangers">{{unreadCount}}</ion-badge>
        <ion-icon ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!showList">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="showList">
    <ion-item *ngFor="let item of items" (click)="gotoSearch(item)">
      {{ item }}
    </ion-item>
    <ion-item tappable *ngIf="items && items.length > 0" text-center (click)="clearSearch()">
      <small>Clear Search History</small>
    </ion-item>
  </ion-list>
  <div *ngIf="!showList">
    <ion-list>
      <ion-grid class="app-options-card fix-nav">
        <ion-row text-wrap text-center>
          <ion-col col-4 (click)="viewCategories()">
            <img src="./assets/imgs/diagram.svg" class="app-options-card_img">
            <br><small>All Categories</small>
          </ion-col>
          <ion-col col-4 (click)="viewBrands()">
            <img src="./assets/imgs/trophy.svg" class="app-options-card_img">
            <br><small>Brands</small>
          </ion-col>
          <ion-col col-4>
            <img src="./assets/imgs/coupon.svg" class="app-options-card_img">
            <br><small>Vouchers</small>
          </ion-col>
          <ion-col col-4>
            <img src="./assets/imgs/delivery-truck.svg" class="app-options-card_img">
            <br><small>Free Shipping</small>
          </ion-col>
          <ion-col col-4>
            <img src="./assets/imgs/low-price.svg" class="app-options-card_img">
            <br><small>Lowest Price Guaranteed</small>
          </ion-col>
          <ion-col col-4>
            <img src="./assets/imgs/friends.svg" class="app-options-card_img">
            <br><small>Refer a Friend</small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <!--
    ========================================================================================
    ========================================================================================
    ========================================================================================
     -->
     <div *ngIf="showBanners" class="banners">
      <ion-slides pager loop="true" autoplay="3000">
        <ion-slide *ngFor="let item of bannersArr">
          <img [src]="item.img_path" onError="this.src='./assets/imgs/banner_def.png'">
        </ion-slide>
      </ion-slides>
    </div>
    <div *ngIf="!showBanners">
      <skeleton-item height="110px"></skeleton-item>
    </div>
    <!--
    ========================================================================================
    ========================================================================================
    ========================================================================================
     -->
    <ion-list>
      <ion-list-header *ngIf="showCategory">
        <b ion-text color="dangers">Categories</b>
        <div class="pull-right" (click)="viewCategories()">
          See more ...
        </div>
      </ion-list-header>
      <ion-list-header *ngIf="!showCategory">
        <skeleton-item height="12px" width="57%"></skeleton-item>
      </ion-list-header>
      <div padding class="customCard">
        <ion-grid class="categories">
          <ion-row *ngIf="showCategory">
            <ion-col col-4 text-center *ngFor="let item of categoriesArr | slice:0:9" (click)="viewResults(item,'category')">
              <img [src]="item.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
              <p class="grid-cell__title typo-r12">{{item.name | uppercase}}</p>
            </ion-col>
          </ion-row>
          <div *ngIf="!showCategory">
            <ion-row>
              <ion-col>
                <skeleton-item height="60px"></skeleton-item>
              </ion-col>
              <ion-col>
                <skeleton-item height="60px"></skeleton-item>
              </ion-col>
              <ion-col>
                <skeleton-item height="60px"></skeleton-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <skeleton-item height="60px"></skeleton-item>
              </ion-col>
              <ion-col>
                <skeleton-item height="60px"></skeleton-item>
              </ion-col>
              <ion-col>
                <skeleton-item height="60px"></skeleton-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <skeleton-item height="60px"></skeleton-item>
              </ion-col>
              <ion-col>
                <skeleton-item height="60px"></skeleton-item>
              </ion-col>
              <ion-col>
                <skeleton-item height="60px"></skeleton-item>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
    </ion-list>
    <!--
    ========================================================================================
    ========================================================================================
    ========================================================================================
     -->
    <ion-list *ngIf="officialShopsArr && officialShopsArr.length > 0">
      <ion-list-header *ngIf="showOfficialShops">
        <b ion-text color="dangers">OFFICIAL SHOPS</b>
        <div class="pull-right">
          See more ...
        </div>
      </ion-list-header>
      <ion-list-header *ngIf="!showOfficialShops">
        <skeleton-item height="12px" width="57%"></skeleton-item>
      </ion-list-header>
      <div padding class="customCard">
        <ion-slides slidesPerView="3" spaceBetween="5" *ngIf="showOfficialShops">
          <ion-slide style="border: 1px solid #c8c7cc;" *ngFor="let item of officialShopsArr">
            <img [src]="item.shop_official_logo" class="shop-img" onError='this.src="./assets/imgs/product/no-preview-150.png"'>
          </ion-slide>
        </ion-slides>
        <ion-row *ngIf="!showOfficialShops">
          <ion-col>
            <skeleton-item height="60px"></skeleton-item>
          </ion-col>
          <ion-col>
            <skeleton-item height="60px"></skeleton-item>
          </ion-col>
          <ion-col>
            <skeleton-item height="60px"></skeleton-item>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
    <!--
    ========================================================================================
    ========================================================================================
    ========================================================================================
     -->
    <ion-list *ngIf="dealsArr && dealsArr.length> 0">
      <ion-list-header>
        <b ion-text color="dangers">FLASH DEALS</b>
      </ion-list-header>
      <div padding class="customCard">
      </div>
    </ion-list>
    <!--
    ========================================================================================
    ========================================================================================
    ========================================================================================
     -->
    <ion-list>
      <ion-list-header *ngIf="showProducts">
        <b ion-text color="dangers">Popular Products</b>
        <div class="pull-right" (click)="showMoreProducts()">
          See more ...
        </div>
      </ion-list-header>
      <ion-list-header *ngIf="!showProducts">
        <skeleton-item height="12px" width="57%"></skeleton-item>
      </ion-list-header>
      <div class="products">
        <ion-grid *ngIf="showProducts">
          <ion-row>
            <ion-col col-6 *ngFor="let item of productsArr" (click)="gotoDetails(item)">
              <content-products [item]="item" [currency]="currency"></content-products>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button full small color="dangers" (click)="showMoreProducts()">Show More...</button>
              <!-- <button ion-button block outline small color="dangers" (click)="showMoreProducts()" *ngIf="productsArr && productsArr.length > 20">Show More...</button> -->
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="!showProducts">
          <ion-row>
            <ion-col col-6 *ngFor="let item of fakeArr">
              <a class="item-card hairline-border">
                <div>
                  <skeleton-item height="150px" no-animated></skeleton-item>
                  <div padding>
                    <skeleton-item height="14px"></skeleton-item>
                    <skeleton-item height="12px"></skeleton-item>
                    <skeleton-item width="67%"></skeleton-item>
                  </div>
                </div>
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-list>
    <!--
    ========================================================================================
    ========================================================================================
    ========================================================================================
     -->
  </div>
</ion-content>
