<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Bank Accounts/Cards</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewChat()">
        <ion-badge id="message-badge" *ngIf="unreadCount > 0" color="danger">{{unreadCount}}</ion-badge>
        <ion-icon ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="banksArr && banksArr.length > 0">
    <button ion-item *ngFor="let item of banksArr" (click)="viewAccount(item)">
      <ion-icon name="ios-card-outline" item-start></ion-icon>
      <h2>{{item.bankName}}</h2>
      <small>Checked</small>
      <ion-note item-end>{{item.accountNo}}</ion-note>
    </button>
  </ion-list>
  <ion-list padding-top>
    <button ion-item detail-none (click)="addNewAccount()">
      Add New Bank Account
      <ion-icon name="add" item-end></ion-icon>
    </button>
  </ion-list>
</ion-content>
