<div class="badge__horizontal badge__preferred badge__preferred--left-triangle">
  <svg class="stardust-icon stardust-icon-tick" enable-background="new 0 0 15 15" viewBox="0 0 15 15">
    <path stroke="none" d="m6.5 13.6c-.2 0-.5-.1-.7-.2l-5.5-4.8c-.4-.4-.5-1-.1-1.4s1-.5 1.4-.1l4.7 4 6.8-9.4c.3-.4.9-.5 1.4-.2.4.3.5 1 .2 1.4l-7.4 10.3c-.2.2-.4.4-.7.4 0 0 0 0-.1 0z"></path>
  </svg>&nbsp;Preferred
</div>
