<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let user of usersArr" (click)="viewDetail(user)">
      <ion-avatar item-start>
        <img [src]="user.user_img_path" onError="this.src='./assets/imgs/user.png'">
      </ion-avatar>
      <h2>{{user.username}}</h2>
      <p>{{user.sellerName}}</p>
      <button ion-button item-end *ngIf="action == 'follower' && !user.isFollowing" color="danger" (click)="follow(user,$event)">
        <ion-icon name="ios-add"></ion-icon>Follow
      </button>
      <button ion-button outline item-end *ngIf="action == 'follower' && user.isFollowing" color="danger" (click)="unfollow(user,$event)">
        Following
      </button>
      <button ion-button outline item-end *ngIf="action == 'following' && user.isFollowing" color="danger" (click)="unfollow(user,$event)">
        Following
      </button>
    </ion-item>
  </ion-list>
</ion-content>
