<ion-list class="form">
  <ion-item text-wrap color="segondaria">
    <p text-wrap>
      <small>Shipping Information is required for ShoppyApp to process your refund.</small>
    </p>
  </ion-item>
  <button ion-item (click)="setReturnShippingCarrier()">
    <h4>Carrier *</h4>
    <div item-end *ngIf="return.returnCarrierId==null">
      <small ion-text color="secondary">SET CARRIER</small>
    </div>
    <div item-end *ngIf="return.returnCarrierId">
      <ion-note>
        <small>{{return.returnShippingCarrier?.courierName}}</small>
      </ion-note>
    </div>
  </button>
  <ion-item>
    <ion-label>Tracking Number</ion-label>
    <ion-input type="text" placeholder="Tracking Number" [(ngModel)]="return.returnTrackingNumber"></ion-input>
  </ion-item>
  <ion-item-divider text-wrap>
    <p>Shipment Proof</p>
  </ion-item-divider>
  <div>
    <div class="images-wrapper">
      <div class="image-wrapper" *ngFor="let image of imagesValue">
        <ion-icon class="remove-image" name="close" *ngIf="!isUploading" (click)="removeImage(image)"></ion-icon>
        <div class="image" [style.background-image]="image.sanitized">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" [class.uploading]="isUploading" alt="" />
          <ion-spinner *ngIf="isUploading && uploadingProgress[image.url]<100"></ion-spinner>
          <ion-icon name="checkmark" *ngIf="isUploading && uploadingProgress[image.url]==100"></ion-icon>
          <div *ngIf="isUploading" class="progress-bar">
            <div class="progress" [style.width]="(uploadingProgress[image.url]||0)+'%'"></div>
          </div>
        </div>
      </div>
      <div class="image-wrapper add-image-btn" *ngIf="!isUploading" (click)="showAddImage()">
        <div class="image">
          <ion-icon name="add"></ion-icon>
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" />
            </div>
        </div>
      </div>
    </div>
    <ion-item-divider text-wrap>
      <p>Remarks</p>
    </ion-item-divider>
    <ion-item>
      <!-- <ion-label stacked>Remarks</ion-label> -->
      <ion-textarea placeholder="Leave a message" [(ngModel)]="return.returnRemarks"></ion-textarea>
    </ion-item>
    <ion-item text-wrap color="light">
      <p text-wrap>
        <small>Please make sure that Tracking Number is accurate and/or Shipment proof is clear to prove that you have shipped the return item to the seller.</small>
      </p>
    </ion-item>
</ion-list>
