<ion-header no-border no-line>
  <ion-navbar color="shoppyprimary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feed</ion-title>
    <ion-buttons end *ngIf="!showList">
      <button ion-button icon-only (click)="viewCart()">
        <ion-badge id="cart-badge" *ngIf="cartCount > 0" color="danger">{{cartCount}}</ion-badge>
        <ion-icon ios="ios-cart-outline" md="ios-cart-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="viewChat()">
        <ion-badge id="message-badge" *ngIf="unreadCount > 0" color="danger">{{unreadCount}}</ion-badge>
        <ion-icon ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="showSignUp">
    <ion-item color="segondaria">
      <div text-wrap>
        <small>New to Shoppy? <br> Sign up today to personalise your home feed and get some awesome welcome vouchers</small>
      </div>
      <button ion-button outline item-end color="light" (click)="openSignUp()">Sign Up</button>
    </ion-item>
  </ion-list>
  <div class="myCard2" *ngIf="showSignUp">
    <div padding text-center><img src="./assets/imgs/chatting.svg" /></div>
      <ion-card-content>
        <p text-center>
          <button ion-button block round color="dangers" (click)="openLogin()">Login</button>
          <button ion-button block clear color="dark" (click)="openSignUp()">Sign Up</button>
        </p>
      </ion-card-content>
    </div>
</ion-content>
