page-feed {
  .myCard2 {
    margin: 12px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    display: block;
    overflow: hidden;
    padding-top: 5em;

    img {
      width: 5em;
    }
  }
}
