products-picker-modal {
  .selected-image {
    background-color: white;
    display: inline-block;
    opacity: .5;
  }

  .checkbox {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 12px;
  }

  .checkbox-disabled {
    opacity: 1 !important;
    pointer-events: none;
  }
}
