<ion-grid>
  <ion-row *ngIf="showContent">
    <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of productsArr">
      <img [src]="item.image?.img_path" (error)="errorHandler($event)" [ngClass]="{'selected-image': item.selected}"
        (click)="checkChanged(item)">
      <ion-checkbox [checked]="item.selected"></ion-checkbox>
      <h2 class="typo-r14">{{item.productName}}</h2>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!showContent">
    <ion-col class="noimage" col-6 col-md-4 col-xl-3 *ngFor="let item of fakeArr">
      <div class="animated-background"></div>
    </ion-col>
  </ion-row>
</ion-grid>
