<ion-header no-border no-line>
  <ion-navbar color="shoppyprimary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="richblue">
  <ion-list>
    <button ion-item *ngFor="let item of mores" (click)="itemSelected(item)">
      <ion-icon color="primary" ios="{{item.icon}}" md="{{item.icon}}" item-start></ion-icon>
      {{ item.title }}
      <ion-icon ios="ios-arrow-forward-outline" md="ios-arrow-forward-outline" item-end></ion-icon>
    </button>
  </ion-list>
</ion-content>
