<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Notifications</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="viewCart()">
        <ion-badge id="cart-badge" *ngIf="cartCount > 0" color="danger">{{cartCount}}</ion-badge>
        <ion-icon ios="ios-cart-outline" md="ios-cart-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="viewChat()">
        <ion-badge id="message-badge" *ngIf="unreadCount > 0" color="danger">{{unreadCount}}</ion-badge>
        <ion-icon ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="myCard" *ngIf="!mapTabEnabled">
    <div padding text-center>
      <img src="./assets/imgs/ring.svg" />
    </div>
    <ion-card-content>
      <p text-center>
        <button ion-button block round color="dangers" (click)="openLogin()">Login</button>
        <button ion-button block clear color="dark" (click)="openSignUp()">Sign Up</button>
      </p>
    </ion-card-content>
  </div>
  <ion-list *ngIf="mapTabEnabled">
    <button ion-item (click)="viewNotifications()">
      <ion-icon name="pricetag" item-start></ion-icon>
      <h2 class="typo-r14">Promotions</h2>
      <small *ngIf="notif.promotions" [innerHtml]="notif.promotions[0]?.content"></small>
      <ion-badge color="danger" item-end *ngIf="!showLoading && notif.promotionCount > 0">{{notif.promotionCount}}</ion-badge>
      <ion-spinner name="bubbles" color="danger" item-end *ngIf="showLoading"></ion-spinner>
    </button>
    <button ion-item (click)="viewSellerNotifications()">
      <ion-icon name="cart" item-start></ion-icon>
      <h2 class="typo-r14">Seller Updates</h2>
      <small *ngIf="notif.sellerupdates" [innerHtml]="notif.sellerupdates[0]?.content"></small>
      <ion-badge color="danger" item-end *ngIf="!showLoading && notif.sellerupdatesCount > 0">{{notif.sellerupdatesCount}}</ion-badge>
      <ion-spinner name="bubbles" color="danger" item-end *ngIf="showLoading"></ion-spinner>
    </button>
    <button ion-item>
      <ion-icon name="cash" item-start></ion-icon>
      <h2 class="typo-r14">Wallet Updates</h2>
      <small *ngIf="notif.walletupdates" [innerHtml]="notif.walletupdates[0]?.content"></small>
      <ion-badge color="danger" item-end *ngIf="!showLoading && notif.walletupdatesCount > 0">{{notif.walletupdatesCount}}</ion-badge>
      <ion-spinner name="bubbles" color="danger" item-end *ngIf="showLoading"></ion-spinner>
    </button>
    <button ion-item>
      <ion-icon name="notifications" item-start></ion-icon>
      <h2 class="typo-r14">App Updates</h2>
      <small *ngIf="notif.appupdates" [innerHtml]="notif.appupdates[0]?.content"></small>
      <ion-badge color="danger" item-end *ngIf="!showLoading && notif.appupdatesCount > 0">{{notif.appupdatesCount}}</ion-badge>
      <ion-spinner name="bubbles" color="danger" item-end *ngIf="showLoading"></ion-spinner>
    </button>
    <ion-item-group>
      <ion-item-divider color="light">Order Updates</ion-item-divider>
      <div *ngIf="notif.orderupdates && notif.orderupdates?.length > 0">
        <ion-item text-wrap *ngFor="let item of notif.orderupdates" (click)="viewOrderNotification(item)">
          <ion-thumbnail item-start>
            <img src="./assets/imgs/box.svg">
          </ion-thumbnail>
          <b><p>{{item.title}}</p></b>
          <p [innerHtml]="item.content"></p>
        </ion-item>
      </div>
      <div class="myCard" *ngIf="notif.orderupdates && notif.orderupdates?.length < 1">
        <div padding text-center>
          <img src="./assets/imgs/shopping-cart.svg" />
        </div>
        <ion-card-content>
          <p text-center>
            <button ion-button color="segondaria">Go Shopping Now</button>
          </p>
        </ion-card-content>
      </div>
    </ion-item-group>
  </ion-list>
</ion-content>
