<ion-list class="wholesale">
  <ion-row>
    <ion-col text-center col-6>
      <span class="typo-r14">Quantity</span>
    </ion-col>
    <ion-col text-center col-6>
      <span class="typo-r14">Unit Price</span>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let item of wholesaleArr">
    <ion-col text-center col-6>
      {{item.minAmt}} - {{item.maxAmt}}
    </ion-col>
    <ion-col text-center col-6>
      <b ion-text color="dangers">{{currency.symbol_native}} {{item.price | number}}</b>
    </ion-col>
  </ion-row>
</ion-list>
