<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon ios="ios-arrow-back-outline" md="ios-arrow-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="saveEntry()" color="primary">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div>
    <div class="images-wrapper">
      <div class="image-wrapper" *ngFor="let image of imagesValue">
        <ion-icon class="remove-image" name="close" *ngIf="!isUploading" (click)="removeImage(image)"></ion-icon>
        <div class="image" [style.background-image]="image.sanitized">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            [class.uploading]="isUploading" alt="" />
          <ion-spinner *ngIf="isUploading && uploadingProgress[image.url]<100"></ion-spinner>
          <ion-icon name="checkmark" *ngIf="isUploading && uploadingProgress[image.url]==100"></ion-icon>
          <div *ngIf="isUploading" class="progress-bar">
            <div class="progress" [style.width]="(uploadingProgress[image.uuid]||0)+'%'"></div>
          </div>
        </div>
      </div>
      <div class="image-wrapper add-image-btn" *ngIf="!isUploading" (click)="showAddImage()">
        <div class="image">
          <ion-icon name="add"></ion-icon>
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" />
        </div>
      </div>
    </div>
  </div>
  <ion-list class="form">
    <ion-item>
      <ion-input type="text" placeholder="Product Name" [(ngModel)]="product.name"></ion-input>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'name'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-textarea #myInput id="myInput" rows="5" maxLength="500" (keyup)="resize()" placeholder="Product Description"
        [(ngModel)]="product.desc"></ion-textarea>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'desc'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
    <ion-item-divider color="light"></ion-item-divider>
    <ion-item detail-push (click)="openCategory()">
      <ion-icon name="ios-list-outline" item-start></ion-icon>
      <ion-label>
        <p>Category</p>
      </ion-label>
      <ion-note item-end *ngIf="!product.category?.subcategory"><small>Set Category</small></ion-note>
      <div item-end *ngIf="product.category">
        <ion-label color="primary" *ngIf="product.category?.category">
          <small>{{product.category?.category?.name}}</small>
        </ion-label>
        <ion-label color="primary" *ngIf="product.category?.subcategory">
          <small>{{product.category?.subcategory?.name}}</small>
        </ion-label>
      </div>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'categoryId'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
    <ion-item detail-push (click)="openBrands()">
      <ion-icon name="ios-list-outline" item-start></ion-icon>
      <ion-label>
        <p>Brand</p>
      </ion-label>
      <ion-note item-end *ngIf="!product.brand"><small>Set Brand</small></ion-note>
      <div item-end *ngIf="product.brand">
        <ion-label color="primary">
          <small>{{product.brand?.name}}</small>
        </ion-label>
      </div>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'brandId'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
    <ion-item-divider color="light"></ion-item-divider>
    <ion-item>
      <ion-icon name="ios-pricetag-outline" item-start></ion-icon>
      <ion-label>
        <p>Price</p>
      </ion-label>
      <div item-end>
        <ion-input type="number" text-right placeholder="Set Price" [(ngModel)]="product.price"></ion-input>
      </div>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'price'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-albums-outline" item-start></ion-icon>
      <ion-label>
        <p>Stock</p>
      </ion-label>
      <div item-end>
        <ion-input type="number" text-right placeholder="Set Stock" [(ngModel)]="product.stock"></ion-input>
      </div>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'stock'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-speedometer-outline" item-start></ion-icon>
      <ion-label>
        <p>Weight</p>
      </ion-label>
      <div item-end>
        <ion-input type="number" text-right placeholder="Set Weight" [(ngModel)]="product.weight"></ion-input>
      </div>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'weight'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
      <ion-label>
        <p>Condition</p>
      </ion-label>
      <ion-select [(ngModel)]="product.condition">
        <ion-option value="new">New</ion-option>
        <ion-option value="used">Used(like new)</ion-option>
      </ion-select>
    </ion-item>
    <ion-item-divider color="light"></ion-item-divider>
    <ion-item detail-push (click)="openVariation()">
      <ion-icon name="ios-add-circle-outline" item-start></ion-icon>
      <ion-label>
        <p>Variations</p>
      </ion-label>
      <ion-note item-end *ngIf="product.variations && product.variations.length < 1">
        <small>Set color,size</small>
      </ion-note>
      <div item-end *ngIf="product.variations && product.variations.length > 0">
        <ion-label color="primary">
          <small>{{product.variations.length}}</small>
        </ion-label>
      </div>
    </ion-item>
    <ion-item-divider color="light"></ion-item-divider>
    <ion-item detail-push (click)="openWholeSale()">
      <ion-icon name="ios-cube-outline" item-start></ion-icon>
      <ion-label>
        <p>Wholesale</p>
      </ion-label>
      <ion-note item-end *ngIf="product.wholesale && product.wholesale.length < 1">
        <small>Set quantity,price</small>
      </ion-note>
      <div item-end *ngIf="product.wholesale && product.wholesale.length > 0">
        <ion-label color="primary">
          <small>{{product.wholesale.length}}</small>
        </ion-label>
      </div>
    </ion-item>
    <ion-item-divider color="light">
      <small>Wholesale price is only available when all variations <br>are of the same price</small>
    </ion-item-divider>
    <ion-item detail-push (click)="openPackaging()">
      <ion-icon name="ios-expand-outline" item-start></ion-icon>
      <ion-label>
        <p>Packaging Size</p>
      </ion-label>
      <ion-note item-end *ngIf="!product.package?.width">
        <small>Set size</small>
      </ion-note>
      <div item-end *ngIf="product.package?.width">
        <ion-label color="primary">
          <small>{{product.package.width}} x {{product.package.length}} x {{product.package.height}}</small>
        </ion-label>
      </div>
    </ion-item>
    <ion-item detail-push (click)="openShippingRate()">
      <ion-icon name="ios-cash-outline" item-start></ion-icon>
      <ion-label>
        <p>Shipping Fee</p>
      </ion-label>
      <ion-note item-end *ngIf="product.shipping && product.shipping.length < 1">
        <small>Set shipping settings</small>
      </ion-note>
      <div item-end *ngIf="product.shipping && product.shipping.length > 0">
        <ion-label color="primary">
          <small>{{product.shipping.length}}</small>
        </ion-label>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-calendar-outline" item-start></ion-icon>
      <ion-label>
        <p>Pre-Order</p>
      </ion-label>
      <ion-toggle mode="md" [(ngModel)]="product.isPreOrder"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="product.isPreOrder" text-wrap>
      <ion-icon name="ios-bus-outline" item-start></ion-icon>
      <ion-label>Days to ship <small>(Min 7 days)</small></ion-label>
      <div item-end>
        <ion-input type="number" text-right placeholder="Set Days" [(ngModel)]="product.preOrderDays"></ion-input>
      </div>
    </ion-item>
    <ion-item no-line *ngIf="product.isPreOrder && errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'preOrderDays'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
    <ion-item-divider color="light">
      <small>You have to ship out product within 3 days <br>(excluding public holidays and courier service non-working
        days). <br>Switch on Pre-Order tag if you need more time to ship</small>
    </ion-item-divider>
  </ion-list>
</ion-content>
