<ion-list>
  <ion-item text-wrap tappable (click)="selectCancelReason(item)" *ngFor="let item of reasonArr | orderBy:'id'">
    <h3>{{item.reason}}</h3>
    <ion-icon name="checkmark" color="danger" item-end *ngIf="item.selected"></ion-icon>
  </ion-item>
</ion-list>
