// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
$fa-font-path: $font-path;
@import "font-awesome";
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: (
	primary: #488aff,
	secondary: #32db64,
	danger: #f53d3d,
	dangers: #e94a5f,
	light: #f4f4f4,
	dark: #222,
	calm: #11c1f3,
	richblue: #525cab,
	aquahaze: #d6d7d5,
	echoblue: #a1addc,
	pattensblue: #d7e8fb,
	hawkesblue: #cad3f2,
	Grey: #8ca2b2,
	segondaria: #4fdca3,
	primaria: #eec65d,
	tertiary: #f74c5a,
	google: #e9142b,
	facebook: #0346bb,
	color1: #3d4654,
	info: #31708f,
	success: #3c763d,
	warning: #8a6d3b,
	shoppyfb: #5babdd,
	shoppyprimary: #57b592,
	grey2: #3A444F,
	shoppywarning: #ee4d2d,
	shoppylightwarning: #fff5f1
);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
