<ion-header transparent>
  <ion-navbar color="shoppyprimary">
    <ion-title>Edit Profile</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="saveProfile()">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content parallax-header no-bounce class="bg-modal">
  <!-- <div class="header-image" [ngStyle]="{'background-image': 'url(' + imageUrl +')'}" (click)="updateProfilePic('cover')"> -->
  <div class="header-image" [style.background-image]="imageUrl" (click)="updateProfilePic('cover')">
    <div class="progress-bar" *ngIf="isUploadingBanner">
      <div class="progress" [style.width]="(uploadingBannerProgress||0)+'%'"></div>
    </div>
  </div>
  <div class="main-content" text-wrap text-center>
    <div id="circle">
      <div class="circular" [ngStyle]="{'background-image': 'url(' + (user.img_path || './assets/imgs/user.png') +')'}" (click)="updateProfilePic('profile')" *ngIf="imagesValue && imagesValue.length < 1">
      </div>
      <div class="circular" [style.background-image]="imagesValue[0].sanitized" (click)="updateProfilePic('profile')" *ngIf="imagesValue && imagesValue.length > 0 && action=='profile'">
        <ion-spinner *ngIf="isUploading && uploadingProgress < 100"></ion-spinner>
        <ion-icon name="checkmark" color="secondary" *ngIf="isUploading && uploadingProgress ==100"></ion-icon>
      </div>
    </div>
    <ion-list>
      <button ion-item detail-none>
        <ion-label class="typo-r14">Username</ion-label>
        <ion-note item-end>{{user.username}}</ion-note>
      </button>
      <button ion-item (click)="updatePassword()">
        <h2 class="typo-r14">Change Password</h2>
      </button>
    </ion-list>
    <ion-list padding-top>
      <ion-item detail-none>
        <ion-label class="typo-r14">Gender</ion-label>
        <ion-select [(ngModel)]="user.gender" class="typo-r14">
          <ion-option value="male">Male</ion-option>
          <ion-option value="female">Female</ion-option>
        </ion-select>
      </ion-item>
      <button ion-item>
        <ion-label class="typo-r14">Birthday</ion-label>
        <ion-datetime class="typo-r14" displayFormat="MMM/DD/YYYY" [(ngModel)]="user.birthday"></ion-datetime>
      </button>
      <button ion-item (click)="updatePhone()">
        <h2 class="typo-r14">Phone</h2>
        <ion-note item-end>{{user.phoneMask}}</ion-note>
      </button>
      <button ion-item (click)="updateFax()">
        <h2 class="typo-r14">Fax</h2>
        <ion-note item-end>{{user.faxMask}}</ion-note>
      </button>
      <button ion-item (click)="updateEmail()">
        <h2 class="typo-r14">Email</h2>
        <ion-note item-end>{{user.emailMask}}</ion-note>
      </button>
    </ion-list>
    <ion-list padding-top>
      <ion-item tappable>
        <ion-icon name="logo-facebook" item-start color="facebook"></ion-icon>
        <h2 class="typo-r14">Facebook</h2>
        <button ion-button clear item-end color="secondary" (click)="signInWithFB()" *ngIf="user.facebookId == null">LINK</button>
        <button ion-button clear item-end color="dark" (click)="unlinkFacebook()" *ngIf="user.facebookId != null">UNLINK</button>
      </ion-item>
      <ion-item tappable>
        <ion-icon name="logo-google" item-start color="google"></ion-icon>
        <h2 class="typo-r14">Google</h2>
        <button ion-button clear item-end color="secondary" (click)="signInWithGoogle()" *ngIf="user.googleId == null">LINK</button>
        <button ion-button clear item-end color="dark" (click)="unlinkGoogle()" *ngIf="user.googleId != null">UNLINK</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
