page-userprofile {
  .toolbar-background-ios {
    background: #fff;
  }

  .header-image {
    height: 30vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;

    .progress-bar {
      margin-bottom: -20px;
      height: 4px;
      width: 100%;
      position: absolute;
      top: 0px;
      overflow: hidden;
      .progress {
        background: map_get($colors, "danger");
        height: 100%;
      }
    }
  }
  .main-content {
    margin-top: -20px; // margin-left: 10px;
    // margin-right: 10px;
    padding-top: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75); // background: #F5F5F5;
    position: relative !important;

    .list-ios {
      margin: 10px 0 32px;
    }
  }

  #circle {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;

    canvas {
      position: absolute;
      left: -5px;
      top: -5px;
    }

    .circular {
      width: 100px;
      height: 100px;
      position: inherit;
      border-radius: 50%;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      border: solid white;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: -70px;
      margin-left: auto;
      margin-right: auto; // margin-bottom: 50px;

      ion-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        * {
          stroke: white;
        }
      }

      ion-icon {
        font-size: 50px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
  }

  .profile-description {
    font-size: 15px;
    color: #888;
  }

  .list-item-content {
    padding: 5px;
  }

  .list-item {
    color: #666666;
  }

  .post {
    color: #444;
  }

  .post-time {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 11px;
    color: #888;
  }

  .post-profile-image {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  .post-options {
    position: absolute;
    font-size: 16px;
    right: 5px;
    bottom: 5px;
    color: #888;
  }
}
