<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Manage Shop</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="viewChat()">
        <ion-badge id="message-badge" *ngIf="unreadCount > 0" color="danger">{{unreadCount}}</ion-badge>
        <ion-icon ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item detail-push tappable (click)="viewMyProducts()">
      <ion-icon name="ios-albums-outline" item-start></ion-icon>
      <h2 class="typo-r14">My Products</h2>
      <p><span ion-text color="danger">{{details.products?.length}}</span> product(s)</p>
    </ion-item>
    <ion-item detail-push tappable (click)="viewMyCustomers()">
      <ion-icon name="ios-contacts-outline" item-start></ion-icon>
      <h2 class="typo-r14">My Customers</h2>
    </ion-item>
    <ion-item detail-push tappable (click)="viewShopProfile()">
      <ion-icon name="ios-images-outline" item-start></ion-icon>
      <h2 class="typo-r14">Shop Profile</h2>
    </ion-item>
    <ion-item detail-push tappable (click)="viewShopSettings()">
      <ion-icon name="ios-settings-outline" item-start></ion-icon>
      <h2 class="typo-r14">Shop Settings</h2>
    </ion-item>
    <ion-list-header color="light">&nbsp;</ion-list-header>
    <ion-item detail-push tappable (click)="applyForOfficialShop()">
      <ion-icon name="ios-ribbon-outline" item-start></ion-icon>
      <h2 class="typo-r14">Apply for Official Shop</h2>
      <small ion-text color="primary" *ngIf="details.shop_application_date">Applied On: {{details.shop_application_date | date:'short'}}</small>
      <small ion-text color="danger" *ngIf="details.shop_application_date && details.shop_appoved_date">Approved On: {{details.shop_appoved_date | date:'short'}}</small>
    </ion-item>
    <ion-list-header color="light">&nbsp;</ion-list-header>
    <ion-item tappable detail-push (click)="discountPromotions()">
      <ion-icon name="md-pricetags" item-start></ion-icon>
      <h2 class="typo-r14">Discount Promotions</h2>
    </ion-item>
    <ion-item tappable detail-push (click)="sellerVouchers()">
      <ion-icon name="md-card" item-start></ion-icon>
      <h2 class="typo-r14">Vouchers</h2>
    </ion-item>
    <ion-item tappable detail-push (click)="sellerTopPicks()">
      <ion-icon name="md-stats" item-start></ion-icon>
      <h2 class="typo-r14">Shop Top Picks</h2>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-apps-outline" item-start></ion-icon>
      <h2 class="typo-r14">Shop Categories</h2>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-4 text-center *ngFor="let item of details.categories | slice:0:9">
          <img [src]="item.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'" width="64px" height="64px">
          <p>
            <small>{{item.name}}</small>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
