seller-vouchers {
  .suffix {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  .prefix{
    position: absolute;
    top: 0;
    height: 100%;
  }

  .prefix,
  .suffix {
    height: 100%;
    line-height: 24px;
    float: left;
    padding: 8px;
    color: #bababa;
    font-size: 14px;
    transition: color .25s ease;
  }
}
