<form [formGroup]="voucherForm">
  <ion-list>
    <ion-item-divider color="light"> Voucher Info </ion-item-divider>
    <ion-item>
      <ion-label class="typo-r14">Voucher Name</ion-label>
      <ion-input type="text" class="typo-r14" text-right formControlName="voucherName"></ion-input>
    </ion-item>
    <!-- <div class="validation-errors" *ngIf="submitted && form.voucherName.errors">
      <div class="error-message" *ngIf="form.voucherName.errors.required">
        This field cannot be empty
      </div>
    </div> -->
    <ion-item>
      <ion-label class="typo-r14">Voucher Code</ion-label>
      <ion-input type="text" class="typo-r14" text-right formControlName="voucherCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="typo-r14">Voucher Type</ion-label>
      <ion-select interface="action-sheet" formControlName="voucherType">
        <ion-option value="fixed">Fixed Amount</ion-option>
        <ion-option value="percentage">By Percentage</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="showFixed">
      <ion-label class="typo-r14">Amount</ion-label>
      <ion-input type="number" class="typo-r14" text-right formControlName="voucherAmt" placeholder="0.00"></ion-input>
    </ion-item>
    <!-- <ion-item-divider color="light" *ngIf="showPercentage"> Discount Percentage </ion-item-divider> -->
    <!-- <ion-item *ngIf="showPercentage">
      <ion-label class="typo-r14">No Limit</ion-label>
      <ion-toggle formControlName="isNoLimit"></ion-toggle>
    </ion-item> -->
    <ion-item *ngIf="showPercentage">
      <ion-label class="typo-r14">Amount</ion-label>
      <ion-input type="number" style="padding-right: 45px;" class="typo-r14" text-right formControlName="maxDiscountPrice"></ion-input>
      <div class="suffix" item-content>% OFF</div>
    </ion-item>
    <ion-item-divider color="light"> Min. Basket Size </ion-item-divider>
    <ion-item>
      <ion-label class="typo-r14">Basket Size</ion-label>
      <ion-input type="text" class="typo-r14" text-right formControlName="minimumOrderAmt" placeholder="0.00"></ion-input>
    </ion-item>
    <ion-item-divider color="light"> Voucher Start/End Date </ion-item-divider>
    <ion-item>
      <ion-label class="typo-r14">From</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" formControlName="voucherFrom"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label class="typo-r14">To</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" formControlName="voucherTo"></ion-datetime>
    </ion-item>
    <ion-item-divider color="light"> Voucher Quantity </ion-item-divider>
    <ion-item>
      <ion-label class="typo-r14">Quantity</ion-label>
      <ion-input type="text" class="typo-r14" text-right formControlName="voucherQuantity"></ion-input>
      <small>(Total number of vouchers available for claim)</small>
    </ion-item>
    <ion-item-divider color="light"> Applicable Products </ion-item-divider>
    <ion-item>
      <ion-label class="typo-r14">Applicable to the whole shop</ion-label>
      <ion-toggle formControlName="isApplytoWholeShop"></ion-toggle>
    </ion-item>
    <ion-item tappable detail-push (click)="addProducts()" *ngIf="!isApplytoWholeShop">
      <h2 class="typo-r14">Add Products</h2>
      <ion-note item-end *ngIf="productsArr && productsArr.length > 0">{{productsArr.length}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label class="typo-r14">Display to profile</ion-label>
      <ion-toggle formControlName="isDisplayToApp"></ion-toggle>
    </ion-item>
  </ion-list>
</form>
