<ion-menu id="filtermenu" [content]="mycontent" side="right" type="overlay" enabled="false">
  <ion-header>
    <ion-toolbar>
      <ion-title>Search Filter</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item-divider color="light">
        Categories
      </ion-item-divider>
      <ion-item *ngFor="let item of app_categories">
        <ion-label class="typo-r14">{{item.name}}</ion-label>
        <ion-checkbox [checked]="item.selected" (ionChange)="selectCategories(item)"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item-divider color="light">
        Shipping Option
      </ion-item-divider>
      <ion-item *ngFor="let item of app_shippingoptions">
        <ion-label class="typo-r14">{{item.name}}</ion-label>
        <ion-checkbox [checked]="item.selected" (ionChange)="selectShipping(item)"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item-divider color="light">
        Service
      </ion-item-divider>
      <ion-item>
        <ion-label class="typo-r14">Wholesale</ion-label>
        <ion-checkbox [(ngModel)]="isWholeSale"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label class="typo-r14">With Discount</ion-label>
        <ion-checkbox [(ngModel)]="isDiscounted"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label class="typo-r14">Lowest Price</ion-label>
        <ion-checkbox [(ngModel)]="isLowPrice"></ion-checkbox>
      </ion-item>
      <!-- <ion-item>
        <ion-label class="typo-r14">Cash On Delivery</ion-label>
        <ion-checkbox [(ngModel)]="isCOD"></ion-checkbox>
      </ion-item> -->
      <ion-item>
        <ion-label class="typo-r14">Free Shipping</ion-label>
        <ion-checkbox [(ngModel)]="isFreeShipping"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item-divider color="light">
        Condition
      </ion-item-divider>
      <ion-item>
        <ion-label class="typo-r14">New</ion-label>
        <ion-checkbox [(ngModel)]="isNew"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label class="typo-r14">Used</ion-label>
        <ion-checkbox [(ngModel)]="isUsed"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item-divider color="light">
        Price Range
      </ion-item-divider>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="number" [(ngModel)]="filter.minValue" placeholder="MIN"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input type="number" [(ngModel)]="filter.maxValue" placeholder="MAX"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-buttons right>
      <button ion-button outline small (click)="resetFilter()" color="dangers">
        Reset
      </button>
      <button ion-button small (click)="applyFilter()" color="dangers">
        Apply
      </button>
    </ion-buttons>
  </ion-footer>
</ion-menu>
<ion-nav #mycontent [root]="rootPage"></ion-nav>
