@font-face {
  font-family: 'MavenPro';
  src: url('../assets/fonts/MavenPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro Medium';
  src: url('../assets/fonts/MavenPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url('../assets/fonts/MavenPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url('../assets/fonts/MavenPro-Black.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Maven+Pro');


html,
body {
  // font-family: 'MavenPro', sans-serif;
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, .87);
  background: #efefef;
}

ion-app.ios {
  // font-family: 'MavenPro', sans-serif;
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, .87);
  background: #efefef;
}

ion-input.form-control {
  background-color: #F5F8FC;
  border: 1px solid #D3DAE9;
  box-sizing: border-box;
  border-radius: 3px;
  color: #3C4044;
  padding: 0;
}

.bar-button-ios[icon-only] ion-icon {
  padding: 0 0.1em;
  font-size: 1.8em;
  line-height: .67;
  pointer-events: none;
}


.typo-r12 {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400 !important;
  font-size: 1.1rem !important;
}

.typo-r16 {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400 !important;
  font-size: 1.7rem !important;
}

.typo-m12 {
  font-family: -apple-system, HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, Helvetica Neue, Roboto, Droid Sans, Arial Bold, Arial, sans-serif;
  font-weight: 500 !important;
  font-size: 1.2rem !important;
}

.typo-m14 {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 500 !important;
  font-size: 1.375rem !important;
}

.typo-m16 {
  font-family: -apple-system, HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, Helvetica Neue, Roboto, Droid Sans, Arial Bold, Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem !important;
}

.typo-m18 {
  font-family: -apple-system, HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, Helvetica Neue, Roboto, Droid Sans, Arial Bold, Arial, sans-serif;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
}


.typo-l10 {
  font-family: -apple-system, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 300;
  font-size: .625rem !important;
}

.typo-l12 {
  font-family: -apple-system, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 300;
  font-size: .75rem !important;
}

.typo-l14 {
  font-family: -apple-system, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.1rem !important;
}

.typo-r10 {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem !important;
}

.typo-r13 {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: .8125rem !important;
}

.typo-r14 {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400 !important;
  font-size: 1.375rem !important;
}


.border-delivery {
  height: .3rem;
  width: 100%;
  background-position-x: -3rem;
  background-size: 11.6rem .3rem;
  background-image: -webkit-repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
  background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
}

.richblue {
  background-color: color($colors, richblue);
}

.srabI- {
  padding: .625rem 0;
}

.hairline-border-up {
  border: 0 solid rgba(0, 0, 0, .09) !important;
  border-top: 1px solid rgba(0, 0, 0, .09) !important;
}

.stardust-horizontal-scroll-view {
  height: auto !important;
  min-height: 99px !important;
  padding-left: 10px;

  .slide-zoom {
    // height:200px;
    height: 100% !important;
    // overflow:hidden;
  }
}

.navmenu {
  ion-note {
    font-size: 1.2rem;
  }
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: map-get($colors, dangers);
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: map-get($colors, dangers);
}

.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=true] {
  color: map-get($colors, dangers);
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-left: 0px;
}

.form {
  .invalid {
    border-bottom: 1.5px solid color($colors, danger);
  }

  .has-error {
    color: color($colors, danger);
    font-weight: bold;
    font-size: 1rem;
  }

  ion-input,
  ion-select,
  ion-textarea {
    padding: 5px 10px;
  }
}

ion-navbar {
  ion-buttons {
    button {
      ion-badge {
        position: absolute;
        top: -0.2rem;
        right: -0.2rem;
        opacity: 0.9;

        &~ion-icon {
          margin-right: 1.2rem;
        }
      }
    }
  }
}

.toolbar-title {
  overflow: visible;
  position: relative;

  .subtitle {
    font-size: 66%;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal !important;
    font-weight: normal !important;
    line-height: normal !important;
  }
}

.tabs-ios .tabbar {
  background: #fff !important;
}


.progressive-image {
  position: relative;
  overflow: hidden;
}

.progressive-image div {
  width: 100%;
  padding-top: 100%;
  background-size: cover !important;
  background-position: center bottom !important;
}

.progressive-image .loadingImage {
  filter: blur(5px);
}

.progressive-image .overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 200ms ease-in;
}


ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding-top: 45vh;

  /* .toolbar-background-ios {
    background: #f8f8f8 !important;
  } */
}

ion-modal.inset-modal2 {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding-top: 25vh;

  .toolbar-background-ios {
    background: #f8f8f8 !important;
  }
}


.alertCustomCss {
  .alert-wrapper {
    max-width: 350px;

    .alert-radio-label {
      white-space: pre-wrap;
    }

    .alert-radio-icon {
      border-radius: 50%;
      position: relative;
      width: 21px;
      height: 21px;
      border-width: .55px;
      border-style: solid;
      border-color: #c8c7cc;
      background-color: #fff;
      margin: 10px 16px 10px 6px;
      min-width: 0px;
    }
  }
}

.alertCustomCss [aria-checked=true] .alert-radio-icon {
  border-color: color($colors, primary);
  background-color: color($colors, primary);
}

.alertCustomCss [aria-checked=true] .alert-radio-inner {
  left: 7px;
  top: 3px;
  border-color: #fff;
}

.alertCustomCss [aria-checked=true] .alert-radio-label {
  color: color($colors, primary);
}

@mixin ribbonize ($ribbon-color, $text-color: white, $border-width: 3px) {
  span {
    color: $text-color;
    background: $ribbon-color;

    &::before {
      border-left: $border-width solid $ribbon-color;
      border-top: $border-width solid $ribbon-color;
    }

    &::after {
      border-right: $border-width solid $ribbon-color;
      border-top: $border-width solid $ribbon-color;
    }
  }
}

$default: #f53d3d;
$cruzeiro: #387ef5;
$atletico: darken(#f4f4f4, 45%);
$javascript: #f7e023;
$narnoo: #108fcf;

.item-ribbon {
  background-color: #fff;
  position: relative;
  filter: none;
  opacity: 1;

  .ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 2;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;

    span {
      font-size: 1rem;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      line-height: 20px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      width: 100px;
      display: block;
      background: $default;
      position: absolute;
      top: 19px;
      right: -21px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        z-index: -1;
        border-left: 3px solid $default;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid $default;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid $default;
        border-bottom: 3px solid transparent;
        border-top: 3px solid $default;
      }
    }
  }
}

.ribbon.narnoo {
  @include ribbonize($narnoo);
}

.ribbon.cruzeiro {
  @include ribbonize($cruzeiro);
}

.ribbon.atletico {
  @include ribbonize($atletico);
}

.ribbon.javascript {
  @include ribbonize($javascript, black);
}

.u-border-bottom {
  border-bottom: 0.55px solid #c8c7cc;
}

/**
* Make height of a div relative to its width, in a constant ratio.
* $ratio: ratio of height to with, e.g. 3/4 to get something like 300px height and 400px width
*/
/* stylelint-disable media-feature-name-no-vendor-prefix */
/* stylelint-enable */
.item-card {
  width: 100%;
  text-decoration: none;
  display: block;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;

  ._3Mtjr1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .kALczS {
    position: absolute;
    left: .3125rem;
    bottom: .3125rem;
    top: auto;
    right: auto;
    width: 3rem;
    height: 2.375rem;
  }

  .item-card__info {
    padding: 1rem 1rem;
  }

  .item-card__name--two-lines {
    height: 3rem;
  }

  .item-card__price-shipping {
    margin-bottom: 1.375rem;
  }

  .rating-stars {
    // font-size: 1.2rem;
    font-weight: 500;

    ._3s9Tb9 {
      margin-left: .125rem;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
      -moz-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
    }

    ul.rating {
      padding: 0px;

      &.rating li {
        padding: 5px 0px !important;
        background: none;
        color: color($colors, danger);

        ion-icon {
          font-size: .70rem;
        }
      }
    }
  }
}

.item-card__cover-image-wrapper {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  background: #fff;
}

.item-card__cover-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.item-card .image-placeholder {
  position: absolute;
  left: 0;
  top: 0;
}

.item-card__lowest-price-icon {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 48px;
  height: 38px;
}

.item-card__campaign-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.item-card__video-icon {
  right: 0.25rem;
  bottom: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
}

.item-card__ads {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  height: 1rem;
  line-height: 1rem;
  border-radius: 0.125rem;
  background: rgba(0, 0, 0, .26);
  font-size: 0.625rem;
  text-transform: capitalize;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.item-card__info {
  padding: 0.5625rem 0.5rem;
  background: white;
  position: relative;
}

.item-card__name {
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.375rem;
  height: 1.25rem;
  line-height: 1.25rem;
}

.item-card__name--two-lines {
  white-space: normal;
  height: 2.5rem;
  word-break: break-all;
  margin-bottom: 0.75rem;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.item-card__name .badge__official-shop--inline {
  margin-top: 0;
  height: 1.45rem;
  vertical-align: baseline;
  line-height: 0.875rem;
  margin-right: 0.5rem;
  font-size: 0.75rem;
}

.item-card__name .item-card__free-shipping-icon {
  height: 1.25rem;
  width: 1.75rem;
  float: right;
  margin-top: -0.1875rem;
}

.item-card__price-shipping {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.375rem;
  height: 1.0625rem;
}

.item-card__price-before-discount {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  color: rgba(0, 0, 0, .26);
  text-decoration: line-through;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-card__spacer-price {
  width: 0.1875rem;
}

.item-card__actual-price {
  color: color($colors, dangers);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.item-card__actual-price--has-free-shipping {
  max-width: -webkit-calc(100% - 24px);
  max-width: calc(100% - 24px);
}

.item-card__actual-price--has-free-shipping.item-card__actual-price--has-24h {
  max-width: -webkit-calc(100% - 56px);
  max-width: calc(100% - 56px);
}

.item-card__actual-price--has-free-shipping.item-card__actual-price--has-24 {
  max-width: -webkit-calc(100% - 50px);
  max-width: calc(100% - 50px);
}

.item-card__actual-price--has-free-shipping.item-card__actual-price--has-sbs {
  max-width: -webkit-calc(100% - 46px);
  max-width: calc(100% - 46px);
}

.item-card__actual-price--has-24h {
  max-width: -webkit-calc(100% - 32px);
  max-width: calc(100% - 32px);
}

.item-card__actual-price--has-24 {
  max-width: -webkit-calc(100% - 26px);
  max-width: calc(100% - 26px);
}

.item-card__actual-price--has-sbs {
  max-width: -webkit-calc(100% - 22px);
  max-width: calc(100% - 22px);
}

.item-card__spacer {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.item-card__free-shipping-icon,
.item-card__24hour-icon,
.item-card__24-icon,
.item-card__sbs-icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  stroke: none;
  margin-left: 0.25rem;
}

.item-card__24hour-icon {
  height: 0.75rem;
  width: 1.75rem;
}

.item-card__24-icon {
  height: 0.875rem;
  width: 1.625rem;
}

.item-card__sbs-icon {
  margin-bottom: 0.125rem;
}

.item-card__extra-badges {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.75rem;
}

.item-card__extra-badges:empty {
  display: none;
}

.item-card__extra-badges> :nth-child(n + 2) {
  margin-left: 0.25rem;
}

.item-card__extra-badges .badge__horizontal {
  margin-top: 0;
  margin-bottom: 0;
  height: 0.8125rem;
  font-size: 10px;
}

.item-card__extra-badges .badge__bundle-deals {
  padding: 0 4px 1px;
  line-height: 1;
}

.item-card__badge-group-buy {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.item-card__badge-group-buy .badge__group-buy-icon-container {
  width: 1.0625rem;
  height: 1.0625rem;
}

.item-card__badge-group-buy .badge__group-buy-text {
  line-height: 0.875rem;
}

.item-card__popularity {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-card__likes,
.item-card__sold-count {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-card__likes-icon {
  color: #b6b8c2;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 0.75rem;
  height: 0.75rem;
}

.item-card__likes-icon--liked {
  color: color($colors, dangers);
}

.item-card__likes-text {
  color: #b6b8c2;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -moz-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  margin-left: 0.25rem;
}

.item-card__sold-count-text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  color: rgba(0, 0, 0, .26);
}

.item-card__sold-count-text::first-letter {
  text-transform: capitalize;
}

.item-card__ratings {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.item-card__badge-right-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.item-card__badge-right-wrapper .badge-text {
  margin-left: 0.5rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -moz-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.item-card__badge-left-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item-card__badge-left-wrapper .badge__horizontal {
  margin-top: 0.25rem;
  margin-left: -0.1875rem;
  font-size: 0.6875rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -moz-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.item-card__badge-left-wrapper .badge__horizontal .stardust-icon {
  font-size: inherit;
}

.item-card__buy-now-button {
  border-radius: 0.2rem;
  border: 1px solid color($colors, dangers);
  text-align: center;
  color: color($colors, dangers);
  cursor: pointer;
  width: 100%;
  background: white;
  padding: 0.4375rem 0;
  text-transform: capitalize;
}

.item-card__buy-now-button-sold-out {
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, .09);
  text-align: center;
  color: rgba(0, 0, 0, .26);
  cursor: pointer;
  width: 100%;
  background: white;
  padding: 0.4375rem 0;
  text-transform: capitalize;
}

.item-card__buy-now-placeholder {
  width: 100%;
  background: white;
  height: 2rem;
}

.theme--ofs .item-card__actual-price {
  color: #d0011b !important;
}

.theme--ofs .item-card__likes-icon--liked {
  color: #d0011b !important;
}

.preview-overlay {
  background-color: rgba(208, 1, 27, .85);
  bottom: 0;
  position: absolute;
  color: white;
  font-size: 0.75rem;
  font-weight: 300;
  width: 100%;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
  z-index: 1;
}

.badge-text {
  width: 3.375rem;
}

.badge-text__text {
  width: 3.375rem;
  height: 3.375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  background-color: inherit;
}

.badge-text__text::after {
  content: '';
  width: 0;
  height: 0;
  left: 0;
  bottom: -0.25rem;
  border-style: solid;
  position: absolute;
  border-width: 0 1.7rem 0.25rem 1.7rem;
  border-color: transparent white;
}

.badge__soldout {
  white-space: normal;
  color: white;
  text-align: center;
}

.badge-text--soldout {
  background-color: rgba(122, 138, 136, .85);
}

.badge-text--soldout .badge-text__text::after {
  border-left-color: rgba(122, 138, 136, .85);
  border-right-color: rgba(122, 138, 136, .85);
}

.badge__promotion {
  white-space: normal;
  color: color($colors, dangers);
  text-align: center;
  font-weight: bold;
}

.badge__promotion-off {
  color: white;
}

.badge-text--promotion {
  background-color: #FCD511;
}

.badge-text--promotion .badge-text__text::after {
  border-left-color: #FCD511;
  border-right-color: #FCD511;
}

.theme--ofs .badge__promotion {
  color: #d0011b !important;
}

.badge__horizontal {
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
  height: .9375rem;
}

.badge__horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: color($colors, dangers);
  border-radius: 0.125rem;
  height: 1.0625rem;
  color: white;
  padding: 0.125rem 0.1875rem;
  margin-top: 0.375rem;
  margin-bottom: 0.125rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
  white-space: nowrap;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.badge__horizontal .stardust-icon {
  font-size: 0.75rem;
  display: inline-block;
  vertical-align: bottom;
}

.badge__official-shop--inline {
  display: inline-block;
  vertical-align: middle;
}

.badge__official-shop {
  background-color: color($colors, dangers);
}

.bnFPPI {
  color: rgba(0, 0, 0, .26);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  height: 1.2rem;

  .rating-stars {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: .75rem;
    height: .875rem;
  }
}


.rating-stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.voucher-ticket {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;

  .btnActive {
    background-color: #fff;
    color: color($colors, dangers);
  }

  .button {
    font-size: 1rem;
    padding: .3rem 1.5rem;
    border: none;
    border-radius: .0625rem;
    position: absolute;
    z-index: 1;
    right: .625rem;
    bottom: .5rem;
  }
}

.voucher-ticket__code-label {
  text-transform: uppercase;
}

.voucher-ticket__footer,
.voucher-ticket__body,
.voucher-ticket__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.voucher-ticket--fancy {
  min-width: 12.9375rem;
  color: white;
  background: color($colors, dangers);
  padding: 0.5625rem 0.625rem 0;
  border-left: 0.15625rem solid transparent;
  border-right: 0.15625rem solid transparent;
  -o-border-image: url("../assets/imgs/border_ticket.png") 0 50% round;
  border-image: url("../assets/imgs/border_ticket.png") 0 50% round;
  border-image-slice: 0 50%;
}

.voucher-ticket--fancy__expiry {
  background: rgba(0, 0, 0, .54) !important;
}

.voucher-ticket--fancy .stardust-button {
  font-size: 0.8125rem;
  color: color($colors, dangers);
  border-radius: 0.0625rem;
  padding: 0.125rem 0.6875rem;
  border: none;
  text-transform: uppercase;
  background: white;
}

.voucher-ticket--outline {
  font-size: 1.1rem;
  color: color($colors, dangers);
  padding: 0.2rem 0.8rem;
  border-width: 0.1rem 0.2rem;
  border-style: solid;
  border-color: color($colors, dangers);
  border-image-source: url("../assets/imgs/border_ticket-outline.png");
  border-image-slice: 1 3;
  border-image-repeat: repeat stretch;
}

.voucher-ticket--TW .voucher-ticket__promo-percent {
  display: none;
}

.voucher-ticket--TW.voucher-ticket--seller .voucher-ticket__promo-off {
  font-size: 0.875rem;
  margin-top: 0.1875rem;
}

.voucher-ticket+.voucher-ticket {
  margin-left: 0.5rem;
}

.voucher-ticket--seller-mini {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.voucher-ticket--seller {
  padding-top: 0.375rem;
  position: relative;
  z-index: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  min-width: 14.375rem;
}

.voucher-ticket--seller .stardust-button {
  position: absolute;
  z-index: 1;
  right: 0.625rem;
  bottom: 0.5rem;
}

.voucher-ticket--seller .voucher-ticket--seller-mini {
  position: relative;
  top: 0.1em;
}

.voucher-ticket--seller .voucher-ticket__promo {
  font-weight: bold;
  font-size: 2.2rem;
  position: relative;
  top: 0.1em;
}

.voucher-ticket--seller .voucher-ticket__promo-percent {
  font-size: 1.125rem;
}

.voucher-ticket--seller .voucher-ticket__promo-off {
  font-size: 0.5625rem;
}

.voucher-ticket--seller .voucher-ticket__promo-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 0 0.125rem;
  line-height: 1em;
}

.voucher-ticket--seller .voucher-ticket__description {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: rgba(255, 255, 255, .8);
  margin: 0 0 0 0.4375rem;
}

.voucher-ticket--seller .voucher-ticket__code {
  line-height: 1.25rem;
}

.voucher-ticket--seller .voucher-ticket__body {
  height: 7rem;
}

.voucher-ticket--seller .voucher-ticket__footer {
  border-color: rgba(234, 68, 16, .52) !important;
  padding: 0.5rem 0;
  margin: 0.5rem 0 0;
}

.voucher-ticket--seller .voucher-ticket__start-shop {
  color: #F8E71C;
  font-size: 0.625rem;
}

.voucher-ticket--seller-plain .voucher-ticket--seller-mini {
  color: color($colors, dangers);
}

.voucher-ticket--seller-plain .voucher-ticket__start {
  color: color($colors, dangers);
  font-size: 0.75rem;
}

.voucher-ticket--seller-plain .voucher-ticket__expiry {
  color: rgba(0, 0, 0, .54);
}

.product-review__badge {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-review__badge>.badge__horizontal {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
}
