my-vouchers-ticket {
  .my-card-voucher {
    .card-content {
      padding: 0px;

      .voucher-ticket--seller {
        .voucher-ticket__code {
          line-height: 2.25rem;
        }

        .voucher-ticket__description {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          color: rgba(255, 255, 255, 0.8);
          margin: 0 0 0 2rem;
        }
      }

      .voucher-ticket .button {
        font-size: 1.2rem;
        padding: .4rem 2.5rem;
        border: none;
        border-radius: .0625rem;
        position: absolute;
        z-index: 1;
        right: .625rem;
        bottom: .5rem;
      }
    }
  }
}
