<ion-card class="my-card-voucher">
  <ion-card-content>
    <div class="voucher-ticket voucher-ticket--fancy voucher-ticket--seller shop-page-vouchers__voucher" [ngClass]="{
    'voucher-ticket--fancy__expiry': isInValid || isUsed
	}">
      <div class="voucher-ticket__body">
        <div class="voucher-ticket voucher-ticket--seller-mini">
          <div class="voucher-ticket__promo">₱1000</div>
        </div>
        <div class="voucher-ticket__description">
          <div class="typo-r14 voucher-ticket__requirement">Min. Spend 200</div>
          <div class="typo-l14 voucher-ticket__expiry">Valid Till 02/25/2019</div>
        </div>
      </div>
      <div class="voucher-ticket__footer typo-r14 voucher-ticket__code" [ngClass]="{
      'hairline-border-up': !isInValid && !isUsed
  	}">
        <span class="voucher-ticket__code-label">Code:&nbsp;</span><span class="voucher-ticket__code-content">UGREU1</span>
      </div>
      <div class="btnActive button" *ngIf="!isInValid && !isUsed">Use</div>
    </div>
  </ion-card-content>
  <ion-card-header>
    <div text-wrap>
      <p class="typo-r10">Valid Time: 02/25/2019 - 02/25/2019</p>
      <p class="typo-r10">Enjoy ₱1000 off your order. *Valid until 02/25/2019. With min spend of ₱200. Valid for one-time use only.</p>
    </div>
  </ion-card-header>
</ion-card>
