page-shopprofile-entry {
  ion-footer {
    [ion-button] {
      margin: 0 !important;
    }
  }

  .header-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30vh;

    .user-avatar {
      img {
        width: 100px;
        height: 100px;
        position: inherit;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border: solid white;
      }
    }
  }
}
