<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Edit Shop Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <!-- <ion-item>
      <ion-thumbnail item-start>
        <img src="./assets/imgs/user.png">
      </ion-thumbnail>
      <button ion-button clear item-end>Change Avatar</button>
    </ion-item> -->
    <ion-item text-center class="header-image" [style.background-image]="user.banner_path">
      <div center text-center class="user-avatar">
        <img [src]="user.img_path">
      </div>
    </ion-item>
    <ion-item no-lines>
      <button ion-button clear item-start (click)="updateProfilePic('profile')">Change Avatar</button>
      <button ion-button clear item-end (click)="updateProfilePic('cover')">Change Banner</button>
    </ion-item>
    <ion-item-divider color="light">&nbsp;</ion-item-divider>
    <ion-item>
      <ion-label><p>Shop Name</p></ion-label>
      <ion-input type="text" placeholder="Shop Name" [(ngModel)]="user.sellerName"></ion-input>
    </ion-item>
    <ion-item-divider color="light">&nbsp;</ion-item-divider>
    <ion-item>
      <ion-textarea placeholder="Description" [attr.rows]="5" [(ngModel)]="user.sellerDescription"></ion-textarea>
    </ion-item>
    <ion-item-divider color="light">&nbsp;</ion-item-divider>
    <button ion-item (click)="updatePhone()">
      <ion-label><p>Phone</p></ion-label>
      <ion-note item-end>{{user.phoneMask}}</ion-note>
    </button>
    <button ion-item (click)="updateFax()">
      <ion-label><p>Fax</p></ion-label>
      <ion-note item-end>{{user.faxMask}}</ion-note>
    </button>
    <button ion-item (click)="updateEmail()">
      <ion-label><p>Email</p></ion-label>
      <ion-note item-end>{{user.emailMask}}</ion-note>
    </button>
    <ion-item-divider color="light">&nbsp;</ion-item-divider>
    <ion-item>
      <ion-label><p>Update you followers</p></ion-label>
      <ion-toggle disabled checked="false"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="danger">
    <button ion-button full color="danger" (click)="saveShop()">SAVE</button>
  </ion-toolbar>
</ion-footer>
