<ion-list>
  <ion-item>
    <h3>Cancelled by</h3>
    <div item-end style="color: #FF6500;">
      <small *ngIf="order.isAutoCancelled == 1">ShoppyApp System</small>
      <small *ngIf="order.cancelledBy == 'buyer' && usertype =='buyer' && order.isAutoCancelled == 0">You</small>
      <small *ngIf="order.cancelledBy == 'seller' && usertype =='buyer' && order.isAutoCancelled == 0">Seller</small>
      <small *ngIf="order.cancelledBy == 'buyer' && usertype =='seller' && order.isAutoCancelled == 0">Buyer</small>
      <small *ngIf="order.cancelledBy == 'seller' && usertype =='seller' && order.isAutoCancelled == 0">You</small>
    </div>
  </ion-item>
  <ion-item>
    <h3>Cancelled at</h3>
    <div item-end>
      <small>{{order.cancelledDateTime}}</small>
    </div>
  </ion-item>
  <ion-item text-wrap>
    <h3>Cancelled Reason</h3>
    <p>
      <small *ngIf="order.isAutoCancelled == 0">{{order.cancelledReason}}</small>
      <small *ngIf="order.isAutoCancelled == 1">Non Payment</small>
    </p>
  </ion-item>
</ion-list>
