<ion-list *ngIf="showList">
  <ion-item-group class="mt-10" (click)="viewOrderDetails(order,'completed')" class="mt-10" *ngFor="let order of orderList | orderBy: 'orderDateTime'">
    <ion-list-header>
      <ion-avatar item-start>
        <img src="./assets/imgs/user.png">
      </ion-avatar>
      <h2>{{order.sellerName}}</h2>
      <div item-end style="color: #FF6500;">
        Completed
      </div>
    </ion-list-header>
    <div *ngFor="let item of order.details | slice: 0:1">
      <ion-item class="cart-item" item-content>
        <ion-thumbnail item-start>
          <img [src]="item.image.img_public_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
        </ion-thumbnail>
        <h4>{{item.detailName}}</h4>
        <small *ngIf="item.variantId"><ion-note>Variation: {{item.variantName}}</ion-note></small>
        <p item-end>
          <small>x {{item.detailQty}}</small>
          <br>
          <small>{{item.detailPrice}}</small>
        </p>
      </ion-item>
      <ion-list-header>
        <ion-note item-start text-wrap color="segondaria">
          <ion-icon name="cube"></ion-icon>
          <small>Shipped and Delivered by {{item.courier_name}} </small>
        </ion-note>
        <ion-note item-end>
          <small>{{order.receivedDateTime | date: 'MM/dd/yyyy h:mm a'}}</small>
        </ion-note>
      </ion-list-header>
    </div>
    <ion-list-header>
      <ion-note item-start>{{order.details.length}} item</ion-note>
      <div item-end>
        Total Payment: <span class="price">{{order.orderAmt}}</span>
      </div>
    </ion-list-header>
    <ion-list-header>
      <ion-note item-start>
        <small>No rating received</small>
      </ion-note>
      <button ion-button color="danger" item-end disabled="true" *ngIf="action == 'buyer'" (click)="rateProduct(order,'buyer',$event)">Rate Seller</button>
      <button ion-button color="danger" item-end disabled="true" *ngIf="action == 'seller'" (click)="rateProduct(order,'seller',$event)">Rate Buyer</button>
      <!-- <button ion-button color="danger" item-end [disabled]="true" *ngIf="action == 'seller'">View Buyer Rating</button>
      <button ion-button color="danger" item-end [disabled]="true" *ngIf="action == 'seller'">View Shop Rating</button> -->
    </ion-list-header>
  </ion-item-group>
</ion-list>
<div class="myCard" *ngIf="!showList">
  <div padding text-center>
    <img src="./assets/imgs/clipboard.svg" />
  </div>
  <ion-card-content>
    <p text-center>
      No orders yet
    </p>
  </ion-card-content>
</div>
