<ion-list *ngIf="showList">
  <ion-item-group class="mt-10" (click)="viewOrderDetails(order,'receive')" *ngFor="let order of orderList | orderBy: 'orderDateTime'">
    <ion-list-header>
      <ion-avatar item-start>
        <img src="./assets/imgs/user.png">
      </ion-avatar>
      <h2>{{order.sellerName}}</h2>
      <div item-end style="color: #FF6500;">
        To Receive
      </div>
    </ion-list-header>
    <div *ngFor="let item of order.details | slice: 0:1">
      <ion-item class="cart-item" item-content>
        <ion-thumbnail item-start>
          <img [src]="item.image.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
        </ion-thumbnail>
        <h4>{{item.detailName}}</h4>
        <small *ngIf="item.variantId"><ion-note>Variation: {{item.variantName}}</ion-note></small>
        <p item-end>
          <small>x {{item.detailQty}}</small>
          <br>
          <small>{{item.detailPrice}}</small>
        </p>
      </ion-item>
    </div>
    <ion-list-header>
      <small item-start text-wrap ion-text color="segondaria">
          <ion-icon name="cube"></ion-icon>
          Item Shipped by {{order.courier_name}} 
        </small>
      <ion-note item-end>
        <small>{{order.shippedDateTime}}</small>
      </ion-note>
    </ion-list-header>
    <ion-list-header>
      <ion-note item-start>{{order.details.length}} item</ion-note>
      <div item-end>
        Total Payment: <span class="price">{{order.orderAmt}}</span>
      </div>
    </ion-list-header>
    <ion-item>
      <ion-icon name="md-bus" item-start color="segondaria"></ion-icon>
      <small ion-text color="segondaria">
          {{order.checkpoint?.message}}
      </small>
      <p>
        <ion-note>
          <small>{{order.checkpoint?.checkpoint_time}}</small>
        </ion-note>
      </p>
    </ion-item>
    <ion-list-header>
      <ion-note item-start *ngIf="order.receivedDateTime">
        <small>Received products on <br> {{order.receivedDateTime | date: 'MM/dd/yyyy'}}</small>
      </ion-note>
      <button ion-button color="danger" item-end *ngIf="order.isOrderDelivered && !order.isOrderReceived && !order.isOrderReturnRequest" (click)="orderReturnRefund(order,$event)">Return/Refund</button>
      <button ion-button color="danger" item-end [disabled]="order.isOrderReturnRequestCancelled" *ngIf="order.isOrderDelivered && !order.isOrderReceived && order.isOrderReturnRequest">Return/Refund Details</button>

      <button ion-button color="danger" item-end [disabled]="!order.isOrderDelivered" *ngIf="!order.isOrderReceived && !order.isOrderReturnRequest" (click)="orderReceived(order,$event)">Order Received</button>
      <button ion-button color="danger" item-end [disabled]="order.isOrderReturnRequest && !order.isOrderReturnRequestCancelled" *ngIf="order.isOrderDelivered && order.isOrderReturnRequest" (click)="orderReceived(order,$event)">Order Received</button>
    </ion-list-header>
  </ion-item-group>
</ion-list>
<div class="myCard" *ngIf="!showList">
  <div padding text-center>
    <img src="./assets/imgs/clipboard.svg" />
  </div>
  <ion-card-content>
    <p text-center>
      No orders yet
    </p>
  </ion-card-content>
</div>
