<ion-list *ngIf="showList">
  <ion-item-group class="mt-10" (click)="viewOrderDetails(order,'ship')" *ngFor="let order of orderList | orderBy: 'orderDateTime'">
    <ion-list-header>
      <ion-avatar item-start>
        <img src="./assets/imgs/user.png">
      </ion-avatar>
      <h2>{{order.sellerName}}</h2>
      <div item-end style="color: #FF6500;">
        <small *ngIf="order.cancelledRequested == null">To Ship</small>
        <small *ngIf="order.cancelledRequested != null && ((order.isRejectCancelled == 1 && order.isWithdrawCancelled ==0) || (order.isRejectCancelled == 0 && order.isWithdrawCancelled ==1))">To Ship</small>
        <small *ngIf="order.cancelledRequested != null && order.isWithdrawCancelled==0 && order.isRejectCancelled == 0">Cancellation Requested</small>
      </div>
    </ion-list-header>
    <ion-item class="cart-item" item-content *ngFor="let item of order.details | slice: 0: 1">
      <ion-thumbnail item-start>
        <img [src]="item.image.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
      </ion-thumbnail>
      <h4>{{item.detailName}}</h4>
      <small *ngIf="item.variantId"><ion-note>Variation: {{item.variantName}}</ion-note></small>
      <p item-end>
        <small>x {{item.detailQty}}</small>
        <br>
        <small>{{item.detailPrice}}</small>
      </p>
    </ion-item>
    <ion-list-header>
      <ion-note item-start>{{order.details.length}} item</ion-note>
      <div item-end>
        Total Payment: <span class="price">{{order.orderAmt}}</span>
      </div>
    </ion-list-header>
    <ion-list-header>
      <ion-note item-start text-wrap>
        <small *ngIf="order.cancelledRequested == null">Products will be shipped out <br> by {{order.shippingDeadline | date: 'MM/dd/yyyy'}}</small>
        <small *ngIf="order.cancelledRequested != null  && ((order.isRejectCancelled == 1 && order.isWithdrawCancelled==0) || (order.isRejectCancelled == 0 && order.isWithdrawCancelled==1))">Products will be shipped out <br> by {{order.shippingDeadline | date: 'MM/dd/yyyy'}}</small>
        <small *ngIf="order.cancelledRequested != null && order.isRejectCancelled == 0 && order.isWithdrawCancelled ==0">You have requested to cancel<br>this order</small>
      </ion-note>
      <div item-end>
        <button ion-button color="danger" (click)="contactSeller($event)" *ngIf="order.cancelledRequested == null">Contact Seller</button>
        <button ion-button color="danger" (click)="contactSeller($event)" *ngIf="order.cancelledRequested != null  && ((order.isRejectCancelled == 1 && order.isWithdrawCancelled==0) || (order.isRejectCancelled == 0 && order.isWithdrawCancelled==1))">Contact Seller</button>
        <button ion-button color="danger" *ngIf="order.cancelledRequested != null && order.isRejectCancelled == 0 && order.isWithdrawCancelled ==0">Cancellation Details</button>
      </div>
    </ion-list-header>
  </ion-item-group>
</ion-list>
<div class="myCard" *ngIf="!showList">
  <div padding text-center>
    <img src="./assets/imgs/clipboard.svg" />
  </div>
  <ion-card-content>
    <p text-center>
      No orders yet
    </p>
  </ion-card-content>
</div>
