page-favorites {
  .toolbar-background-ios {
    background: #fff;
  }

  .richblue {
    background-color: color($colors, richblue);
  }

  .myCard {
    margin: 12px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #fff;
    display: block;
    overflow: hidden;
    padding-top: 5em;

    img {
      width: 5em;
    }
  }

  ion-item {
    h2 {
      font-size: 1.8rem !important;
      font-weight: bold !important;
    }
  }

  ion-card {
    border-radius: 6px !important;

    canvas {
      padding: 10px;
    }
  }
}
