<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Sell</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="myCard" *ngIf="!isSeller">
    <div padding text-center>
      <img src="./assets/imgs/recommended.svg" />
    </div>
    <ion-card-content>
      <p text-center>To sell some products and cool items <br> Apply as a seller <br>and get some awesome welcome vouchers</p>
      <br>
      <p text-center>
        <button ion-button block (click)="applyAsSeller()" [disabled]="isApplyAsSeller">Apply As Seller</button>
      </p>
    </ion-card-content>
  </div>
  <ion-list *ngIf="isSeller">
    <!-- <button ion-item>
      <ion-icon name="camera" item-start></ion-icon>
      <h2>Camera</h2>
      <p>Upload image with camera</p>
    </button>
    <button ion-item (click)="openAlbum()">
      <ion-icon name="images" item-start></ion-icon>
      <h2>Photos</h2>
      <p>Upload image from album gallery</p>
    </button> -->
    <button ion-item (click)="addProduct()">
      <ion-icon name="add" item-start></ion-icon>
      <h2>Add Product</h2>
      <p>Add product directly without image</p>
    </button>
  </ion-list>
</ion-content>
