<ion-list>
    <ion-item text-wrap color="segondaria">
      <ion-icon name="md-bus" item-start></ion-icon>
      <h2>{{params.courier_name}}</h2>
      <p><small>TRACKING NUMBER:</small></p>
      <p><small>{{params.orderTrackingNumber}}</small></p>
    </ion-item>
    <ion-list-header color="light">Logistic Tracking</ion-list-header>
    <ion-item *ngFor="let item of trackingArr" text-wrap>
      <ion-avatar item-start>
        <img
          src="./assets/imgs/status-info-receive.svg"
          *ngIf="item.tag == 'InfoReceived'"
        />
        <img
          src="./assets/imgs/status-in-transit.svg"
          *ngIf="item.tag == 'InTransit'"
        />
        <img
          src="./assets/imgs/status-out-for-delivery.svg"
          *ngIf="item.tag == 'OutForDelivery'"
        />
        <img
          src="./assets/imgs/status-attemptfail.svg"
          *ngIf="item.tag == 'FailedAttempt'"
        />
        <img
          src="./assets/imgs/status-delivered.svg"
          *ngIf="item.tag == 'Delivered'"
        />
        <img
          src="./assets/imgs/status-exception.svg"
          *ngIf="item.tag == 'Exception'"
        />
        <img
          src="./assets/imgs/status-expired.svg"
          *ngIf="item.tag == 'Expired'"
        />
        <img
          src="./assets/imgs/status-pending.svg"
          *ngIf="item.tag == 'Pending'"
        />
      </ion-avatar>
        <h2 class="typo-r14">{{item.message}}</h2>
        <p class="typo-m12">{{item.checkpoint_time}}</p>
    </ion-item>
  </ion-list>
