<ion-header no-border no-line>
  <ion-navbar color="shoppyprimary">
    <ion-title>
      Product Rating
    </ion-title>
    <ion-buttons end>
      <img [src]="product.image?.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <button ion-button block [ngClass]="{'button-default button-default-ios button-ios-light': actions != 'all','button-outline button-outline-ios button-outline-ios-danger': actions == 'all'}"
          (click)="filterRatings('all')">All
          <br>({{allCount}})</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button block [ngClass]="{'button-default button-default-ios button-ios-light': actions != 'comments','button-outline button-outline-ios button-outline-ios-danger': actions == 'comments'}"
          (click)="filterRatings('comments')">With
          Comments <br>({{withCommentCount}})</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button block [ngClass]="{'button-default button-default-ios button-ios-light': actions != 'photos','button-outline button-outline-ios button-outline-ios-danger': actions == 'photos'}"
          (click)="filterRatings('photos')">With
          Photos <br>({{withPhotoCount}})</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button block [ngClass]="{'button-default button-default-ios button-ios-light': actions != '5','button-outline button-outline-ios button-outline-ios-danger': actions == '5'}"
          (click)="filterRatings('5')">5 Star
          ({{fiveCount}})</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button block [ngClass]="{'button-default button-default-ios button-ios-light': actions != '4','button-outline button-outline-ios button-outline-ios-danger': actions == '4'}"
         (click)="filterRatings('4')">4 Star
          ({{fourCount}})</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button block [ngClass]="{'button-default button-default-ios button-ios-light': actions != '3','button-outline button-outline-ios button-outline-ios-danger': actions == '3'}"
        (click)="filterRatings('3')">3 Star
          ({{threeCount}})</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block [ngClass]="{'button-default button-default-ios button-ios-light': actions != '2','button-outline button-outline-ios button-outline-ios-danger': actions == '2'}"
        (click)="filterRatings('2')">2 Star
          ({{twoCount}})</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block [ngClass]="{'button-default button-default-ios button-ios-light': actions != '1','button-outline button-outline-ios button-outline-ios-danger': actions == '1'}"
        (click)="filterRatings('1')">1 Star
          ({{oneCount}})</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <div *ngFor="let item of ratingsArr" class="rating-border">
      <ion-item no-lines>
        <ion-avatar item-start>
          <img [src]="item.buyer?.user_img_path" onError="this.src='./assets/imgs/user.png'">
        </ion-avatar>
        <h2 class="typo-r14">{{item.buyer?.username}}</h2>
        <div class="product-rating">
          <rating [(ngModel)]="item.rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
            starIconName="star" nullable="false"></rating>
        </div>
        <ion-note class="typo-m12" item-end>{{item.ratedOn | date:'short'}}</ion-note>
      </ion-item>
      <ion-item no-lines text-wrap>
        <ion-avatar item-start></ion-avatar>
        <p class="typo-m12">{{item.comment}}</p>
      </ion-item>
      <ion-item no-lines text-wrap class="product_rating">
        <ion-avatar item-start></ion-avatar>
        <ion-item item-content class="productinfo">
          <ion-thumbnail item-start>
            <img [src]="item.image?.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
          </ion-thumbnail>
          <h2 class="typo-r14">{{item.productName}}</h2>
        </ion-item>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
