<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Make Payment</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      Total Payment
      <div item-end>
        <b ion-text color="primary">P {{total | number}}</b>
      </div>
    </ion-list-header>
    <div padding text-wrap>
    	Please fill in and confirm your email address. A confirmation email will be sent when your payment is confirmed.
    </div>
    <ion-item>
    	<ion-label>Email</ion-label>
    	<ion-input type="email" placeholder="Email address" [(ngModel)]="order.orderEmail"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <button ion-button full color="danger" (click)="next()">NEXT</button>
</ion-footer>