page-myprofile {
  ion-content {
    background-color: #efefef !important;
  }

  .header-image {
    height: 30vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
  }
  .main-content {
    margin-top: -20px;
    // margin-left: 10px;
    // margin-right: 10px;
    padding-top: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75); // background: #F5F5F5;
    position: relative !important;
  }
  .circular {
    width: 100px;
    height: 100px;
    position: inherit;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: solid white;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto; // margin-bottom: 50px;
  }
  .profile-description {
    font-size: 15px;
    color: #888;
  } // Following, Followers and all..
  .profile-numbers {
    p {
      color: #444;
      font-size: medium;
      margin-bottom: 3px;
    }
    span {
      font-weight: bold;
      font-size: 1.4rem;
      color: #34354c;
    }
  }

  .sub-purchases{
    h3{
      font-size: 1.2rem;
    }
  }

  .list-item-content {
    padding: 5px;
  }

  .list-item {
    color: #666666;
  }

  .post {
    color: #444;
  }

  .post-time {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 11px;
    color: #888;
  }

  .post-profile-image {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  .post-options {
    position: absolute;
    font-size: 16px;
    right: 5px;
    bottom: 5px;
    color: #888;
  }
}
