<ion-header transparent>
  <ion-navbar color="shoppyprimary">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewAccountSettings()">
        <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="viewCart()">
        <ion-badge id="cart-badge" *ngIf="cartCount > 0" color="dangers">{{cartCount}}</ion-badge>
        <ion-icon ios="ios-cart-outline" md="ios-cart-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="viewChat()">
        <ion-badge id="message-badge" *ngIf="unreadCount > 0" color="dangers">{{unreadCount}}</ion-badge>
        <ion-icon ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content parallax-header no-bounce>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="showProfile">
    <div class="header-image" [ngStyle]="{'background-image': 'url(' + (imageUrl || './assets/imgs/banner_def.jpg') +')'}"></div>
    <div class="main-content" text-wrap text-center>
      <div class="circular" [ngStyle]="{'background': 'url(' + (user.img_path || './assets/imgs/user.png') +')','background-repeat':'no-repeat','background-size':'cover'}"
        (click)="viewProfile()"></div>
      <h2 class="typo-r16">{{user.firstname}} {{user.lastname}}</h2>
      <ion-row class="profile-numbers">
        <ion-col col-6 (click)="viewMyFollower()">
          <p>Followers</p>
          <span>{{followerCount}}</span>
        </ion-col>
        <ion-col col-6 (click)="viewMyFollowing()">
          <p>Following</p>
          <span>{{followingCount}}</span>
        </ion-col>
      </ion-row>
      <ion-segment [(ngModel)]="mode" mode="md" color="dangers" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="buyer">
          Buyer
        </ion-segment-button>
        <ion-segment-button value="seller">
          Seller
        </ion-segment-button>
      </ion-segment>
      <ion-list>
        <div [ngSwitch]="mode">
          <button ion-item *ngSwitchCase="'buyer'" (click)="viewMyPurchases()">
            <ion-icon name="ios-list-box-outline" item-start color="dark"></ion-icon>
            <h2 class="typo-r14">My Purchases</h2>
            <div item-end ion-text color="segondaria">
              <small>View All</small>
            </div>
          </button>
          <ion-item detail-push class="sub-purchases" (click)="viewSalesPurchaseList('pay')" *ngSwitchCase="'buyer'">
            <h3>Orders Awaiting Payment</h3>
            <ion-badge item-end color="dangers">{{buyer_orderPayCount}}</ion-badge>
          </ion-item>
          <ion-item detail-push class="sub-purchases" (click)="viewSalesPurchaseList('ship')" *ngSwitchCase="'buyer'">
            <h3>Orders Awaiting Shipment</h3>
            <ion-badge item-end color="dangers">{{buyer_shippingCount}}</ion-badge>
          </ion-item>
          <ion-item detail-push class="sub-purchases" (click)="viewSalesPurchaseList('receive')" *ngSwitchCase="'buyer'">
            <h3>Orders Awaiting Confirmation</h3>
            <ion-badge item-end color="dangers">{{receivableCount}}</ion-badge>
          </ion-item>
          <button ion-item *ngSwitchCase="'buyer'" (click)="viewMyRating('buyer')">
            <ion-icon name="star-outline" item-start color="dark"></ion-icon>
            <h2 class="typo-r14">My Ratings</h2>
          </button>
          <button ion-item *ngSwitchCase="'buyer'" (click)="viewMyWallet()">
            <ion-icon name="ios-cash-outline" item-start color="dark"></ion-icon>
            <h2 class="typo-r14">My Wallet</h2>
          </button>
          <button ion-item *ngSwitchCase="'buyer'" (click)="viewMyVouchers()">
            <ion-icon name="ios-pricetag-outline" item-start color="dark"></ion-icon>
            <h2 class="typo-r14">My Vouchers</h2>
          </button>
          <button ion-item *ngSwitchCase="'buyer'" (click)="viewAccountSettings()">
            <ion-icon name="ios-contact-outline" item-start color="dark"></ion-icon>
            <h2 class="typo-r14">My Account</h2>
          </button>
          <div *ngIf="!isSeller">
            <ion-item color="secondary" *ngSwitchCase="'seller'">
              <div item-start item-wrap>
                <small>To sell some products and cool items <br> Apply as a seller <br>and get some awesome welcome
                  vouchers</small>
              </div>
              <div item-end padding-right>
                <button ion-button outline color="light" (click)="applyAsSeller()" [disabled]="isApplyAsSeller">Apply
                  Now</button>
              </div>
            </ion-item>
          </div>
          <div *ngIf="isSeller">
            <button ion-item *ngSwitchCase="'seller'" (click)="addProduct()">
              <ion-icon name="ios-add-circle-outline" item-start color="dark"></ion-icon>
              <h2 class="typo-r14">Add New Product</h2>
            </button>
            <button ion-item *ngSwitchCase="'seller'" (click)="viewMySales()">
              <ion-icon name="card" item-start color="dark"></ion-icon>
              <h2 class="typo-r14">My Sales</h2>
            </button>
            <ion-item detail-push class="sub-purchases" (click)="viewSalesPurchaseList('unpaid')" *ngSwitchCase="'seller'">
              <h3>Orders Awaiting Confirmation</h3>
              <ion-badge item-end color="dangers">{{seller_orderPayCount}}</ion-badge>
            </ion-item>
            <ion-item detail-push class="sub-purchases" (click)="viewSalesPurchaseList('ship')" *ngSwitchCase="'seller'">
              <h3>Orders Awaiting Shipment</h3>
              <ion-badge item-end color="dangers">{{acceptOrderCount}}</ion-badge>
            </ion-item>
            <ion-item detail-push class="sub-purchases" (click)="viewSalesPurchaseList('shipping')" *ngSwitchCase="'seller'">
              <h3>Orders Awaiting Delivery</h3>
              <ion-badge item-end color="dangers">{{seller_shippingCount}}</ion-badge>
            </ion-item>
            <button ion-item *ngSwitchCase="'seller'" (click)="viewShopProfile()">
              <ion-icon name="ios-home-outline" item-start color="dark"></ion-icon>
              <h2 class="typo-r14">View My Shop</h2>
            </button>
            <button ion-item *ngSwitchCase="'seller'" (click)="viewManageShop()">
              <ion-icon name="ios-build-outline" item-start color="dark"></ion-icon>
              <h2 class="typo-r14">Manage Shop</h2>
            </button>
            <button ion-item *ngSwitchCase="'seller'" (click)="viewMyIncome()">
              <ion-icon name="ios-cash-outline" item-start color="dark"></ion-icon>
              <h2 class="typo-r14">My Income</h2>
            </button>
            <button ion-item *ngSwitchCase="'seller'" (click)="viewMyShipping()">
              <ion-icon name="ios-plane-outline" item-start color="dark"></ion-icon>
              <h2 class="typo-r14">My Shipping</h2>
            </button>
            <button ion-item *ngSwitchCase="'seller'" (click)="viewMyRating('shop')">
              <ion-icon name="ios-star-outline" item-start color="dark"></ion-icon>
              <h2 class="typo-r14">Shop Ratings</h2>
            </button>
            <button ion-item *ngSwitchCase="'seller'">
              <ion-icon name="ios-stats-outline" item-start color="dark"></ion-icon>
              <h2 class="typo-r14">My Performance</h2>
            </button>
          </div>
          <button ion-item (click)="openHelp()">
            <ion-icon name="help-circle" item-start color="dangers"></ion-icon>
            <h2 class="typo-r14">Help Centre</h2>
          </button>
        </div>
      </ion-list>
    </div>
  </div>
  <ion-list *ngIf="!showProfile">
    <button ion-item (click)="openLogin()">
      <ion-icon name="ios-key-outline" item-start color="dark"></ion-icon>
      <h2 class="typo-r14">Login</h2>
    </button>
    <button ion-item (click)="openSignUp()">
      <ion-icon name="ios-person-add-outline" item-start color="dark"></ion-icon>
      <h2 class="typo-r14">Sign Up</h2>
    </button>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item (click)="openLogin()">
      <ion-icon name="ios-cart-outline" item-start color="dark"></ion-icon>
      <h2 class="typo-r14">My Purchases</h2>
    </button>
    <button ion-item (click)="openLogin()">
      <ion-icon name="heart-outline" item-start color="dark"></ion-icon>
      <h2 class="typo-r14">My Likes</h2>
    </button>
    <ion-item-divider color="light">&nbsp;</ion-item-divider>
    <button ion-item (click)="viewAbout()">
      <ion-icon name="ios-information-circle-outline" item-start color="dark"></ion-icon>
      <h2 class="typo-r14">About Us</h2>
    </button>
    <button ion-item>
      <ion-icon name="ios-document-outline" item-start color="dark"></ion-icon>
      <h2 class="typo-r14">Policies</h2>
    </button>
    <button ion-item (click)="openHelp()">
      <ion-icon name="ios-help-circle-outline" item-start color="dangers"></ion-icon>
      <h2 class="typo-r14">Help Centre</h2>
    </button>
  </ion-list>
</ion-content>
