page-search {
  .toolbar-background-ios {
    background: #fff;
  }

  ion-content {
    background-color: #e6e1e1 !important;
  }

  ion-item {
    h2 {
      font-size: 1.8rem !important;
      font-weight: bold !important;
    }
  }

  .segment-md-dark .segment-button.activated,
  .segment-md-dark .segment-button.segment-activated {
    border-color: color($colors,dangers) !important;
    color: color($colors,dangers) !important;
    opacity: 1;
  }

  .segment-ios-dark .segment-button.segment-activated {
    color: #fff;
    background-color: color($colors,dangers) !important;
  }

  ion-list-header {
    color: #4fdca3 !important;
    background-color: #fff !important;
  }

  .myCard {
    font-size: 1.4rem;
    background: #fff;
    min-height: 40px; // height: 205px;
    // width: 125px !important;
    height: 100%;
    width: 100%;
    padding: 5px;

    img {
      display: block;
      width: 100%;
    }

    .card-title {
      text-align: left;
      padding-top: 5px;
    }

    .price {
      color: #488aff !important;
      text-align: left;
      font-weight: 600;
      padding-top: 5px;
    }

    .rating {
      color: #488aff !important;
      text-align: right;
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .priceindicator ion-icon {
    font-size: 1.6rem !important;
    line-height: 2.4rem !important;
  }
}
