<ion-header>
  <ion-navbar color="shoppyprimary">
    <form (ngSubmit)="submitSearch($event)">
      <ion-searchbar #mySearchbar [ngModelOptions]="{standalone: true}" [(ngModel)]="myInput" (ionBlur)="checkBlur()" (ionFocus)="checkFocus()" (ionCancel)="onCancel()" showCancelButton="true"></ion-searchbar>
    </form>
    <ion-buttons end *ngIf="!showList">
      <button ion-button clear (click)="viewFilters()">
        <ion-icon ios="ios-funnel-outline" md="ios-funnel-outline"></ion-icon>
        &nbsp; Filter
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="mode" mode="md" (ionChange)="segmentChanged($event)" color="dark">
      <ion-segment-button value="popular">
        Best Match
      </ion-segment-button>
      <ion-segment-button value="latest">
        Latest
      </ion-segment-button>
      <ion-segment-button value="top">
        Top Orders
      </ion-segment-button>
      <ion-segment-button value="price" (ionSelect)="sortPrice()" class="priceindicator">
        Price
        <ion-icon name="md-arrow-dropup" *ngIf="!isLow"></ion-icon>
        <ion-icon name="md-arrow-dropdown" *ngIf="isLow"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!showList">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="showList">
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
    <ion-item tappable *ngIf="items && items.length > 0" text-center (click)="clearSearch()">
      <small>Clear Search History</small>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!showList">
    <!-- 
    ==================================================================
    ==================================================================
    ==================================================================
     -->
    <div *ngIf="!showSellerResult" center text-center padding-top>
      <h5 ion-text color="danger">Loading shops ...</h5>
      <ion-spinner name="dots" color="dangers"></ion-spinner>
    </div>
    <button ion-item *ngIf="showSellerResult && userSellerArr.length > 0" (click)="showMoreShops()">
      <ion-avatar item-start>
        <img src="../assets/imgs/user.png">
      </ion-avatar>
      <h3>More Shops...</h3>
      <small>
        See <span ion-text color="danger">{{userSellerArr.length}}</span> more...
      </small>
    </button>
    <!-- 
    ==================================================================
    ==================================================================
    ==================================================================
     -->
    <ion-list-header color="light" *ngIf="showProductResult && userSellerArr.length > 0"></ion-list-header>
    <div *ngIf="!showProductResult" center text-center padding-top>
      <h5 ion-text color="danger">Loading products ...</h5>
      <ion-spinner name="dots" color="dangers"></ion-spinner>
    </div>
    <ion-grid *ngIf="showProductResult && productsArr.length > 0">
      <ion-row>
        <ion-col col-6 *ngFor="let item of productsArr" (click)="gotoDetails(item)">
          <content-products [item]="item" [currency]="currency"></content-products>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngIf="showProductResult && productsArr.length < 1">
      <ion-icon name="ios-search" item-start></ion-icon>
      <h3>We coudn't find any products</h3>
    </ion-item>
  </ion-list>
</ion-content>
