<ion-header no-border no-line>
  <ion-navbar color="shoppyprimary">
    <ion-title>
      {{details.sellerName}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon ios="ios-more-outline" md="ios-more-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="header-image" [ngStyle]="{'background-image': 'url(' + (imageUrl) +')'}" *ngIf="!showLoading"></div>
  <skeleton-item height="200px" *ngIf="showLoading"></skeleton-item>
  <!--
  =======================================================
  =======================================================
  =======================================================
   -->
  <div class="main-content" text-wrap>
    <div *ngIf="!showLoading">
      <div class="circular" [ngStyle]="{'background': 'url(' + (details.img_path || './assets/imgs/user.png') +')'}"></div>
      <h2 text-center padding-top class="typo-r16">{{details.sellerName}}</h2>
      <div text-center *ngIf="showFollow && isLogin">
        <button ion-button *ngIf="!following && user" small color="danger" (click)="follow()">
          <ion-icon name="ios-add"></ion-icon>&nbsp;Follow
        </button>
        <button ion-button *ngIf="following && user" class="follow-button" outline small color="danger" (click)="unfollow()">
          Following &nbsp;
          <ion-icon name="checkmark"></ion-icon>
        </button>
        <ion-row class="profile-numbers" *ngIf="user">
          <ion-col col-6 (click)="viewMyFollower()">
            <p>Followers</p>
            <span>{{followerCount}}</span>
          </ion-col>
          <ion-col col-6 (click)="viewMyFollowing()">
            <p>Following</p>
            <span>{{followingCount}}</span>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div *ngIf="showLoading" style="padding-bottom: 50px">
      <skeleton-item class="circular" height="95px" width="95px" rounded></skeleton-item>
    </div>
    <hr>
    <div *ngIf="!showLoading" style="padding-top: 5px;">
      <ion-segment [(ngModel)]="mode" mode="md" color="danger">
        <ion-segment-button value="shop">
          Shop
        </ion-segment-button>
        <ion-segment-button value="all">
          All Products
        </ion-segment-button>
        <ion-segment-button value="categories">
          Categories
        </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="mode">
        <div *ngSwitchCase="'shop'">
          <ion-list class="shop-page-shop-tab">
            <ion-item no-lines>
              <ion-icon name="ios-albums-outline" item-start></ion-icon>
              <h2 class="typo-r14">Products</h2>
              <div item-end>
                <b ion-text color="dangers" class="typo-r14">{{details.productCount}}</b>
              </div>
            </ion-item>
            <ion-item no-lines>
              <ion-icon name="ios-person-outline" item-start></ion-icon>
              <h2 class="typo-r14">Joined</h2>
              <div item-end>
                <b ion-text color="dangers" class="typo-r14">{{details.sellerApprovalDate | relativeTime}}</b>
              </div>
            </ion-item>
            <ion-item no-lines>
              <ion-icon name="ios-time-outline" item-start></ion-icon>
              <h2 class="typo-r14">Preparation Time</h2>
              <div item-end>
                <b ion-text color="dangers" class="typo-r14">2-3 days</b>
              </div>
            </ion-item>
            <ion-item no-lines>
              <ion-icon name="ios-backspace-outline" item-start></ion-icon>
              <h2 class="typo-r14">Cancellation Rate</h2>
              <div item-end>
                <b ion-text color="dangers" class="typo-r14">0%</b>
              </div>
            </ion-item>
          </ion-list>
          <ion-list>
            <button ion-item (click)="showShopRating()">
              <ion-icon name="ios-star-outline" item-start></ion-icon>
              <p>Ratings ({{details.rating}} out of 5)</p>
              <ion-note item-end><small>(0 Ratings)</small></ion-note>
            </button>
          </ion-list>
          <ion-list *ngIf="sellerVouchersArr && sellerVouchersArr.length > 0">
            <div class="hairline-border-up srabI-"></div>
            <ion-slides class="stardust-horizontal-scroll-view" slidesPerView="2" spaceBetween="2">
              <ion-slide *ngFor="let item of sellerVouchersArr">
                <voucher-ticket [voucher]="item" [currency]="currency"></voucher-ticket>
              </ion-slide>
            </ion-slides>
          </ion-list>
          <ion-list>
            <ion-list-header text-left color="light">
              About Us
            </ion-list-header>
            <ion-card-content style="padding: 16px !important;">
              <p text-left text-wrap>{{details.sellerDescription}}</p>
            </ion-card-content>
            <ion-list>
              <ion-list-header text-left color="light">
                Shop Link
              </ion-list-header>
              <ion-item>
                <small class="shoplink"> www.shoppyapp.com/{{details.username}}</small>
              </ion-item>
              <ion-list-header text-left color="light">
                Verified Accounts
              </ion-list-header>
              <button ion-item class="typo-r14">
                <ion-icon name="logo-facebook" item-start color="facebook"></ion-icon>
                Facebook
              </button>
              <button ion-item class="typo-r14">
                <ion-icon name="md-mail" item-start color="secondary"></ion-icon>
                Email
              </button>
              <button ion-item class="typo-r14">
                <ion-icon name="md-phone-portrait" item-start color="richblue"></ion-icon>
                Phone
              </button>
            </ion-list>
          </ion-list>
        </div>
        <div *ngSwitchCase="'all'">
          <div padding>
            <ion-segment [(ngModel)]="action" color="danger" (ionChange)="segmentChanged($event)">
              <ion-segment-button value="popular">
                Popular
              </ion-segment-button>
              <ion-segment-button value="latest">
                Latest
              </ion-segment-button>
              <ion-segment-button value="top">
                Top Sales
              </ion-segment-button>
              <ion-segment-button value="price" (ionSelect)="sortPrice()" class="priceindicator">
                Price &nbsp;
                <ion-icon ios="md-arrow-dropup" md="md-arrow-dropup" *ngIf="!isLow"></ion-icon>
                <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown" *ngIf="isLow"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </div>
          <ion-grid *ngIf="productsArr && productsArr.length > 0" style="background-color: #efefef !important">
            <ion-row>
              <ion-col col-6 *ngFor="let item of productsArr" (click)="gotoDetails(item)">
                <content-products [item]="item" [currency]="currency"></content-products>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div class="myCard2" *ngIf="productsArr && productsArr.length < 1">
            <div padding text-center>
              <img src="./assets/imgs/box.svg " />
              <p>
                We couldn't find any listings.
              </p>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'categories'">
          <ion-list>
            <button ion-item *ngFor="let item of details.categories" (click)="viewCategories(item,'category')">
              <ion-thumbnail item-start>
                <img [src]="item.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
              </ion-thumbnail>
              <h2 class="typo-r14">{{item.name}}</h2>
              <p class="typo-l14">{{item.products?.length}}</p>
            </button>
          </ion-list>
        </div>
      </div>
    </div>
    <!--
      ==========================================================================================
      ==========================================================================================
      ==========================================================================================
     -->
    <div *ngIf="showLoading">
      <ion-row style="padding-top: 5px;">
        <ion-col col-4>
          <skeleton-item height="24px"></skeleton-item>
        </ion-col>
        <ion-col col-4>
          <skeleton-item height="24px"></skeleton-item>
        </ion-col>
        <ion-col col-4>
          <skeleton-item height="24px"></skeleton-item>
        </ion-col>
      </ion-row>
      <div class="contentbox">
        <ion-card-content style="padding: 0 !important;">
          <ion-row text-left>
            <ion-col class="keyColumn">
              <skeleton-item height="14px" width="67%"></skeleton-item>
            </ion-col>
            <ion-col class="valueColumn">
              <skeleton-item height="14px" width="47%"></skeleton-item>
            </ion-col>
          </ion-row>
          <ion-row text-left>
            <ion-col class="keyColumn">
              <skeleton-item height="14px" width="67%"></skeleton-item>
            </ion-col>
            <ion-col class="valueColumn">
              <skeleton-item height="14px" width="47%"></skeleton-item>
            </ion-col>
          </ion-row>
          <ion-row text-left>
            <ion-col class="keyColumn">
              <skeleton-item height="14px" width="67%"></skeleton-item>
            </ion-col>
            <ion-col class="valueColumn">
              <skeleton-item height="14px" width="47%"></skeleton-item>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </div>
      <ion-list>
        <ion-item detail-push>
          <skeleton-item height="24px" width="67%"></skeleton-item>
          <div item-end>
            <skeleton-item height="14px" width="37%"></skeleton-item>
          </div>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header text-left color="light">&nbsp;</ion-list-header>
        <ion-card-content style="padding: 16px !important; height: 150px">
          <skeleton-item height="14px"></skeleton-item>
          <skeleton-item height="14px"></skeleton-item>
          <skeleton-item width="67%"></skeleton-item>
          <skeleton-item height="14px" style="margin-top: 12px"></skeleton-item>
          <skeleton-item width="67%"></skeleton-item>
        </ion-card-content>
        <ion-list>
          <ion-list-header text-left color="light">&nbsp;</ion-list-header>
          <ion-item>
            <skeleton-item height="14px" style="margin-bottom: 12px"></skeleton-item>
          </ion-item>
          <ion-list-header text-left color="light">
            <skeleton-item height="24px" width="67%"></skeleton-item>
          </ion-list-header>
          <ion-item detail-push>
            <skeleton-item height="14px" width="67%"></skeleton-item>
          </ion-item>
          <ion-item detail-push>
            <skeleton-item height="14px" width="67%"></skeleton-item>
          </ion-item>
          <ion-item detail-push>
            <skeleton-item height="14px" width="67%"></skeleton-item>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>
  </div>
  <ion-fab right bottom *ngIf="!showLoading && isLogin && showChat">
    <button ion-fab color="dangers">
      <ion-icon name="ios-chatbubbles-outline"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
