page-shopprofile {
  $bg-color: #eee;
  $main-color: #fff;

  ion-content {
    background-color: #efefef !important
  }

  .header-image {
    height: 30vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
  }

  .main-content {
    margin-top: -60px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75); // background: #F5F5F5;
    position: relative !important;

    // h2 {
    //   margin-top: 1.8rem;
    //   font-size: 2.4rem;
    //   padding-top: 1rem;
    //   padding-left: 2rem;
    // }
  }

  .circular {
    width: 100px;
    height: 100px;
    position: inherit;
    border-radius: 50%;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border: solid white;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-top: -50px;
    margin-bottom: 50px;
    z-index: 1;
    position: absolute;
    margin-left: 10px;
  }

  .profile-description {
    font-size: 15px;
    color: #888;
  }

  .shop-page-shop-tab {
    ion-icon {
      font-size: 2.5rem;
    }
  }

  .priceindicator ion-icon {
    font-size: 1.6rem !important;
    line-height: 2.4rem !important;
  }

  .profile-numbers {
    p {
      color: #444;
      font-size: medium;
      margin-bottom: 3px;
    }

    span {
      font-weight: bold;
      font-size: 1.4rem;
      color: #34354c;
    }
  }

  .follow-button {
    text-transform: none;
    border-radius: 3px !important;

    ion-icon {
      font-weight: bold;
      padding-left: 5px;
      font-size: 2.5rem;
    }
  }

  .list-item-content {
    padding: 5px;
  }

  .list-item {
    color: #666666;
  }

  .post {
    color: #444;
  }

  .post-time {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 11px;
    color: #888;
  }

  .post-profile-image {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  .post-options {
    position: absolute;
    font-size: 16px;
    right: 5px;
    bottom: 5px;
    color: #888;
  }

  .keyColumn {
    font-weight: 600;

    ion-icon {
      margin-right: 5px;
    }
  }

  .valueColumn,
  .shoplink {
    color: #f53d3d;
  }

  .contentbox {
    height: auto;
    overflow: hidden;
    padding: 16px;
  }

  .price {
    color: #488aff !important;
    text-align: left;
    font-weight: 600;
    padding-top: 5px;
  }

  .ratings {
    color: color($colors, danger) !important;
    text-align: left;
    font-weight: 500;
    font-size: 1rem;
  }

  .product-rating {
    ul.rating {
      padding: 0px;
      margin: 5px;

      &.rating li {
        background: none;
        color: color($colors, dangers);
        padding: 5px 5px;

        ion-icon {
          font-size: 1.5rem;
        }
      }
    }
  }

  .myCard2 {
    margin: 12px;
    width: calc(100% - 24px);
    font-size: 1.4rem; // background: #fff;
    display: block;
    overflow: hidden;
    padding-top: 5em;

    img {
      width: 5em;
    }
  }
}
