<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Phone Number/ Email</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p>
    Please enter your registered email address or phone number
  </p>
  <ion-list class="form">
    <ion-item>
      <ion-input type="text" placeholder="Email/Phone No." [(ngModel)]="item.email"></ion-input>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0" text-wrap>
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'email'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
  </ion-list>
   <button ion-button full (click)="continue()">Continue</button>
</ion-content>
