<ion-list class="form">
  <ion-item-divider color="light" text-wrap>
    <small>Please enter the Tracking Number for this Order</small>
  </ion-item-divider>
  <ion-item>
    <ion-label>Tracking Number</ion-label>
    <ion-input type="text" placeholder="Tracking Number" [(ngModel)]="order.orderTrackingNumber"></ion-input>
  </ion-item>
</ion-list>
