<ion-list *ngIf="showContent">
  <ion-item-sliding *ngFor="let item of params">
    <ion-item tappable (click)="viewDetails(item)" [ngClass]="{'unread': (item.isRead == 0)}">
      <ion-avatar item-start>
        <img [src]="item.user_img_path" onError="this.src='./assets/imgs/user.png'">
        </ion-avatar>
        <h3 [innerHtml]="item.content"></h3>
        <small>
        {{item.datetime | date: 'short'}}
      </small>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger" (click)="deleteUserNotification(item.notificationId)">
        <ion-icon name="ios-trash-outline"></ion-icon>
        Delete
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<ion-list *ngIf="!showContent">
  <ion-item tappable *ngFor="let item of fakeArr">
    <ion-avatar item-start>
      <skeleton-item height="50px" width="50px" rounded></skeleton-item>
    </ion-avatar>
    <skeleton-item></skeleton-item>
    <skeleton-item height="8px" width="67%"></skeleton-item>
  </ion-item>
</ion-list>
