page-productcomment {
  $userBackgroundColor: #387ef5;

  .toolbar-background-ios {
    background: #fff;
  }

  ion-navbar {
    .bar-buttons[end] {
      img {
        width: 42px;
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
      }
    }
  }

  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    height: 255px;
  }

  .input-wrap {
    padding: 0 5px;

    ion-textarea {
      position: static;
    }

    ion-col.col {
      padding: 0;
    }

    button {
      width: 100%;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }

    textarea {
      border-bottom: 1px $userBackgroundColor;
      border-style: solid;
    }
  }


  .myCard {
    margin: 12px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #fff;
    display: block;
    overflow: hidden;
    padding-top: 5em;

    img {
      width: 5em;
    }
  }
}
