<ion-header no-border no-line>
  <ion-navbar color="shoppyprimary">
    <ion-title>
      Comments
    </ion-title>
    <ion-buttons end>
      <img [src]="product.image?.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="myCard" *ngIf="commentsArr.length < 1">
    <div padding text-center>
      <img src="./assets/imgs/chat.svg" />
    </div>
    <ion-card-content>
      <p text-center>
        Be the first one to leave a comment
      </p>
    </ion-card-content>
  </div>
  <div *ngIf="commentsArr.length > 0">
    <ion-card *ngFor="let item of commentsArr">
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/imgs/user.png">
        </ion-avatar>
        <h2>Marty McFly</h2>
        <p>November 5, 1955</p>
        <ion-note item-end>
          11h ago
        </ion-note>
      </ion-item>
      <ion-card-content>
        <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <ion-grid class="input-wrap">
    <ion-row>
      <ion-col col-2>
        <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
          <ion-icon name="md-happy"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8>
        <ion-textarea #chat_input placeholder="Text Input" [(ngModel)]="editorMsg" (keyup.enter)="sendMsg()" (ionFocus)="onFocus()" [disabled]="true">
        </ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only item-right (click)="sendMsg()" [disabled]="true">
          <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <emoji-picker *ngIf="showEmojiPicker" name="fieldEmoji" ngDefaultControl [(ngModel)]="editorMsg" [disabled]="true"></emoji-picker>
</ion-footer>
