<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Shop Shipping Settings</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="saveShipping()">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item (click)="viewMyAddressess()">
    	<h2><b>Pickup Address</b></h2>
    	<small>
    		{{address.detailAddress}}<br>
    		{{address.suburb}}{{address.city}} <br>
    		{{address.state}} {{address.zipcode}} , {{address.country}} 
    	</small>
    </button>
    <ion-item-divider color="light">
      <small text-wrap>Please select the shipping options that you would like to have for your shop</small>
    </ion-item-divider>
    <ion-item *ngFor="let item of shippingArr">
      <ion-label>{{item.name}}</ion-label>
      <ion-checkbox color="primary" [(ngModel)]="item.selected" (ionChange)="selected(item)"></ion-checkbox>
      <button ion-button item-end icon-only clear>
      	<ion-icon name="ios-information-circle-outline" item-end></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
