page-mylikes {
  ion-content {
    background-color: #efefef !important;
  }

  .myCard2 {
    margin: 12px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    display: block;
    overflow: hidden;
    padding-top: 5em;
    img {
      width: 5em;
    }
  }

  .myCard {
    font-size: 1.4rem;
    background: #fff;
    height: 100%;
    width: 100%;
    padding: 5px;

    img {
      display: block;
      width: 100%;
    }
    .card-title {
      text-align: left;
      padding-top: 5px;
    }
    .price {
      color: #488aff !important;
      text-align: left;
      font-weight: 600;
      padding-top: 5px;
    }

    .rating {
      color: #488aff !important;
      text-align: right;
      font-weight: 500;
      font-size: 1rem
    }
  }

  .typo-r12 {
    font-family: -apple-system, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
    font-weight: 400;
    font-size: .75rem;
  }

  .typo-r10 {
    font-family: -apple-system, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
    font-weight: 400;
    font-size: .625rem;
  }

  .typo-l14 {
    font-family: -apple-system, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
  }

  .item-card {
    .item-card__info {
      padding: 1rem 1rem;
    }

    .item-card__name--two-lines {
      height: 3rem;
    }

    .item-card__price-shipping {
      margin-bottom: 1.375rem;
    }

    .rating-stars {
      // font-size: 1.2rem;
      font-weight: 500;

      ._3s9Tb9 {
        margin-left: .125rem;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
      }

      ul.rating {
        padding: 0px;

        &.rating li {
          padding: 5px 0px !important;
          background: none;
          color: color($colors, danger);

          ion-icon {
            font-size: .75rem;
          }
        }
      }
    }
  }
}
