<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>My Likes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewCart()" [disabled]="!showContent">
        <ion-badge id="cart-badge" *ngIf="cartCount > 0" color="danger">{{cartCount}}</ion-badge>
        <ion-icon ios="ios-cart-outline" md="ios-cart-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="viewChat()" [disabled]="!showContent">
        <ion-badge id="message-badge" *ngIf="unreadCount > 0" color="danger">{{unreadCount}}</ion-badge>
        <ion-icon ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="mapTabEnabled">
    <ion-row *ngIf="showContent">
      <ion-col col-6 *ngFor="let item of userLikesArr" (click)="gotoDetails(item)" (press)="presentActionSheet(item)">
        <content-products [item]="item" [currency]="currency"></content-products>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!showContent">
      <ion-col col-6 *ngFor="let item of fakeArr">
        <a class="item-card hairline-border">
          <div>
            <skeleton-item height="150px" no-animated></skeleton-item>
            <div padding>
              <skeleton-item height="14px"></skeleton-item>
              <skeleton-item height="12px"></skeleton-item>
              <skeleton-item width="67%"></skeleton-item>
            </div>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="myCard2" *ngIf="!mapTabEnabled">
    <div padding text-center><img src="./assets/imgs/heart.svg" /></div>
    <ion-card-content>
      <p text-center>
        <button ion-button block round color="dangers" (click)="openLogin()">Login</button>
        <button ion-button block clear color="dark" (click)="openSignUp()">Sign Up</button>
      </p>
    </ion-card-content>
  </div>
</ion-content>
