<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="delete()" *ngIf="mode =='view' && action == 'bank_cards_entry'">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="create()" *ngIf="action == 'discount_promotions_products'">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="delete()" *ngIf="action == 'discount_promotions_products' || 'seller_vouchers'">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <!--
  ==========================================================================================
                              SHIPMENT ALREADY PICKUP
  ==========================================================================================
   -->
  <pickup-shipment *ngIf="action == 'shipment'" [order]="order"></pickup-shipment>
  <!--
  ==========================================================================================
                                ARRANGE SHIPMENT
  ==========================================================================================
   -->
  <arrange-shipment *ngIf="action == 'shipping'" [order]="order" [create]="createNotification"></arrange-shipment>
  <!--
  ==========================================================================================
                                  CANCEL ENTRY
  ==========================================================================================
   -->
  <cancel-order-entry *ngIf="action == 'cancel'" [order]="order" [reasonArr]="reasonArr" [create]="createNotification"></cancel-order-entry>
  <!--
  ==========================================================================================
                                  CANCEL ORDER DETAILS
  ==========================================================================================
   -->
  <view-cancel-order *ngIf="action == 'cancel_view'" [order]="order" [usertype]="usertype"></view-cancel-order>
  <!--
  ==========================================================================================
                            RETURN ENTRY
  ==========================================================================================
   -->
  <return-order-entry *ngIf="action == 'return'" [order]="order" [returnArr]="returnArr"></return-order-entry>
  <!--
  ==========================================================================================
                            RETURN/REFUND DETAILS
  ==========================================================================================
  -->
  <return-refund-details *ngIf="action == 'return_refund'" [usertype]="usertype" [order]="order"></return-refund-details>
  <!--
  ==========================================================================================
                                  RETURN ORDER SHIPMENT
  ==========================================================================================
   -->
  <return-order-shipment *ngIf="action == 'return_shipment'" [order]="order"></return-order-shipment>
  <!--
  ==========================================================================================
                            RETURN ORDER SHIPMENT DETAILS
  ==========================================================================================
  -->
  <return-shipment-view *ngIf="action == 'return_shipment_view'" [return]="return"></return-shipment-view>
  <!--
  ==========================================================================================
                                  SHIPPING OPTIONS
  ==========================================================================================
   -->
  <return-shipment-shipping *ngIf="action == 'return_shipment_shipping'"></return-shipment-shipping>
  <!--
  ==========================================================================================
                            MY ADDRESS ENTRY
  ==========================================================================================
   -->
  <page-myaddress-entry *ngIf="action == 'my_address_entry'" [create]="createNotification"></page-myaddress-entry>
  <!--
  ==========================================================================================
                              DISCOUNT PROMOTIONS
  ==========================================================================================
   -->
  <discount-promotions *ngIf="action == 'discount_promotions'" [create]="createNotification"></discount-promotions>
  <!--
  ==========================================================================================
                              SELLER TOP PICKS
  ==========================================================================================
   -->
  <seller-toppicks *ngIf="action == 'seller_toppicks'" [create]="createNotification" [delete]="deleteNotification"></seller-toppicks>
  <!--
  ==========================================================================================
                              SELLER VOUCHERS
  ==========================================================================================
   -->
  <seller-vouchers *ngIf="action == 'seller_vouchers'" [create]="createNotification"></seller-vouchers>
  <!--
  ==========================================================================================
                                BANK CARDS ENTRY
  ==========================================================================================
   -->
  <page-mybankcards-entry *ngIf="action == 'bank_cards_entry'" [mode]="mode" [create]="createNotification" [delete]="deleteNotification"></page-mybankcards-entry>
  <!--
  ==========================================================================================

  ==========================================================================================
   -->
  <content-discount-promotions-products *ngIf="action == 'discount_promotions_products'" [refresh]="refreshNotification"
    [create]="createNotification" [save]="saveEntryNotification" [delete]="deleteNotification" [update]="updateNotification"></content-discount-promotions-products>
  <!--
  ==========================================================================================

  ==========================================================================================
   -->
</ion-content>
<ion-footer>
  <div *ngIf="action == 'discount_promotions_products'">
    <ion-toolbar>
      <ion-row padding-left>
        <ion-col col-7>
          <ion-label>Batch Discount</ion-label>
        </ion-col>
        <ion-col col-5>
          <ion-item no-lines text-center>
            <ion-input class="typo-r14 form-control" type="number" placeholder="0% OFF" text-center [(ngModel)]="discount.discount"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row padding-left>
        <ion-col col-7>
          <ion-label class="typo-r14">Batch Purchase Limit</ion-label>
        </ion-col>
        <ion-col col-5>
          <ion-item no-lines text-center>
            <ion-input class="typo-r14 form-control" type="number" placeholder="0" text-center [(ngModel)]="discount.purchase_limit"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-toolbar>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button clear color="dangers" (click)="create()" [disabled]="discount.isExpired" class="typo-r14">
          Add Product
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button clear color="dangers" (click)="update()" [disabled]="discount.isExpired" class="typo-r14">
          Update Products
        </button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <ion-toolbar color="danger">
    <button ion-button full color="danger" (click)="saveEntry()" [disabled]="action == 'discount_promotions_products' && discount.isExpired">
      {{buttonTitle}}
    </button>
  </ion-toolbar>
</ion-footer>
