page-searchresult {
  .toolbar-background-ios {
    background: #fff;
  }

  ion-content {
    background-color: #f3f3f3 !important;
  }

  ion-list-header {
    background-color: #fff !important;
  }

  ion-slides {
    background-color: #fff !important;
  }

  ion-segment {
    background-color: #fff !important;
  }

  .banners {
    ion-slides {
      height: 120px;
    }
  }

  .categories {
    ion-slides {
      small {
        font-size: 1rem;
      }
    }
  }


  .segment-md-dark .segment-button.activated,
  .segment-md-dark .segment-button.segment-activated {
    border-color: color($colors, dangers) !important;
    color: color($colors, dangers) !important;
    opacity: 1;
  }

  .segment-ios-dark .segment-button.segment-activated {
    color: #fff;
    background-color: color($colors, dangers) !important;
  }

  /* .searchbar-input {
    color: color($colors, danger) !important;
  } */

  .slick-slider {
    background-color: #fff !important;
  }

  .slick-slide {
    opacity: 0.6;
    padding-left: 5px;
    padding-right: 5px;
  }

  .slick-current {
    opacity: 1 !important;
  }

  .slick-dots li button:before {
    font-size: 50px !important;
  }

  .slick-list {
    padding: 0px !important;
  }

  .shops {
    border: 1px solid #c8c7cc;
    padding: 6px;
    height: 5em;
    margin: 3px;

    img {
      position: relative;
      top: 0;
      bottom: 0;
      margin: 0 auto;
      max-height: 100%;
    }
  }

  .priceindicator ion-icon {
    font-size: 1.6rem !important;
    line-height: 2.4rem !important;
  }

  .categories {
    p {
      margin: 0;
    }
  }

  .list-ios {
    margin: -1px 0 10px !important;
  }

  .products {
    .myCard {
      font-size: 1.4rem;
      background: #fff;
      min-height: 40px; // height: 205px;
      // width: 125px !important;
      height: 100%;
      width: 100%;
      padding: 5px;

      img {
        display: block;
        width: 100%;
      }

      .card-title {
        text-align: left;
        padding-top: 5px;
      }

      .price {
        color: #488aff !important;
        text-align: left;
        font-weight: 600;
        padding-top: 5px;
      }

      .likes {
        text-align: left;
        font-size: 1rem;
        font-weight: 500;
        display: inline-block;
      }

      .ratings {
        text-align: right;
        font-size: 1rem;
        font-weight: 500;

        ul.rating {
          padding: 0px;

          &.rating li {
            padding: 5px 0px !important;
            background: none;
            color: #488aff;

            ion-icon {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .myCard2 {
      margin: 12px;
      width: calc(100% - 24px);
      font-size: 1.4rem;
      // background: #fff;
      display: block;
      overflow: hidden;
      padding-top: 5em;

      img {
        width: 5em;
      }
    }
  }
}
