<ion-header>
  <ion-navbar color="shoppyprimary">
    <form (ngSubmit)="submitSearch($event)">
      <ion-searchbar #mySearchbar id="mySearchbar" [ngModelOptions]="{standalone: true}" [(ngModel)]="myInput" (ionFocus)="checkFocus()" [disabled]="true"></ion-searchbar>
    </form>
    <ion-buttons end>
      <button ion-button clear (click)="viewFilters()">
        <ion-icon ios="ios-funnel-outline" md="ios-funnel-outline"></ion-icon>
        &nbsp; Filter
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="action !='shops'">
    <ion-segment [(ngModel)]="mode" mode="md" (ionChange)="segmentChanged($event)" color="dark">
      <ion-segment-button value="popular">
        Best Match
      </ion-segment-button>
      <ion-segment-button value="latest">
        Latest
      </ion-segment-button>
      <ion-segment-button value="top">
        Top Orders
      </ion-segment-button>
      <ion-segment-button value="price" (ionSelect)="sortPrice()" class="priceindicator">
        Price
        <ion-icon name="md-arrow-dropup" *ngIf="!isLow"></ion-icon>
        <ion-icon name="md-arrow-dropdown" *ngIf="isLow"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- 
  ============================================================================
  ============================================================================
  ============================================================================
   -->
  <div *ngIf="action =='shops'">
    <div *ngIf="!showSellerResult" center text-center padding-top>
      <p ion-text color="danger">Loading shops ...</p>
      <ion-spinner name="dots" color="danger"></ion-spinner>
    </div>
    <ion-list *ngIf="showSellerResult">
      <ion-item *ngFor="let item of userSellerArr" (click)="viewShop(item)">
        <ion-avatar item-start>
          <img [src]="item.img_public_path" onError="this.src='../assets/imgs/user.png'">
        </ion-avatar>
          <h3>{{item.sellerName}}</h3>
          <small>
          <ion-note>{{item.username}}</ion-note>
        </small>
      </ion-item>
    </ion-list>
  </div>
  <!-- 
  ============================================================================
  ============================================================================
  ============================================================================
   -->
  <div *ngIf="action =='brands' || action =='category' || action == 'subcategory'">
    <div *ngIf="action != 'subcategory' && action != 'brands'">
      <div *ngIf="showBanners" class="banners">
        <ion-slides pager loop="true" autoplay="3000">
          <ion-slide *ngFor="let item of bannersArr">
            <img [src]="item.img_path" onError="this.src='./assets/imgs/banner_def.png'">
          </ion-slide>
        </ion-slides>
      </div>
      <div *ngIf="!showBanners" padding center text-center>
        <p ion-text color="danger">Loading banners ...</p>
        <ion-spinner name="dots" color="danger"></ion-spinner>
      </div>
      <ion-list *ngIf="showCategory">
        <ion-list-header *ngIf="categoriesArr && categoriesArr.length > 0">
          <b ion-text color="danger">Categories</b>
        </ion-list-header>
        <div class="categories" *ngIf="categoriesArr && categoriesArr.length > 0">
          <ion-slides slidesPerView="3" spaceBetween="5">
            <ion-slide *ngFor="let item of categoriesArr" (click)="viewSubCategory(item)">
              <img [src]="item.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
              <p style="font-weight: 500">
                <small>{{item.name | uppercase}}</small>
              </p>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-list>
      <div *ngIf="!showCategory" center text-center>
        <p ion-text color="danger">Loading categories ...</p>
        <ion-spinner name="dots" color="danger"></ion-spinner>
      </div>
    </div>
    <div *ngIf="!showProductResult" center text-center padding-top>
      <p ion-text color="danger">Loading products ...</p>
      <ion-spinner name="dots" color="danger"></ion-spinner>
    </div>
    <div class="products" *ngIf="showProductResult">
      <ion-grid *ngIf="productsArr && productsArr.length > 0">
        <ion-row>
          <ion-col col-6 *ngFor="let item of productsArr" (click)="gotoDetails(item)">
            <content-products [item]="item" [currency]="currency"></content-products>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="myCard2" *ngIf="productsArr && productsArr.length < 1">
        <div padding text-center>
          <img src="./assets/imgs/box.svg " />
          <p>
            We couldn't find any listings.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- 
  ============================================================================
  ============================================================================
  ============================================================================
   -->
</ion-content>
