page-help-centre {
  .toolbar-background-ios {
    background: #fff;
  }

  #newsframe {
    //set the height to 100% of the viewport less the height of the header
    height: calc(100vh - 60px); //set the width to 100% of the viewport width
    width: 100vw; //remove border, padding, margin
    border: none;
    padding: 0;
    margin: 0;
  }
}
