<ion-header>
  <ion-navbar hideBackButton="true" color="shoppyprimary">
    <ion-title>Help Centre</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="ios-close-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- <div [innerHtml]="helpcenter"></div> -->
  <iframe id="newsframe" [src]="urlpaste()"></iframe>
</ion-content>
