<ion-header>
  <div *ngIf="modalIsInset">
    <ion-navbar color="shoppyprimary">
      <ion-buttons start>
        <img class="img-bordered" [src]="image.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
      </ion-buttons>
      <ion-title *ngIf="action !== 'product-wholesale-modal' && action !== 'product-shipping-modal'">
        <small ion-text color="dangers">{{priceTitle}}</small>
        <br>
        <small>Stock: {{stockCount}}</small>
      </ion-title>
      <ion-title *ngIf="action == 'product-wholesale-modal'">Wholesale Price</ion-title>
      <ion-title *ngIf="action == 'product-shipping-modal'">Shipping Fee Information</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()" color="dangers">
          <ion-icon name='md-close'></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
    <!--
    ============================================================================================================
    ============================================================================================================
    ============================================================================================================
     -->
    <ion-toolbar *ngIf="action == 'product_vouchers_modal'">
      <p text-wrap text-center class="typo-r12" padding-left padding-right>Save more by applying these Shop Vouchers to
        the items in your shopping cart.</p>
    </ion-toolbar>
  </div>
  <div *ngIf="!modalIsInset">
    <ion-navbar color="shoppyprimary">
      <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon name='md-close'></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>{{title}}</ion-title>
    </ion-navbar>
    <ion-toolbar *ngIf="action == 'product_picker_modal'">
      <ion-searchbar (input)="getItems($event)" (ionClear)="onClear()"></ion-searchbar>
      <ion-segment [(ngModel)]="searchMode" mode="md" (ionChange)="segmentChanged($event)" color="dark">
        <ion-segment-button value="popular">
          Best Match
        </ion-segment-button>
        <ion-segment-button value="latest">
          Latest
        </ion-segment-button>
        <ion-segment-button value="top">
          Top Orders
        </ion-segment-button>
        <ion-segment-button value="price" (ionSelect)="sortPrice()" class="priceindicator">
          Price
          <ion-icon name="md-arrow-dropup" *ngIf="!isLow"></ion-icon>
          <ion-icon name="md-arrow-dropdown" *ngIf="isLow"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <products-picker-modal *ngIf="action == 'product_picker_modal'" [discount]="details" [isLow]="isLow" [searchMode]="searchMode"
    [create]="createNotification" [_sortPrice]="sortPriceNotification" [_segmentChanged]="segmentChangedNotification"
    [_getItems]="getItemsNotification" [_onClear]="clearItemsNotification"></products-picker-modal>
  <!--
    ============================================================================================================
    ============================================================================================================
    ============================================================================================================
     -->
  <make-offer-modal *ngIf="action == 'make_offer_modal'"></make-offer-modal>
  <!--
    ============================================================================================================
    ============================================================================================================
    ============================================================================================================
     -->
  <page-variants-modal *ngIf="action == 'product_variants_modal'"></page-variants-modal>
  <!--
    ============================================================================================================
    ============================================================================================================
    ============================================================================================================
     -->
  <page-vouchers-modal *ngIf="action == 'product_vouchers_modal'"></page-vouchers-modal>
  <!--
    ============================================================================================================
    ============================================================================================================
    ============================================================================================================
     -->
  <product-wholesale-modal *ngIf="action == 'product-wholesale-modal'" [currency]="currency" [wholesaleArr]="wholesale"></product-wholesale-modal>
  <!--
    ============================================================================================================
    ============================================================================================================
    ============================================================================================================
     -->
  <product-shipping-modal *ngIf="action == 'product-shipping-modal'" [currency]="currency" [shippingFeeArr]="shippingFee"></product-shipping-modal>
  <!--
    ============================================================================================================
    ============================================================================================================
     -->
</ion-content>
<div *ngIf="modalIsInset">
  <div *ngIf="action == 'make_offer_modal'">
    <ion-footer *ngIf="enableBuying">
      <ion-row padding-left padding-right>
        <ion-col col-7>
          <ion-label><b>Quantity</b></ion-label>
        </ion-col>
        <ion-col col-5>
          <ion-item no-lines text-center>
            <ion-icon name="md-remove" item-start color="dangers" (click)="lessQuantity()"></ion-icon>
            <ion-input type="number" value="1" placeholder="1" text-center [(ngModel)]="details.quantity" [disabled]="!hasSelected"></ion-input>
            <ion-icon name="md-add" item-end color="dangers" (click)="addQuantity()"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row padding-left padding-right>
        <ion-col col-7>
          <ion-label><b>Price (Original {{currency.symbol_native}} {{details.price}})</b></ion-label>
        </ion-col>
        <ion-col col-5>
          <ion-item no-lines text-center>
            <ion-input type="number" [placeholder]="details.price" text-center [(ngModel)]="details.offerPrice"
              [disabled]="!hasSelected"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button full color="dangers" (click)="makeOffer()">Make Offer</button>
      </ion-row>
    </ion-footer>
  </div>
  <div *ngIf="action == 'product_variants_modal'">
    <ion-footer *ngIf="enableBuying">
      <ion-row padding-left padding-right>
        <ion-col col-7>
          <ion-label><b>Quantity</b></ion-label>
        </ion-col>
        <ion-col col-5>
          <ion-item no-lines text-center>
            <ion-icon name="md-remove" item-start color="dangers" (click)="lessQuantity()"></ion-icon>
            <ion-input type="number" value="1" placeholder="1" text-center [(ngModel)]="details.quantity" [disabled]="!hasSelected"></ion-input>
            <ion-icon name="md-add" item-end color="dangers" (click)="addQuantity()"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button full color="dangers" (click)="addToCart()">ADD TO CART</button>
      </ion-row>
    </ion-footer>
  </div>
  <div *ngIf="action == 'product_vouchers_modal'">
    <ion-footer>
      <ion-toolbar color="dangers">
        <button ion-button full color="dangers" (click)="close()">Close</button>
      </ion-toolbar>
    </ion-footer>
  </div>
  <div *ngIf="action == 'product-wholesale-modal' || action == 'product-shipping-modal'">
    <ion-footer>
      <ion-toolbar color="dangers">
        <button ion-button full color="dangers" (click)="close()">OK</button>
      </ion-toolbar>
    </ion-footer>
  </div>
</div>
<div *ngIf="!modalIsInset">
  <div *ngIf="action == 'product_picker_modal'">
    <ion-footer>
      <ion-row>
        <ion-col>
          <button ion-button full color="light" (click)="dismiss()">Cancel</button>
        </ion-col>
        <ion-col>
          <button ion-button full color="dangers" (click)="confirm()">Confirm</button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </div>
</div>
