<ion-list class="form">
  <ion-item-divider color="light">
    Promotion Details
  </ion-item-divider>
  <ion-item>
    <ion-label stacked>Promotion Name</ion-label>
    <ion-input type="text" [(ngModel)]="discount.promo_name"></ion-input>
  </ion-item>
  <div *ngIf="errArr.length >0">
    <div *ngFor="let item of errArr">
      <ion-item no-line *ngIf="item.param == 'promo_name'">
        <div class="has-error">
          {{item.msg}}
        </div>
      </ion-item>
    </div>
  </div>
  <ion-item-divider color="light">
    Promotion Period
  </ion-item-divider>
  <ion-item>
    <ion-label stacked>From</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="discount.event_from"></ion-datetime>
  </ion-item>
  <div *ngIf="errArr.length >0">
    <div *ngFor="let item of errArr">
      <ion-item no-line *ngIf="item.param == 'event_from'">
        <div class="has-error">
          {{item.msg}}
        </div>
      </ion-item>
    </div>
  </div>
  <ion-item>
    <ion-label stacked>To</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="discount.event_to"></ion-datetime>
  </ion-item>
  <div *ngIf="errArr.length >0">
    <div *ngFor="let item of errArr">
      <ion-item no-line *ngIf="item.param == 'event_to'">
        <div class="has-error">
          {{item.msg}}
        </div>
      </ion-item>
    </div>
  </div>
</ion-list>
