<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Checkout</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="my-card" tappable (click)="changeShippingAddress(orderAddress)" detail-push *ngIf="showAddress">
      <ion-icon color="dangers" name="ios-pin-outline" item-start></ion-icon>
      <h2 class="typo-r14">Delivery Address</h2>
      <div class="page-checkout-delivery-address__info">
        <p *ngIf="orderAddress">{{orderAddress.name}} | {{orderAddress.mobile}}</p>
        <p>{{orderAddress.detailAddress}}</p>
        <p>{{orderAddress.suburb}} {{orderAddress.city}}</p>
        <p>{{orderAddress.state}}, {{orderAddress.country}} {{orderAddress.zipcode}}</p>
      </div>
      <div class="page-checkout-delivery-address__stripped-background"></div>
    </ion-item>
    <ion-item-group *ngFor="let item of cartArr">
      <ion-item-divider color="light" class="page-checkout-shop-order-header">
        <fa-icon name="building-o" item-start color="dangers"></fa-icon>
        <h2 class="typo-l14">{{item.store?.sellerName}}</h2>
      </ion-item-divider>
      <div *ngFor="let row of item.details" class="page-checkout-shop-order-items">
        <ion-item class="cart-item page-checkout-shop-order-item" item-content>
          <ion-thumbnail item-start>
            <img [src]="row.details.images[0].img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'" *ngIf="row.details?.images && row.details?.images?.length > 0"
            />
            <img src="./assets/imgs/product/no-preview-150.png" *ngIf="row.details?.images && row.details?.images?.length < 1" />
          </ion-thumbnail>
            <h2>{{row.details?.productName}}</h2>
            <small class="price">{{currency.symbol}} {{row.details?.productPrice | number:'.2'}}</small>
            <div *ngIf="row.details?.variant">
              <ion-note>
                <small>Variation: {{row.details?.variant.name}}</small>
              </ion-note>
            </div>
            <div item-end>
              x
              <small>{{row.quantity}}</small>
            </div>
        </ion-item>
      </div>
      <div class="page-checkout-shop-order-shipping">
        <ion-list-header color="light">
          <div ion-text color="segondaria">Shipping Options</div>
        </ion-list-header>
        <ion-item (click)="changeShipping(item)" class="page-checkout-shop-order-shipping__info" detail-push>
          <fa-icon name="truck" item-start color="dangers"></fa-icon>
          <h2 class="typo-m18">Shipping:</h2>
          <div class="typo-r14" ion-text *ngIf="item.selected_shipping !=null ">{{item.selected_shipping?.name}}</div>
          <div class="typo-r14" ion-text color="danger" *ngIf="item.selected_shipping == null">No Shipping Courier</div>
          <div *ngIf="item.selected_shipping !=null ">
            <small class="page-checkout-shop-order-shipping__delivery-days typo-r10">Received in 2-15 days </small>
          </div>
          <div item-end>
            <div ion-text color="dangers" class="typo-r14" *ngIf="item.shippingFee">
              {{currency.symbol}}{{item.shippingFee | number:'.2'}}
            </div>
          </div>
        </ion-item>
      </div>
      <ion-item class="page-checkout-shop-order-message">
        <ion-label class="typo-m18">Message:</ion-label>
        <ion-input class="typo-r14" type="text" [(ngModel)]="item.orderNote"></ion-input>
      </ion-item>
      <ion-item class="page-checkout-shop-order-footer">
        <ion-label class="typo-m18">Order Total ({{item.details.length}} Item)</ion-label>
        <div item-end>
          <div ion-text color="dangers" class="typo-r14" *ngIf="item.shippingFee">
            {{currency.symbol}} {{item.subTotal | number:'.2'}}
          </div>
        </div>
      </ion-item>
    </ion-item-group>
    <ion-list-header color="light" *ngIf="showAddress">&nbsp;</ion-list-header>
    <ion-item tappable detail-push *ngIf="showAddress">
      <ion-icon name="ios-cash-outline" color="dangers" item-start></ion-icon>
      <h2 class="typo-m18">Payment Option</h2>
      <div item-end>
        <div ion-text color="dangers" class="typo-r14">
          Cash On Delivery
        </div>
      </div>
    </ion-item>
    <ion-item *ngIf="showAddress">
      <p class="typo-r14">Order Subtotal</p>
      <p class="typo-r14">Shipping Subtotal</p>
      <h2 class="typo-m18">Total Payment</h2>
      <div item-end>
        <p class="typo-r14">{{currency.symbol}} {{subTotal | number:'.2'}}</p>
        <p class="typo-r14">{{currency.symbol}} {{shippingTotal | number:'.2'}}</p>
        <h2 ion-text color="dangers" class="typo-r16">{{currency.symbol}} {{total | number:'.2'}}</h2>
      </div>
    </ion-item>
    <div padding text-wrap *ngIf="showAddress" class="typo-r10">
      Please fill in and confirm your email address. A confirmation email will be sent when your payment is confirmed.
    </div>
    <ion-item *ngIf="showAddress">
      <ion-label class="typo-m18">Email</ion-label>
      <ion-input class="typo-r14" type="email" placeholder="Email address" [(ngModel)]="order.orderEmail"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <button ion-button full color="danger" (click)="proceedCheckOut()">Place Order</button>
</ion-footer>
