page-shoppingcart-checkout {
  .toolbar-background-ios {
    background: #fff;
  }

  .my-card {
    margin: 0px;
    width: 100%;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .page-checkout-delivery-address__info {
    // margin-left: 1.35rem;
  }

  .page-checkout-shop-order-shipping {
    border-top: solid 1.5px #4fdca3;
    border-bottom: solid 1.5px #4fdca3;
  }

  .page-checkout-delivery-address__stripped-background {
    height: .45rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 1rem, transparent 0, transparent 1.3125rem, #f18d9b 0, #f18d9b 2.3125rem, transparent 0, transparent 2.625rem);
  }

  .page-checkout-shop-order-shipping__delivery-days {
    color: rgba(0, 0, 0, .54);
  }

  ion-footer {
    [ion-button] {
      margin: 0 !important;
    }
  }

  .heads {
    ion-icon {
      display: inline-block;
      font-size: 2.2em;
    }

    padding: 5px;
  }

  ion-list-header {
    min-height: 0rem !important;
  }
}
