content-seller-toppicks {
  .top-picks-slide img {
    width: 68px;
    height: 68px;
    border: 1px solid #f6f6f6;
  }

  .toggle-ios.toggle-disabled,
  .item-ios.item-toggle-disabled ion-label {
    opacity: 1;
    pointer-events: none;
  }
}
