<ion-list>
  <ion-item-group class="u-border-bottom" *ngFor="let item of collectionsArr" (click)="updateTopPick(item, $event)">
    <ion-item no-lines detail-push>
      <ion-label ion-text color="dangers">{{item.collectionName}}</ion-label>
      <ion-toggle [(ngModel)]="item.isActive" (ngModelChange)="activateCollection(item, $event)"></ion-toggle>
    </ion-item>
    <div padding-top *ngIf="item.products && item.products.length > 0">
      <ion-slides pager slidesPerView="5">
        <ion-slide *ngFor="let product of item.products" class="top-picks-slide">
          <img [src]="product.image?.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
        </ion-slide>
      </ion-slides>
    </div>
  </ion-item-group>
</ion-list>
