<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Account Settings</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewChat()">
        <ion-badge id="message-badge" *ngIf="unreadCount > 0" color="danger">{{unreadCount}}</ion-badge>
        <ion-icon ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">My Account</ion-item-divider>
    <button ion-item (click)="viewProfile()">
      <h2 class="typo-r14">My Profile</h2>
    </button>
    <button ion-item (click)="viewMyAddressess()">
      <h2 class="typo-r14">My Address</h2>
    </button>
    <button ion-item (click)="viewBankCards()">
      <h2 class="typo-r14">Bank Accounts/Cards</h2>
    </button>
    <!-- <button ion-item (click)="viewDetails('country')">
      <ion-avatar item-start>
        <img src="./assets/imgs/shopping-cart.png">
      </ion-avatar>
      <h2>Country</h2>
      <small>{{country.name | uppercase}} is your country</small>
    </button>
    <button ion-item (click)="viewDetails('currency')">
      <ion-avatar item-start>
        <img src="./assets/imgs/shopping-cart.png">
      </ion-avatar>
      <h2>Currency</h2>
      <small>{{currency.name | uppercase}} is your currency</small>
    </button> -->
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">Settings</ion-item-divider>
    <button ion-item>
      <h2 class="typo-r14">Chat Settings</h2>
    </button>
    <button ion-item (click)="viewNotificationSettings()">
      <h2 class="typo-r14">Notification Settings</h2>
    </button>
    <button ion-item>
      <h2 class="typo-r14">Privacy Settings</h2>
    </button>
    <button ion-item (click)="viewBlockUsers()">
      <h2 class="typo-r14">Blocked Users</h2>
    </button>
    <button ion-item>
      <h2 class="typo-r14">Language</h2>
      <ion-note item-end>
        English
      </ion-note>
    </button>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">Support</ion-item-divider>
    <button ion-item (click)="viewHelpCentre()">
      <h2 class="typo-r14">Help Centre</h2>
    </button>
    <button ion-item (click)="viewPolicies('terms')">
      <h2 class="typo-r14">Terms of Service</h2>
    </button>
    <button ion-item (click)="viewPolicies('privacy')">
      <h2 class="typo-r14">Privacy Policy</h2>
    </button>
    <button ion-item (click)="viewPolicies('items_policy')">
      <h2 class="typo-r14">Prohibited and Restricted Items Policy</h2>
    </button>
    <button ion-item (click)="viewPolicies('return_policy')">
      <h2 class="typo-r14">Return and Refunds Policy</h2>
    </button>
    <button ion-item (click)="viewAbout()">
      <h2 class="typo-r14">About us</h2>
    </button>
    <button ion-item (click)="requestForDelete()">
      <h2 class="typo-r14">Request for Account Deletion</h2>
    </button>
  </ion-item-group>
  <div padding>
    <button ion-button block color="dangers" (click)="logout()">Logout</button>
  </div>
</ion-content>
