<ion-list>
  <ion-item-divider color="light"> Promotion Details </ion-item-divider>
  <ion-item>
    <ion-label stacked>Collection Name</ion-label>
    <ion-input type="text" [(ngModel)]="collection.collectionName"></ion-input>
  </ion-item>
  <ion-item-divider color="light"> Selected Product ({{productArr.length}}/8) </ion-item-divider>
  <ion-item *ngFor="let item of productArr">
    <ion-thumbnail item-start>
      <img [src]="item.image?.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'" />
    </ion-thumbnail>
    <h2>{{item.productName}}</h2>
    <p>Sale: 0</p>
    <p>Price: {{item.productPrice}}</p>
    <ion-icon name="ios-trash-outline" item-end (click)="removeProductOnCollection(item)"></ion-icon>
  </ion-item>
  <!-- <ion-item>
    <ion-thumbnail item-start>
      <img src="./assets/imgs/product/no-preview-150.png" />
    </ion-thumbnail>
    <h2>My Neighbor Totoro</h2>
    <p>Sale: 0</p>
    <p>Price: 1000</p>
    <ion-icon name="ios-trash-outline" item-end></ion-icon>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="./assets/imgs/product/no-preview-150.png" />
    </ion-thumbnail>
    <h2>My Neighbor Totoro</h2>
    <p>Sale: 0</p>
    <p>Price: 1000</p>
    <ion-icon name="ios-trash-outline" item-end></ion-icon>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="./assets/imgs/product/no-preview-150.png" />
    </ion-thumbnail>
    <h2>My Neighbor Totoro</h2>
    <p>Sale: 0</p>
    <p>Price: 1000</p>
    <ion-icon name="ios-trash-outline" item-end></ion-icon>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="./assets/imgs/product/no-preview-150.png" />
    </ion-thumbnail>
    <h2>My Neighbor Totoro</h2>
    <p>Sale: 0</p>
    <p>Price: 1000</p>
    <ion-icon name="ios-trash-outline" item-end></ion-icon>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="./assets/imgs/product/no-preview-150.png" />
    </ion-thumbnail>
    <h2>My Neighbor Totoro</h2>
    <p>Sale: 0</p>
    <p>Price: 1000</p>
    <ion-icon name="ios-trash-outline" item-end></ion-icon>
  </ion-item> -->
  <button ion-item detail-none (click)="addProduct()">
    <h2 class="typo-r14">Choose Products (4-8 products)</h2>
    <ion-icon name="add" item-end></ion-icon>
  </button>
</ion-list>
