<!--
  Generated template for the ProductratingsEntryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Rate Product</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="submitRating()">
        SUBMIT
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item no-lines>
      <ion-thumbnail item-start>
        <img [src]="product.image?.img_public_path" onError="this.src='./assets/imgs/shopping-bag.svg'">
      </ion-thumbnail>
      <h3>{{product.detailName}}</h3>
      <p>{{product.detailPrice | number: '.2'}}</p>
    </ion-item>
    <ion-item center text-center>
      <rating [(ngModel)]="rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
      <ion-note><small>{{rate}} stars</small></ion-note>
    </ion-item>
    <ion-item >
      <ion-textarea [(ngModel)]="rating.comment" rows="5" placeholder="Tell others why you loved this product."></ion-textarea>
    </ion-item>
    <ion-item no-lines>
      <div class="images-wrapper">
        <div class="image-wrapper" *ngFor="let image of imagesValue">
          <ion-icon class="remove-image" name="close" *ngIf="!isUploading" (click)="removeImage(image)"></ion-icon>
          <div class="image" [style.background-image]="image.sanitized">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" [class.uploading]="isUploading" alt="" />
            <ion-spinner *ngIf="isUploading && uploadingProgress[image.url]<100"></ion-spinner>
            <ion-icon name="checkmark" *ngIf="isUploading && uploadingProgress[image.url]==100"></ion-icon>
            <div *ngIf="isUploading" class="progress-bar">
              <div class="progress" [style.width]="(uploadingProgress[image.url]||0)+'%'"></div>
            </div>
          </div>
        </div>
        <div class="image-wrapper add-image-btn" *ngIf="!isUploading" (click)="showAddImage()">
          <div class="image">
            <ion-icon name="add"></ion-icon>
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" />
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
