<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>{{apptitle}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="viewChat()">
        <ion-badge id="message-badge" *ngIf="unreadCount > 0" color="danger">{{unreadCount}}</ion-badge>
        <ion-icon ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)" mode="md" color="danger">
      <ion-segment-button value="unpaid" *ngIf="action == 'seller'">
        Unpaid
      </ion-segment-button>
      <ion-segment-button value="pay" *ngIf="action == 'buyer'">
        To Pay
      </ion-segment-button>
      <ion-segment-button value="ship">
        To Ship
      </ion-segment-button>
      <ion-segment-button value="shipping" *ngIf="action == 'seller'">
        Shipping
      </ion-segment-button>
      <ion-segment-button value="receive" *ngIf="action == 'buyer'">
        To Receive
      </ion-segment-button>
      <ion-segment-button value="completed">
        Completed
      </ion-segment-button>
      <ion-segment-button value="cancelled">
        Cancelled
      </ion-segment-button>
      <ion-segment-button value="return">
        Return/Refund
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged($event)">
    <!-- 
    ==============================================================================
                                     UNPAID
    ==============================================================================
     -->
    <ion-slide id="unpaid" *ngIf="action == 'seller'">
      <unpaid [showList]="showList" [orderList]="orderList" (_viewOrderDetails)="viewOrderDetails($event.order,$event.action)" (_contactSeller)="contactSeller($event)"></unpaid>
    </ion-slide>
    <!-- 
    ==============================================================================
                                      TO PAY
    ==============================================================================
     -->
    <ion-slide id="pay" *ngIf="action == 'buyer'">
      <topay [showList]="showList" [orderList]="orderList" (_viewOrderDetails)="viewOrderDetails($event.order,$event.action)" (_contactSeller)="contactSeller($event)"></topay>
    </ion-slide>
    <!-- 
    ==============================================================================
                                      TO SHIP
    ==============================================================================
     -->
    <ion-slide id="ship" *ngIf="action == 'buyer'">
      <toship [showList]="showList" [orderList]="orderList" (_viewOrderDetails)="viewOrderDetails($event.order,$event.action)" (_contactSeller)="contactSeller($event)"></toship>
    </ion-slide>
    <ion-slide id="ship" *ngIf="action == 'seller'">
      <toship-selller [showList]="showList" [orderList]="orderList" (_viewOrderDetails)="viewOrderDetails($event.order,$event.action)" (_arrangeShipment)="arrangeShipment($event.item,$event.ev)"></toship-selller>
    </ion-slide>
    <!-- 
    ==============================================================================
                                      SHIPPING
    ==============================================================================
     -->
    <ion-slide id="shipping" *ngIf="action == 'seller'">
      <shipping [showList]="showList" [orderList]="orderList" (_viewOrderDetails)="viewOrderDetails($event.order,$event.action)" (_contactSeller)="contactSeller($event)"></shipping>
    </ion-slide>
    <!-- 
    ==============================================================================
                                      RECEIVED
    ==============================================================================
     -->
    <ion-slide id="receive">
      <receive [showList]="showList" [orderList]="orderList" (_viewOrderDetails)="viewOrderDetails($event.order,$event.action)" (_contactSeller)="contactSeller($event)" (_orderReceived)="orderReceived($event.order,$event.ev)" (_orderReturnRefund)="orderReturnRefund($event.order,$event.ev)"></receive>
    </ion-slide>
    <!-- 
    ==============================================================================
                                      COMPLETED
    ==============================================================================
     -->
    <ion-slide id="completed">
      <completed [action]="action" [showList]="showList" [orderList]="orderList" (_viewOrderDetails)="viewOrderDetails($event.order,$event.action)" (_contactSeller)="contactSeller($event)"></completed>
    </ion-slide>
    <!-- 
    ==============================================================================
                                      CANCELLED
    ==============================================================================
     -->
    <ion-slide id="cancelled">
      <cancelled [action]="action" [showList]="showList" [orderList]="orderList" (_viewOrderDetails)="viewOrderDetails($event.order,$event.action)" (_viewCancelReason)="viewCancelReason($event.order,$event.ev)"></cancelled>
    </ion-slide>
    <!-- 
    ==============================================================================
                                      RETURN
    ==============================================================================
     -->
    <ion-slide id="return">
      <return [action]="action" [showList]="showList" [orderList]="orderList" (_viewOrderDetails)="viewOrderDetails($event.order,$event.action)" (_contactSeller)="contactSeller($event)" (_orderReturnRefundDetails)="orderReturnRefundDetails($event.order,$event.ev)"></return>
    </ion-slide>
  </ion-slides>
</ion-content>
