page-mypurchases {
  .toolbar-background-ios {
    background: #fff;
  }

  ion-scroll {
    width: 100%;
    height: 100%;
  }

  ion-list-header {
    background-color: #fff !important;
  }

  ion-slides {
    background-color: #f3f3f3 !important;
  }

  ion-segment {
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    ion-segment-button.segment-button {
      display: inline-block;
      min-width: 100px;
      width: auto;
    }
  }

  .swiper-slide {
    overflow-y: scroll;
    display: block;
  }

  .slide-zoom {
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
  }

  .price {
    color: #488aff !important;
    text-align: left;
    font-weight: 600;
    padding-top: 5px;
  }

  .cart-item h4 {
    color: #FF6500;
    font-weight: bold;
  }

  .cart-item p {
    color: #222;
  }

  .myCard {
    margin: 12px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #f3f3f3;
    display: block;
    overflow: hidden;
    padding-top: 5em;

    img {
      width: 5em;
    }
  }
}
