<div class="badge__horizontal badge__official-shop badge__official-shop--inline">
  <svg height="11" viewBox="0 0 24 11" width="24" xmlns="http://www.w3.org/2000/svg">
    <g fill="#fff" fill-rule="evenodd">
      <path d="M19.615 7.143V1.805c0-.444-.36-.805-.805-.805-.445 0-.806.36-.806.805V7.182H18c0 1.438.634 2.36 1.902 2.77V9.95c.09.032.19.05.293.05.444 0 .805-.334.805-.746 0-.312-.206-.578-.498-.69v-.002c-.59-.22-.885-.694-.885-1.42h-.002zM22.615 7.143V1.805c0-.444-.36-.805-.805-.805-.445 0-.806.36-.806.805V7.182H21c0 1.438.634 2.36 1.902 2.77V9.95c.09.032.19.05.293.05.444 0 .805-.334.805-.746 0-.312-.206-.578-.498-.69v-.002c-.59-.22-.885-.694-.885-1.42h-.002zM15.124 4.158c.01-.366.37-.726.813-.726.45 0 .814.37.814.742v5.058c0 .37-.364.73-.813.73-.395 0-.725-.278-.798-.598-.544.427-1.224.68-1.964.68-1.77 0-3.268-1.456-3.268-3.254 0-1.797 1.497-3.328 3.268-3.328.733 0 1.408.262 1.948.696zm-.146 2.594c0-.996-.806-1.8-1.802-1.8-.995 0-1.798.804-1.798 1.8s.803 1.804 1.798 1.804c.996 0 1.802-.808 1.802-1.804z"></path>
      <path d="M.078 1.563C.086 1.28.258 1 .565.89c.423-.15.832.16 1.008.52.512 1.056 1.57 1.88 2.99 1.9s2.158-.85 2.71-1.882c.19-.356.626-.74 1.13-.537.342.138.477.4.472.65.003.025.004.052.004.08v7.63c0 .414-.337.75-.75.75s-.75-.336-.75-.75V3.67c-.763.72-1.677 1.18-2.842 1.16-1.117-.02-2.15-.436-2.965-1.096V9.25c0 .414-.336.75-.75.75s-.75-.336-.75-.75V1.648c0-.03.002-.057.005-.085z" fill-rule="nonzero"></path>
    </g>
  </svg>
</div>
