<ion-list *ngIf="mode == 'info'">
  <ion-card>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="./assets/imgs/dollar.svg" *ngIf="voucher.voucherType == 'fixed'">
        <img src="./assets/imgs/tag.svg" *ngIf="voucher.voucherType == 'percentage'">
      </ion-thumbnail>
      <h2 class="typo-r14">{{voucher.voucherName}}</h2>
      <p class="typo-m16">CODE: {{voucher.voucherCode}}</p>
    </ion-item>
    <ion-list>
      <ion-item>
        <h2 class="typo-r14">Type</h2>
        <div item-end class="typo-m14">
          <b ion-text color="dangers" *ngIf="voucher.isApplytoWholeShop == 1">Shop Voucher</b>
          <b ion-text color="dangers" *ngIf="voucher.isApplytoWholeShop == 0">Product Voucher</b>
        </div>
      </ion-item>
      <ion-item>
        <h2 class="typo-r14">Discount Amount</h2>
        <div item-end class="typo-m14" *ngIf="voucher.voucherType == 'fixed'">
          <span ion-text color="dangers">{{currency.symbol_native}} {{voucher.voucherAmt}}</span>
        </div>
        <div item-end class="typo-m14" *ngIf="voucher.voucherType == 'percentage'">
          <span ion-text color="dangers">{{voucher.maxDiscountPrice}}%</span>
        </div>
      </ion-item>
      <ion-item>
        <h2 class="typo-r14">Minimum Basket Size</h2>
        <div item-end class="typo-m14">
          <span ion-text color="dangers">{{currency.symbol_native}} {{voucher.minimumOrderAmt}}</span>
        </div>
      </ion-item>
      <ion-item>
        <h2 class="typo-r14">Voucher Start/End Date</h2>
        <div item-end class="typo-r14">
          {{voucher.voucherFrom | date: 'shortDate'}} to {{voucher.voucherTo | date: 'shortDate'}}
        </div>
      </ion-item>
      <ion-item>
        <h2 class="typo-r14">Quantity</h2>
        <div item-end class="typo-r14">
          {{voucher.voucherQuantity}}
        </div>
      </ion-item>
      <ion-item>
        <h2 class="typo-m14">Claimed</h2>
        <div item-end class="typo-r14">
          <b ion-text color="dangers">0</b>
        </div>
      </ion-item>
      <ion-item>
        <h2 class="typo-m14">Usage</h2>
        <div item-end class="typo-r14">
          <b ion-text color="dangers">0</b>
        </div>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <button ion-button icon-start small full color="dangers" (click)="updateVoucher()">
          <ion-icon name="ios-create-outline"></ion-icon>
          <div>Edit</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let item of voucher.products">
        <a class="item-card hairline-border">
          <div>
            <div class="item-card__cover-image-wrapper">
              <div class="item-card__cover-image">
                <img class="item-card__cover-image" [src]="item.image.img_path" onError="this.src='./assets/imgs/product/noimage.jpg'"
                  style="object-fit: contain;">
              </div>
            </div>
            <div class="item-card__info">
              <div class="item-card__name typo-r14 item-card__name--two-lines">
                {{item.productName}}
              </div>
            </div>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
<ion-list *ngIf="mode == 'orders'">
  <div class="myCard">
    <div padding text-center>
      <img src="./assets/imgs/shopping-cart.svg" />
    </div>
    <ion-card-content>
      <p text-center>No order has used this voucher yet.</p>
    </ion-card-content>
  </div>
</ion-list>
