page-signup {
  .toolbar-background-ios {
    background: #fff;
    border-style: none !important;
  }

  .form.list-ios[inset] .item {
    border-bottom: 1px solid color($colors, dangers) !important;
  }

  .form.list-ios[inset]>.item:last-child,
  .form.list-ios[inset]>.item-wrapper:last-child .item {
    border-bottom: 1px solid color($colors, dangers) !important;
  }

  .form{
    .item-ios{
      background: transparent !important;
    }
  }

  .login-background {
    background-image: url(../assets/imgs/bg2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-attachment: fixed;
  }

  .myCard {
    margin: 12px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #fff;
    display: block;
    overflow: hidden;
    padding-top: 1em;
    padding-bottom: 1em;

    img {
      width: 5em;
    }
  }

  .social {
    .col {
      padding: 0 !important;
    }

    [col-6] {
      padding: 0 !important;
    }
  }

  .fancy {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
  }

  .fancy:before,
  .fancy:after {
    content: "";
    width: 70px;
    height: 2px;
    background: #000;
    margin: 0 10px;
  }
}
