<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>&nbsp;</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon ios="ios-close-outline" md="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="login-background">
  <div class="myCard">
    <div text-center>
      <img src="./assets/imgs/shopping-bag.svg" />
    </div>
    </div>
  <ion-list inset class="form" padding-left padding-right>
    <ion-list-header color="light">
      Basic Information
    </ion-list-header>
    <ion-item>
      <ion-icon name="ios-person-outline" color="grey2" item-left></ion-icon>
      <ion-input type="text" [(ngModel)]="user.firstname" placeholder="Firstname"></ion-input>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'firstname'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-person-outline" color="grey2" item-left></ion-icon>
      <ion-input type="text" [(ngModel)]="user.lastname" placeholder="Lastname"></ion-input>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'lastname'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-mail-outline" color="grey2" item-left></ion-icon>
      <ion-input type="email" [(ngModel)]="user.email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'email'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-list inset class="form" padding-left padding-right>
    <ion-list-header color="light">
      Account
    </ion-list-header>
    <ion-item>
      <ion-icon name="ios-contact-outline" color="grey2" item-left></ion-icon>
      <ion-input type="text" [(ngModel)]="user.username" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'username'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-lock-outline" color="grey2" item-left></ion-icon>
      <ion-input type="password" [(ngModel)]="user.password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'password'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-lock-outline" color="grey2" item-left></ion-icon>
      <ion-input type="password" [(ngModel)]="user.confirmpassword" placeholder="Confirm Password"></ion-input>
    </ion-item>
    <ion-item no-line *ngIf="errArr.length >0">
      <div *ngFor="let item of errArr">
        <div class="has-error" *ngIf="item.param == 'confirmpassword'">
          {{item.msg}}
        </div>
      </div>
    </ion-item>
  </ion-list>
  <div padding>
    <p class="typo-l14">
      By registering for a ShoppyApp account you are agree that you have read and accepted our <span ion-text color="dangers">Membership Agreement</span> and <span ion-text color="dangers">Terms and Conditions.</span>
    </p>
    <button padding-left padding-right ion-button block round color="dangers" (click)="save()">Agree and Create Account</button>
    <div tex-center center>
      <p class="fancy"><span>or signup with</span></p>
    </div>
    <ion-row class="social" padding-left padding-right>
      <ion-col col-6>
        <button ion-button full icon-left color="shoppyfb" block (click)="signUpWithFB()" style="border-top-left-radius: 64px;border-bottom-left-radius: 64px;">
          <fa-icon name="facebook" item-start></fa-icon>&nbsp; Facebook
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full icon-left color="danger" block (click)="signUpWithGoogle()" style="border-top-right-radius: 64px;border-bottom-right-radius: 64px;">
          <ion-icon name="logo-google"></ion-icon>
          Google
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
