<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Wholesale</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="saveWholeSale()">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-divider color="light" text-center>
      <small>Original price: {{price}}</small>
    </ion-item-divider>
    <div *ngIf="wholesaleArr && wholesaleArr.length">
      <ion-row *ngFor="let row of wholesaleArr">
        <ion-col col-4>
          <ion-item>
            <ion-label stacked>Min Order</ion-label>
            <ion-input type="number" value="" placeholder="0" [(ngModel)]="row.minAmt"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label stacked>Max Order</ion-label>
            <ion-input type="number" value="" placeholder="0" [(ngModel)]="row.maxAmt"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label stacked>Unit Price</ion-label>
            <ion-input type="number" value="" placeholder="0.00" [(ngModel)]="row.price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <ion-item-divider color="light" *ngIf="wholesaleArr && wholesaleArr.length">
    </ion-item-divider>
    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-label stacked>Min Order</ion-label>
          <ion-input type="number" value="" placeholder="0" [(ngModel)]="item.minAmt"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-label stacked>Max Order</ion-label>
          <ion-input type="number" value="" placeholder="0" [(ngModel)]="item.maxAmt"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-label stacked>Unit Price</ion-label>
          <ion-input type="number" value="" placeholder="0.00" [(ngModel)]="item.price"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <button ion-button full (click)="addWholeSale()">Add Price Tier</button>
  </ion-list>
</ion-content>
