<ion-list *ngIf="productsArr && productsArr.length > 0">
  <ion-item-group *ngFor="let item of productsArr; index as $index">
    <ion-item-divider color="light">
      <ion-thumbnail item-start>
        <img [src]="item.image.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
      </ion-thumbnail>
      <h2 class="typo-m16">{{item.productName}}</h2>
      <p>PRICE: <span ion-text color="dangers">{{item.priceTitle}}</span></p>
      <ion-icon name="ios-remove-circle-outline" item-end (click)="removeItem(item)"></ion-icon>
    </ion-item-divider>
    <ion-item no-lines padding-bottom>
      <ion-label class="typo-r14">Purchase Limit</ion-label>
      <ion-input class="typo-r14 form-control" text-right type="number" placeholder="0" [(ngModel)]="item.purchase_limit"></ion-input>
    </ion-item>
    <div *ngIf="item.variants && item.variants?.length < 1">
      <ion-item no-lines>
        <ion-label class="typo-r14">Discounted Price</ion-label>
        <ion-input class="typo-r14 form-control" text-right type="number" placeholder="0.00" [(ngModel)]="item.discount_price"
          (keyup)="calculateItemPrice(item)"></ion-input>
      </ion-item>
      <ion-item no-lines padding-bottom>
        <ion-label class="typo-r14">Discount</ion-label>
        <ion-input class="typo-r14 form-control" text-right type="number" placeholder="0 %OFF" [(ngModel)]="item.discount"
          (keyup)="calculateItemDiscount(item)"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="item.variants && item.variants?.length > 0">
      <div *ngFor="let variant of item.variants">
        <ion-item color="light">
          <ion-label class="typo-r14"><b ion-text color="dangers">{{variant.name}}</b> <small>(PRICE:
              <span ion-text color="dangers">{{variant.price}}</span>)</small></ion-label>
          <ion-toggle color="dangers" [(ngModel)]="variant.selected"></ion-toggle>
        </ion-item>
        <ion-item no-lines padding-top>
          <ion-label class="typo-r14">Discounted Price</ion-label>
          <ion-input class="typo-r14 form-control" text-right type="number" placeholder="0.00" [(ngModel)]="variant.discount_price"
            (keyup)="calculateItemPrice(variant)"></ion-input>
        </ion-item>
        <ion-item no-lines padding-bottom>
          <ion-label class="typo-r14">Discount</ion-label>
          <ion-input class="typo-r14 form-control" text-right type="number" placeholder="0 %OFF" [(ngModel)]="variant.discount"
            (keyup)="calculateItemDiscount(variant)"></ion-input>
        </ion-item>
      </div>
    </div>
  </ion-item-group>
</ion-list>
<div class="myCard" *ngIf="productsArr && productsArr.length < 1">
  <div padding text-center>
    <img src="./assets/imgs/box.svg">
  </div>
  <ion-card-content>
    <p text-center>
      <button ion-button block round color="dangers" (click)="selectProduct()" [disabled]="discount.isExpired">Add
        Products</button>
    </p>
  </ion-card-content>
</div>
