page-deliveryaddress {
  .toolbar-background-ios {
    background: #fff;
  }

  .my-card {
    margin: 0px;
    width: 100%;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  ion-footer {
    [ion-button] {
      margin: 0 !important;
    }
  }

  .heads {
    ion-icon {
      display: inline-block;
      font-size: 2.2em;
    }

    padding: 5px;
  }

  ion-list-header {
    min-height: 0rem !important;
  }
}
