<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Address Selection</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="openMyAddress()">
        EDIT
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <!-- <div text-center class="heads">
      <ion-row>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon color="primary" name="ios-pin-outline"></ion-icon>
              <br>
              <small ion-text color="primary">Address</small>
            </div>
          </ion-label>
        </ion-col>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon name="ios-copy-outline"></ion-icon>
              <br>
              <small>Shipping</small>
            </div>
          </ion-label>
        </ion-col>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon name="ios-cash-outline"></ion-icon>
              <br>
              <small>Payment</small>
            </div>
          </ion-label>
        </ion-col>
        <ion-col text-wrap text-center col-3>
          <ion-label text-center>
            <div>
              <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
              <br>
              <small>Confirm</small>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>
    <ion-list-header color="light">
    </ion-list-header> -->
    <ion-item *ngFor="let item of userAddressArr" class="my-card" tappable (click)="selectItem(item)">
      <h2>
        {{item.name}}
        <div class="pull-right">
          <small ion-text color="primary" *ngIf="item.isDefaultAddress">[Default]</small>
        </div>
      </h2>
      <div>
        <p>{{item.mobile}}</p>
        <p>{{item.detailAddress}}</p>
        <p>{{item.suburb}} {{item.city}}</p>
        <p>{{item.state}}, {{item.country}} {{item.zipcode}}</p>
      </div>
      <ion-icon name="ios-checkmark" color="primary" *ngIf="item.selected" item-end></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list>
    <button ion-item detail-none (click)="addNewAddress()">
      Add New Address
      <ion-icon name="add" item-end></ion-icon>
    </button>
  </ion-list>
</ion-content>
<!-- <ion-footer no-border>
  <button ion-button full color="danger" (click)="proceedNext()">NEXT: SHIPPING OPTION</button>
</ion-footer> -->
