<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="myInput" (input)="getItems($event)" (ionCancel)="onCancel($event)" ionClear="onCancel($event)" showCancelButton="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="showContent">
    <ion-item-group *ngFor="let group of groupedArr">
      <ion-item-divider light>{{group.letter}}</ion-item-divider>
      <ion-item *ngFor="let item of group.itemArr" tappable (click)="select(item)">
        <ion-avatar item-start>
          <img [src]="item.flag" *ngIf="title !== 'Currency'">
          <h2 ion-text color="danger" *ngIf="title == 'Currency'">{{item.symbol}}</h2>
        </ion-avatar>
        <h2 *ngIf="title == 'Currency'">{{item.code}}</h2>
        <p *ngIf="title == 'Currency'">{{item.name}}</p>
        <h2 *ngIf="title !== 'Currency'">{{item.name}}</h2>
        <p *ngIf="title !== 'Currency'">{{item.nativeName}}</p>
        <ion-icon name="md-checkmark" item-end color="primary" *ngIf="item.selected"></ion-icon>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <div *ngIf="!showContent">
    <div class="timeline-listitem" *ngFor="let item of fakeArr">
      <div class="animated-background-item">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
      </div>
    </div>
  </div>
</ion-content>
