page-details {
  ion-content {
    background-color: #efefef !important;
  }

  ._3y2hvj {
    font-size: 1rem;
    color: rgba(0, 0, 0, .54);
    margin-top: .625rem;
    margin-bottom: .625rem;
    margin-left: .625rem;
  }

  .Jvurri {
    background: #fff;
    padding: 0 12px;
  }

  .page-section {
    padding-left: 12px;
    padding-right: 12px;
    background: #fff;
    margin-top: 8px;
  }

  .page-section--no-border {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }

  .product-page__overview {
    margin-top: 0;
    padding: 0;
    border-top: none !important;
  }

  .product-page__shipping {
    padding: 0;
  }

  .product-rating {
    ul.rating {
      padding: 0px;
      margin: 5px;

      &.rating li {
        background: none;
        color: color($colors, dangers);
        padding: 5px 5px;

        ion-icon {
          font-size: 1.5rem;
        }
      }
    }
  }

  .two-line-text {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  ._1AoXIC {
    padding: .75rem 0;
  }

  ._3FVAYH {
    margin: 4px 12px 0 0;
    line-height: 1;
  }

  ._3vPrwE {
    float: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  ._3vPrwE>.badge-text {
    margin-left: .25rem;
  }

  ._2NOva1 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    max-width: 100%;
  }

  .BazWcl {
    color: color($colors, danger);
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  ._2r7e60 {
    margin-top: 12px;
    background: #fff;
    padding-bottom: .75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    ._3uEl1P {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      margin-left: .375rem;
    }
  }

  .KhR5aV>.badge__official-shop {
    margin-right: .5rem;
  }

  .badge__horizontal {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    height: 1.5rem;
  }

  .product-description__text {
    color: rgba(0, 0, 0, .65);
    white-space: pre-wrap;
  }

  .products {
    ion-slides {
      padding: 5px;
    }

    ion-slide {
      width: 125px !important;
    }
  }

  .product-carousel {
    display: block;
    position: relative;

    .product-img-carousel {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }

    .product-carousel__item {
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;
      height: 100%;
    }

  }

  .info {
    background: #fff;
    display: block;
    overflow: hidden;

    .top-picks {
      margin: -1px 0 0px;
    }
  }

  .product-carousel {
    .slides {
      height: 375px;
      min-height: 375px;

      .slide-zoom {
        height: 375px;

        img {
          -webkit-user-drag: none;
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          flex: 0 1 auto;
        }
      }
    }
  }

  .borderleft {
    border-right: solid 1.4px #757373;
  }

  .blblbl {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.2rem;
    height: 1rem;
  }

  ._1Z94ro {
    font-size: 1.8rem;
    height: 2rem;
    margin-bottom: .3125rem;
  }

  .shop-active-time__inactive,
  .shop-active-time__normal,
  .shop-active-time__online,
  .shop-active-time__vacation,
  .xuIe21 {
    color: rgba(0, 0, 0, .54);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .withdetails {
    ion-icon {
      float: right;
      margin-right: 5px;
    }
  }

  .details {
    ion-note {
      font-size: 1.2rem;
      color: #000;
    }
  }

  .shipping_info {
    img {
      width: 3rem; // vertical-align: middle;
      margin-right: 15px;
      float: left;
    }

    span {
      text-align: left;
      font-size: 1.3rem;
    }
  }
}

.tbldetails {
  .col {
    border: 1px solid #e6e1e1;
    padding: 10px;
  }

  [col-4] {
    background: #f9f9f9;
  }
}

ion-footer {
  ion-col {
    padding: 0 !important;

    [ion-button] {
      padding: 0 !important;
      margin: 0rem 0.2rem !important;
    }
  }
}
