<ion-header no-border no-line>
  <ion-navbar color="shoppyprimary">
    <ion-title>
      {{details.productName}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewCart()">
        <ion-badge id="cart-badge" *ngIf="cartCount > 0" color="dangers">{{cartCount}}</ion-badge>
        <ion-icon ios="ios-cart-outline" md="ios-cart-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover(details.shopInfo,$event)">
        <ion-icon ios="ios-more-outline" md="ios-more-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!showLoading">
    <!--
    ============================================================================================================
    ============================================================================================================
     -->
    <div class="info product-carousel">
      <ion-slides class="product-img-carousel" pager *ngIf="details.images && details.images.length > 0">
        <ion-slide *ngFor="let img of details.images">
          <img class="product-carousel__item" [src]="img.img_path" onError="this.src='./assets/imgs/product/noimage.jpg'">
        </ion-slide>
      </ion-slides>
      <ion-slides pager *ngIf="details.images && details.images.length < 1">
        <ion-slide *ngFor="let item of [0,1,2,3]">
          <img src="./assets/imgs/product/noimage.jpg">
        </ion-slide>
      </ion-slides>
    </div>
    <!--
    ============================================================================================================
    ============================================================================================================
     -->
    <div class="page-section page-section--no-border product-page__overview">
      <div class="Jvurri">
        <div class="_1AoXIC">
          <div>
            <div class="_3vPrwE">
              <product-discount-promotion *ngIf="details.hasDiscount"></product-discount-promotion>
              <product-sold-out *ngIf="details.isSoldOut"></product-sold-out>
              <product-sold-out *ngIf="details.isOutOfStock"></product-sold-out>
              <product-review-preferred *ngIf="shop.preferred"></product-review-preferred>
            </div>
            <div class="KhR5aV typo-r16 two-line-text">
              <product-official-shop-badge *ngIf="details.isOfficialShop"></product-official-shop-badge>
              {{details.productName}}
            </div>
          </div>
          <div class="_3FVAYH">
            <div class="_2NOva1">
              <div class="BazWcl typo-m18">{{currency.symbol_native}} {{details.productPrice}}</div>
            </div>
            <div class="_2NOva1"></div>
          </div>
          <div class="_2r7e60" *ngIf="details.hasFreeShipping">
            <!-- <img src="./assets/imgs/shipping.svg" style="width: 20px;"> -->
            <img src="./assets/imgs/delivery-truck.svg" style="width: 20px;">
            <div class="_3uEl1P typo-l14"><span>Free shipping with min. order of ₱250</span></div>
          </div>
        </div>
      </div>
      <ion-item no-lines color="shoppylightwarning">
        <h2 class="typo-r14" ion-text color="shoppywarning">Lowest Price Guaranteed</h2>
        <!-- <p class="typo-l14">Found a cheaper option? Claim for FREE Coins!</p> -->
        <p class="typo-l14">This product is the cheapest among its related products</p>
      </ion-item>
      <ion-item no-lines tappable detail-push (click)="showVouchers()" *ngIf="sellerVouchersArr && sellerVouchersArr.length > 0">
        <h2 class="typo-r14">Shop Vouchers</h2>
        <ion-row item-content>
          <div class="voucher-ticket voucher-ticket--seller-mini voucher-ticket--PH voucher-ticket--outline product-voucher__voucher"
            *ngFor="let item of sellerVouchersArr | slice:0:2;">
            <div class="voucher-ticket__promo" *ngIf="item.voucherType == 'fixed'">{{currency.symbol_native}}{{item.voucherAmt}}
              OFF</div>
            <div class="voucher-ticket__promo" *ngIf="item.voucherType == 'percentage'">{{item.maxDiscountPrice}}% OFF</div>
          </div>
        </ion-row>
      </ion-item>
      <ion-item no-lines tappable detail-push (click)="showWholesale()" *ngIf="details.wholesale && details.wholesale?.length > 0">
        <h2 class="typo-r14">Wholesale Price</h2>
        <ion-note item-end>
          <span class="typo-l14">Buy (≥ {{details.wholeSaleObj?.maxAmt}} items) {{currency.symbol_native}}
            {{details.wholeSaleObj?.price}}</span>
        </ion-note>
      </ion-item>
      <ion-item no-lines tappable detail-push (click)="viewProductRating()">
        <h2 class="typo-r14">Product Ratings</h2>
        <span class="product-rating">
          <rating [(ngModel)]="details.rating" readOnly="true" max="5" emptyStarIconName="star-outline"
            halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
        </span>
        <div item-end>
          <small ion-text color="dangers">{{details.rating}} ({{details.rated}})</small>&nbsp;
        </div>
      </ion-item>
    </div>
    <!--
    ============================================================================================================
    ============================================================================================================
     -->
    <div class="info mt-10">
      <ion-item text-wrap>
        <div item-start>
          <img src="./assets/imgs/delivery-truck.svg" style="width: 20px;">
        </div>
        <p class="typo-l14">30% off shipping with min. order of P250.00, 100% off shipping with min. order of P500.00</p>
      </ion-item>
      <ion-item tappable detail-push (click)="showShippingFee()">
        <div item-start>
          <img src="./assets/imgs/ship.png" style="width: 20px;">
        </div>
        <p class="typo-l14">Shipping Fee:
          <b>{{currency.symbol_native}}{{details.shippingFeeObj?.minPrice}} -
            {{currency.symbol_native}}{{details.shippingFeeObj?.maxPrice}}</b>
        </p>
      </ion-item>
      <ion-row padding-left padding-right *ngIf="isLogin">
        <ion-col col-5>
          <button ion-button icon-left outline block small (click)="likeItem()" [color]="details.isLiked ? 'dangers' : 'dark'"
            *ngIf="isLogin" [disabled]="!enableBuying">
            <ion-icon name="heart-outline" *ngIf="!details.isLiked"></ion-icon>
            <ion-icon name="ios-heart" color="dangers" *ngIf="details.isLiked"></ion-icon>
            Like ({{details.liked}})
          </button>
        </ion-col>
        <ion-col col-5>
          <button ion-button icon-left outline block small color="dark" (click)="viewProductComment()" *ngIf="isLogin">
            <ion-icon item-start ios="ios-chatboxes-outline" md="md-chatboxes-outline"></ion-icon>
            Comment (0)
          </button>
        </ion-col>
        <ion-col col-2>
          <button ion-button icon-only outline block small color="primary" (click)="shareProduct()" *ngIf="isLogin">
            <ion-icon name="md-share"></ion-icon>
          </button>`
        </ion-col>
      </ion-row>
    </div>
    <!--
    ============================================================================================================
    ============================================================================================================
     -->
    <div class="page-section info mt-10" *ngIf="details.variants && details.variants?.length > 0">
      <ion-item no-lines detail-push (click)="showVariants()">
        <h2 class="typo-r14">Select Variation <small>
            <ion-note>(e.g. color, size)</ion-note>
          </small></h2>
      </ion-item>
    </div>
    <!--
    ============================================================================================================
    ============================================================================================================
     -->
    <div class="page-section info mt-10 page-section-shop">
      <ion-item no-lines>
        <ion-avatar item-start>
          <img [src]="shop.img_path" onError="this.src='./assets/imgs/user.png'">
        </ion-avatar>
        <h2>{{details.shopInfo?.username}}</h2>
        <div class="shop-active-time__normal typo-r12">Active 1 day ago</div>
        <button ion-button outline round item-end color="dangers" (click)="viewShopProfile(details.shopInfo)">View Shop</button>
      </ion-item>
      <ion-row padding>
        <ion-col text-center class="borderleft" (click)="viewShopProfile(details.shopInfo)">
          <div class="_1Z94ro" ion-text color="dangers">{{shop.productCount}}</div>
          <div class="blblbl">Products</div>
        </ion-col>
        <ion-col text-center class="borderleft" (click)="viewShopRating(details.shopInfo)">
          <div class="_1Z94ro" ion-text color="dangers">{{shop.rating}}</div>
          <div class="blblbl">Rating</div>
        </ion-col>
        <ion-col text-center>
          <div class="_1Z94ro" ion-text color="dangers">0%</div>
          <div class="blblbl">Chat Response</div>
        </ion-col>
      </ion-row>
      <div class="hairline-border-up srabI-"></div>
      <ion-slides class="stardust-horizontal-scroll-view" slidesPerView="2" spaceBetween="2" *ngIf="sellerVouchersArr && sellerVouchersArr.length > 0">
        <ion-slide *ngFor="let item of sellerVouchersArr">
          <voucher-ticket [voucher]="item" [currency]="currency"></voucher-ticket>
        </ion-slide>
      </ion-slides>
      <div class="_3y2hvj">* Applicable to all products in this shop (excl. shipping fees)</div>
      <ion-list class="products top-picks" *ngIf="sellerTopPicksArr && sellerTopPicksArr.length > 0">
        <ion-list-header>
          <h2 class="voucher-ticket__code-label">Top Picks from Shop</h2>
        </ion-list-header>
        <div style="background: #efefef;">
          <ion-slides slidesPerView="2" spaceBetween="5">
            <ion-slide *ngFor="let item of sellerTopPicksArr" (click)="gotoDetails(item)">
              <content-products [item]="item" [showBadge]="false" [currency]="currency"></content-products>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-list>
    </div>
    <!--
    ============================================================================================================
    ============================================================================================================
     -->
    <div class="info mt-10 tbldetails">
      <ion-item-divider>
        Product Detail
        <ion-note item-end>
          <ion-icon ios="ios-time-outline" md="ios-time-outline"></ion-icon>
          <small>{{details.date_created | relativeTime}}</small>
        </ion-note>
      </ion-item-divider>
      <ion-item no-lines class="details" text-wrap>
        <p class="product-description-text">{{details.productDesc}}</p>
      </ion-item>
      <ion-row padding-top>
        <ion-col text-left col-4>
          Categories
        </ion-col>
        <ion-col text-left col-8>
          <a ion-text color="secondary" (click)="viewProductCategory(details.category,'category')">{{details.category?.name}}</a>
          <span *ngIf="details.subcategory"> > </span>
          <a ion-text color="secondary" (click)="viewProductCategory(details.subcategory,'subcategory',details.category)">{{details.subcategory?.name}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-left col-4>
          Brand
        </ion-col>
        <ion-col text-left col-8 class="withdetails" (click)="viewBrand(details.brand,'brand')">
          <span ion-text color="secondary">{{details.brand?.name}}</span>
          <ion-icon ios="ios-arrow-forward-outline" md="ios-arrow-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <!--
    ============================================================================================================
    ============================================================================================================
     -->
    <div class="info mt-10 tbldetails">
      <ion-row>
        <ion-col text-left col-4>
          Condition
        </ion-col>
        <ion-col text-left col-8>
          {{details.productCondition | uppercase}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-left col-4>
          Stock
        </ion-col>
        <ion-col text-left col-8>
          {{details.productStock}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-left col-4>
          Ships From
        </ion-col>
        <ion-col text-left col-8>
          <small *ngIf="(details.shipFrom | json) != ({} | json)">{{details.shipFrom?.suburb}},
            {{details.shipFrom?.city}} {{details.shipFrom?.state}}</small>
        </ion-col>
      </ion-row>
    </div>
    <!--
    ============================================================================================================
    ============================================================================================================
     -->
    <ion-list class="products">
      <ion-list-header>
        FROM THE SAME SHOP
        <div class="pull-right">
          See all
        </div>
      </ion-list-header>
      <div *ngIf="showMoreProducts">
        <ion-slides slidesPerView="2" spaceBetween="5">
          <ion-slide *ngFor="let item of details.moreproducts" (click)="gotoDetails(item)">
            <content-products [item]="item" [currency]="currency"></content-products>
          </ion-slide>
        </ion-slides>
      </div>
      <div *ngIf="!showMoreProducts" padding center text-center>
        <ion-spinner name="dots"></ion-spinner>
      </div>
    </ion-list>
    <!-- <ion-list class="products">
      <ion-list-header>
        SIMILAR PRODUCTS
        <div class="pull-right">
          See all
        </div>
      </ion-list-header>
      <div *ngIf="showMoreProducts">
      </div>
      <div *ngIf="!showMoreProducts" padding center text-center>
        <ion-spinner name="dots"></ion-spinner>
      </div>
    </ion-list> -->
  </div>
  <!--
  =======================================================================================================================
  =======================================================================================================================
  =======================================================================================================================
   -->
  <div *ngIf="showLoading">
    <skeleton-item height="375px" no-animated></skeleton-item>
    <div padding>
      <skeleton-item height="24px"></skeleton-item>
      <skeleton-item height="24px" width="67%" style="margin-bottom: 12px"></skeleton-item>
      <skeleton-item height="14px"></skeleton-item>
      <skeleton-item height="14px"></skeleton-item>
      <skeleton-item width="67%"></skeleton-item>
    </div>
    <div padding>
      <skeleton-item height="52px" radius="8px"></skeleton-item>
      <skeleton-item height="52px" radius="8px"></skeleton-item>
    </div>
    <ion-item no-lines>
      <ion-avatar item-start>
        <skeleton-item height="36px" width="36px" rounded></skeleton-item>
      </ion-avatar>
      <skeleton-item height="16px" width="67%"></skeleton-item>
    </ion-item>
    <ion-row>
      <ion-col>
        <skeleton-item height="60px"></skeleton-item>
      </ion-col>
      <ion-col>
        <skeleton-item height="60px"></skeleton-item>
      </ion-col>
      <ion-col>
        <skeleton-item height="60px"></skeleton-item>
      </ion-col>
      <ion-col>
        <skeleton-item height="60px"></skeleton-item>
      </ion-col>
    </ion-row>
  </div>
  <ion-fab right bottom (click)="viewChat(details.shopInfo)" *ngIf="!showLoading && isLogin && enableBuying">
    <button ion-fab color="dangers">
      <ion-icon name="ios-chatbubbles-outline"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
<ion-footer no-border>
  <ion-row *ngIf="enableBuying">
    <ion-col>
      <button ion-button full color="secondary" [disabled]="showLoading" (click)="addToCart()" *ngIf="enableBuying">
        Add to Cart
      </button>
    </ion-col>
    <ion-col>
      <button ion-button full color="dangers" [disabled]="showLoading" (click)="buyNow()" *ngIf="enableBuying">Buy Now</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!enableBuying">
    <ion-col col-12>
      <button ion-button full color="secondary" [disabled]="showLoading" (click)="updateProduct()" *ngIf="!enableBuying">
        Update Product
      </button>
    </ion-col>
  </ion-row>
</ion-footer>
