<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Product Shipping Settings</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="saveProduct()">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-group *ngFor="let item of shippingArr">
      <ion-item-divider color="light">
        <ion-label color="primary">{{item.name}}</ion-label>
        <ion-toggle [(ngModel)]="item.enable"></ion-toggle>
      </ion-item-divider>
      <ion-item *ngIf="item.enable">
        <ion-label>Shipping Fee</ion-label>
        <ion-input type="number" text-right [(ngModel)]="item.shippingfee" placeholder="0.00"></ion-input>
      </ion-item>
      <ion-item *ngIf="item.enable">
        <ion-label>I will cover the shipping fee</ion-label>
        <ion-toggle color="secondary" mode="md" [(ngModel)]="item.isCover"></ion-toggle>
      </ion-item>
    </ion-item-group>
    <ion-item-divider color="light" text-wrap class="mt-10">
      <small>For the Shipping Fee subsidy programme, the subsidised fee will be reflected on the product details page</small>
    </ion-item-divider>
  </ion-list>
</ion-content>
