<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="type == 'validate'">
    <ion-list class="form">
      <ion-item-divider color="light" text-wrap>
        <small>Keep your account safe, please verify your identity by entering your password</small>
      </ion-item-divider>
      <ion-item>
        <ion-input type="password" placeholder="Current Password" [(ngModel)]="item.password"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block (click)="verifyPassword()">Continue</button>
    </div>
  </div>
  <div *ngIf="type =='password'">
    <ion-list class="form">
      <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input type="password" [(ngModel)]="item.password"></ion-input>
      </ion-item>
      <ion-item no-line *ngIf="errArr.length >0">
        <div *ngFor="let item of errArr">
          <div class="has-error" *ngIf="item.param == 'password'">
            {{item.msg}}
          </div>
        </div>
      </ion-item>
      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="item.confirmpassword"></ion-input>
      </ion-item>
      <ion-item no-line *ngIf="errArr.length >0">
        <div *ngFor="let item of errArr">
          <div class="has-error" *ngIf="item.param == 'confirmpassword'">
            {{item.msg}}
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div padding>
    	<button ion-button block (click)="savePassword()">Confirm</button>
    </div>
  </div>
  <div *ngIf="type =='email'">
    <ion-list class="form">
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="item.email"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
    	<button ion-button block (click)="saveEmail()">Done</button>
    </div>
  </div>
  <div *ngIf="type == 'phone'">
    <ion-list class="form">
      <ion-item-divider color="light" text-wrap>
        <small>Please enter a new phone number to generate a OTP.</small>
      </ion-item-divider>
      <ion-item>
        <ion-input type="number" placeholder="Phone Number" [(ngModel)]="item.phone"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
    	<button ion-button block (click)="savePhone()">Done</button>
    </div>
  </div>
  <div *ngIf="type == 'fax'">
    <ion-list class="form">
      <ion-item-divider color="light" text-wrap>
        <small>Please enter a new fax number.</small>
      </ion-item-divider>
      <ion-item>
        <ion-input type="number" placeholder="Fax Number" [(ngModel)]="item.fax"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
    	<button ion-button block (click)="saveFax()">Done</button>
    </div>
  </div>
</ion-content>
