<ion-list class="form">
  <ion-item-divider color="light" text-wrap text-center>
    <p>Pickup Time</p>
  </ion-item-divider>
  <ion-item>
    <ion-label class="typo-r14">Date</ion-label>
    <ion-datetime class="typo-r14" displayFormat="MM/DD/YYYY" [(ngModel)]="pickup.pickUpDate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label class="typo-r14">Note</ion-label>
    <ion-textarea class="typo-r14" placeholder="Leave a message" [(ngModel)]="pickup.pickupNote"></ion-textarea>
  </ion-item>
  <ion-item-divider color="light" text-wrap>
    <p class="typo-r10">Rescheduling is only allowed at least one day prior to your scheduled pickup date.</p>
  </ion-item-divider>
  <ion-item-divider color="light" text-wrap text-center>
    <p>Pickup Address</p>
  </ion-item-divider>
  <ion-item *ngFor="let item of userAddressArr" class="my-card" tappable (click)="selectAddressItem(item)">
    <h2 class="typo-r14">
        {{item.name}}
        <div class="pull-right">
          <small ion-text color="primary" *ngIf="item.isPickUpAddress">[Pickup]</small>
        </div>
      </h2>
    <div>
      <p>{{item.mobile}}</p>
      <p>{{item.detailAddress}}</p>
      <p>{{item.suburb}} {{item.city}}</p>
      <p>{{item.state}}, {{item.country}} {{item.zipcode}}</p>
    </div>
    <ion-icon name="ios-checkmark" color="primary" *ngIf="item.selected" item-end></ion-icon>
  </ion-item>
  <button ion-item detail-none (click)="addNewAddress()" class="typo-r14">
    Add New Address
    <ion-icon name="add" item-end></ion-icon>
  </button>
</ion-list>
