page-myrating {
  .toolbar-background-ios {
    background: #fff;
  }

  ion-item {
    ion-label {
      white-space: normal !important;
    }
  }

  .productinfo {
    background-color: #f4f4f4 !important;

    .item-inner {
      border-bottom: none !important;
      padding-right: 0px !important;
    }
  }

  .rating-border {
    border-bottom: 0.55px solid #c8c7cc;
    border-top: 0.55px solid #c8c7cc;
  }

  .product_rating {
    .item-inner {
      padding-right: 0px !important;
    }
  }

  .product-rating {
    ul.rating {
      padding: 0px;
      margin: 2px;

      &.rating li {
        background: none;
        color: color($colors, dangers);
        padding: 2px 2px;

        ion-icon {
          font-size: 1.5rem;
        }
      }
    }
  }
}
