<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="pet" mode="md" color="dangers" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="shop">
      Shop Rating
      <small>({{user.rating?.seller_rating_summary?.rating}} of 5)</small>
    </ion-segment-button>
    <ion-segment-button value="buyer">
      Buyer Rating
      <small>({{user.rating?.buyer_rating_summary?.rating}} of 5)</small>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <button ion-button small block color="dangers" (click)="filterRatings('all')">All ({{ratingsCopyArr.length}})</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button small block color="light" (click)="filterRatings(5)">5 Star ({{fiveRate}})</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button small block color="light" (click)="filterRatings(4)">4 Star ({{fourRate}})</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button small block color="light" (click)="filterRatings(3)">3 Star ({{threeRate}})</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button small block color="light" (click)="filterRatings(2)">2 Star ({{twoRate}})</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button small block color="light" (click)="filterRatings(1)">1 Star ({{oneRate}})</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="pet=='shop'">
    <div *ngFor="let item of ratingsArr" class="rating-border">
      <ion-item no-lines>
        <ion-avatar item-start>
          <img [src]="item.buyer.user_img_path" onError="this.src='./assets/imgs/user.png'">
        </ion-avatar>
        <h2 class="typo-r14">{{item.buyer.username}}</h2>
        <div class="product-rating">
          <rating [(ngModel)]="item.rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
            starIconName="star" nullable="false"></rating>
        </div>
        <ion-note class="typo-m12" item-end>{{item.ratedOn | date:'short'}}</ion-note>
      </ion-item>
      <ion-item no-lines text-wrap>
        <ion-avatar item-start></ion-avatar>
        <p class="typo-m12">{{item.comment}}</p>
      </ion-item>
      <ion-item no-lines text-wrap class="product_rating">
        <ion-avatar item-start></ion-avatar>
        <ion-item item-content class="productinfo">
          <ion-thumbnail item-start>
            <img [src]="item.image?.img_path" onError="this.src='./assets/imgs/product/no-preview-150.png'">
          </ion-thumbnail>
          <h2 class="typo-r14">{{item.productName}}</h2>
        </ion-item>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
