<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>Variations</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="saveProduct()">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <div *ngIf="variantsArr && variantsArr.length">
      <ion-item-group *ngFor="let row of variantsArr; let $index = index;">
        <ion-item-divider color="light">
          <button ion-button outline item-end color="danger" (click)="removeVariant($index)">Remove</button>
        </ion-item-divider>
        <ion-item>
          <ion-icon name="ios-list-outline" item-start></ion-icon>
          <ion-label stacked>Type</ion-label>
          <ion-input type="text" value="" placeholder="White S/Red S.." [(ngModel)]="row.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="ios-pricetag-outline" item-start></ion-icon>
          <ion-label stacked>Price</ion-label>
          <ion-input type="number" value="" placeholder="0.00" [(ngModel)]="row.price"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="ios-albums-outline" item-start></ion-icon>
          <ion-label stacked>Stock</ion-label>
          <ion-input type="number" value="" placeholder="1" [(ngModel)]="row.stock"></ion-input>
        </ion-item>
      </ion-item-group>
    </div>
    <ion-item-divider color="light" *ngIf="variantsArr && variantsArr.length">
    </ion-item-divider>
    <ion-item-group>
      <ion-item>
        <ion-icon name="ios-list-outline" item-start></ion-icon>
        <ion-label stacked>Type</ion-label>
        <ion-input type="text" value="" placeholder="White S/Red S.." [(ngModel)]="item.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-pricetag-outline" item-start></ion-icon>
        <ion-label stacked>Price</ion-label>
        <ion-input type="number" value="" placeholder="0.00" [(ngModel)]="item.price"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-albums-outline" item-start></ion-icon>
        <ion-label stacked>Stock</ion-label>
        <ion-input type="number" value="" placeholder="1" [(ngModel)]="item.stock"></ion-input>
      </ion-item>
    </ion-item-group>
    <div padding>
      <button ion-button full (click)="addVariants()">Add Variants</button>
    </div>
  </ion-list>
</ion-content>
