<!--
  Generated template for the MywalletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="shoppyprimary">
    <ion-title>My Wallet</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
<ion-list>
	<ion-item>
		<div text-center>
			<small>Wallet Ballance</small>
			<h1 class="balance">Php 0.00</h1>
		</div>
	</ion-item>
	<ion-item>
		<ion-grid>
			<ion-row>
				<ion-col col-6>
					<div text-center class="withdrawal">
						<ion-icon name="cash"></ion-icon>
						<br>
						<label>WITHDRAWAL</label>
					</div>
				</ion-col>
				<ion-col col-6>
					<div text-center class="transaction">
						<ion-icon name="copy"></ion-icon>
						<br>
						<label>TRANSACTIONS</label>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-item>
</ion-list>
</ion-content>
