page-mywallet {
  .toolbar-background-ios {
    background: #fff;
  }

  .balance {
    font-size: 3rem !important;
    color: #488aff;
    font-weight: 500;
  }

  .withdrawal {
    color: color($colors, dangers);
    ion-icon {
      font-size: 2.2em;
    }
    label {
      font-size: 0.7em;
    }
  }

  .transaction {
    color: #488aff;
    ion-icon {
      font-size: 2.2em;
    }
    label {
      font-size: 0.7em;
    }
  }
}
