<ion-list *ngIf="mode =='entry'" class="form">
  <ion-item>
    <ion-label floating>Full Name in the Bank</ion-label>
    <ion-input type="text" [(ngModel)]="bank.name"></ion-input>
  </ion-item>
  <ion-item no-line *ngIf="errArr.length >0">
    <div *ngFor="let item of errArr">
      <div class="has-error" *ngIf="item.param == 'name'">
        {{item.msg}}
      </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label floating>Account No</ion-label>
    <ion-input type="text" [(ngModel)]="bank.accountNo"></ion-input>
  </ion-item>
  <ion-item no-line *ngIf="errArr.length >0">
    <div *ngFor="let item of errArr">
      <div class="has-error" *ngIf="item.param == 'accountNo'">
        {{item.msg}}
      </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label floating>Bank Name</ion-label>
    <ion-select [(ngModel)]="bank.bankId">
      <ion-option [value]="item.bankId" *ngFor="let item of banksArr">{{item.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item no-line *ngIf="errArr.length >0">
    <div *ngFor="let item of errArr">
      <div class="has-error" *ngIf="item.param == 'bankId'">
        {{item.msg}}
      </div>
    </div>
  </ion-item>
</ion-list>
<ion-list *ngIf="mode =='view'">
  <ion-item>
    <ion-label stacked>Full Name in the Bank</ion-label>
    <ion-label>{{bank.name}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label stacked>Account No</ion-label>
    <ion-label>{{bank.accountNo}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label stacked>Bank Name</ion-label>
    <ion-label>{{bank.bankName}}</ion-label>
  </ion-item>
</ion-list>
